@model BaseDeProjetos.Models.Projeto
@using BaseDeProjetos.Helpers
@using System.Globalization
@{
    var nivelUsuario = ViewData["NivelUsuario"];
}
<div class="modal fade" id="modalDetalhes-@Model.Id" tabindex="-1" aria-labelledby="modalDetalhes-@Model.Id-Label"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalDetalhes-@Model.Id-Label">Detalhes do Projeto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column gap-1">
                <h1 class="app-card-title">Empresa:</h1>
                <span>@Model.Empresa.Nome</span>
                <h1 class="app-card-title">Projeto:</h1>
                <span>@Model.NomeProjeto</span>
                <h1 class="app-card-title">Status:</h1>
                <span>@Model.Status.GetDisplayName()</span>
                <h1 class="app-card-title">Valor:</h1>
                <span>R$ @Helpers.FormatarValoresDashboards((decimal)Model.ValorAporteRecursos)</span>
                <h1 class="app-card-title">Data de Início:</h1>
                <span>@Model.DataInicio.ToString("dd/MM/yyyy")</span>
                <h1 class="app-card-title">Data de Encerramento:</h1>
                <span>@Model.DataEncerramento.ToString("dd/MM/yyyy")</span>
                <h1 class="app-card-title">Duração em Meses:</h1>
                <span>@Model.DuracaoProjetoEmMeses</span>
                <h1 class="app-card-title">Equipe do Projeto:</h1>
                <div class="accordion" id="accordionEquipe">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingEquipe">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseEquipe" aria-expanded="true" aria-controls="collapseEquipe">
                                <span id="qtdMembros" class="m-1">@Model.MembrosEquipe.Count</span><span
                                    class="m-1">Membros</span>
                            </button>
                        </h2>
                        <div id="collapseEquipe" class="accordion-collapse collapse" aria-labelledby="headingEquipe"
                            data-bs-parent="#accordionEquipe">
                            <div class="accordion-body">
                                <ul id="lista"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @if (nivelUsuario.ToString() == "PMO" || nivelUsuario.ToString() == "Dev" || nivelUsuario.ToString() ==
                        "Supervisor")
                {
                    <div class="d-flex">
                        <a class="btn btn-outline-primary" data-bs-toggle="modal"
                            href="#incluirIndicadorProjetoModal-@Model.Id" role="button">
                            Incluir Indicador
                        </a>
                        <a class="btn btn-outline-primary" data-bs-toggle="modal"
                            href="#detalhesIndicadorProjetoModal-@Model.Id" role="button">
                            Visualizar Indicadores
                        </a>
                    </div>
                }
                <div class="d-flex">
                    <a class="btn btn-outline-primary" data-bs-toggle="modal" href="#editarProjetoModal-@Model.Id"
                        role="button">
                        Editar
                    </a>
                    <a class="btn btn-outline-primary" data-bs-toggle="modal" href="#deletarProjetoModal-@Model.Id"
                        role="button">
                        Deletar
                    </a>
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}