@model BaseDeProjetos.Models.Prospeccao
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Adicionar Prospecção";
    if (!(Context.Session.GetString("_Casa") is null))
    {
        ViewData["Area"] = Context.Session.GetString("_Casa");
    } 
}
<h1>Criar</h1>

<h4>Prospecção</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" class="row" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <fieldset class="col-4 card">
                <legend> Dados da prospecção </legend>
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    @{
                        var unique_id = $"prosp_{DateTime.Now.Ticks}";
                    }
                    <input asp-for="Id" class="form-control" value="@unique_id" readonly />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Casa" class="control-label"></label>
                    @if (!(Context.Session.GetString("_Casa") is null))
                    {
                        <select asp-for="Casa" class="form-control">
                            @{
                                var enum_v = (int)Enum.Parse(typeof(Instituto), Context.Session.GetString("_Casa"), true);
                            }
                            <option value="@enum_v" selected="selected">@Context.Session.GetString("_Casa")</option>
                        </select>
                    }
                    else
                    {
                        <select asp-for="Casa" class="form-control"
                        asp-items="Html.GetEnumSelectList<Instituto>().OrderBy(p=>p.Text)"></select>
                    }
                    <span asp-validation-for="Casa" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NomeProspeccao" class="control-label"></label>
                    <input asp-for="NomeProspeccao" class="form-control"
                        placeholder="Um nome amigável para a prospecção. Ex.: Proposta dos biossurfactantes" />
                    <span asp-validation-for="NomeProspeccao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TipoContratacao" class="control-label"></label>
                    <select asp-for="TipoContratacao" class="form-control"
                        asp-items="Html.GetEnumSelectList<TipoContratacao>().OrderBy(p=>p.Text)"></select>
                    <span asp-validation-for="TipoContratacao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LinhaPequisa" class="control-label"></label>
                    <select asp-for="LinhaPequisa" class="form-control"
                        asp-items="Html.GetEnumSelectList<LinhaPesquisa>().OrderBy(p=>p.Text)"></select>
                    <span asp-validation-for="LinhaPequisa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PotenciaisParceiros" class="control-label"></label>
                    <input asp-for="PotenciaisParceiros" class="form-control"
                        placeholder="Uma lista de potenciais parceiros, separados por PONTO E VIRGULA. Ex.: Pepsico; Coca-cola" />
                    <span asp-validation-for="PotenciaisParceiros" class="text-danger"></span>
                </div>
            </fieldset>

            <div class="col-4 card">
                <fieldset id="group">
                <legend>Informações da Empresa</legend>

                    <label asp-for="Empresa" class="control-label"></label>
                    <select asp-for="Empresa.Id" class="form-control"  asp-items='@(ViewData["Empresas"] as SelectList).OrderBy(p=>p.Text)'>
                        <option value="-1">Selecione a empresa</option>
                    </select>
                    <span asp-validation-for="Empresa.Id" class="text-danger"></span>
                </fieldset>
                <hr/>
                <fieldset>
                    <legend>Dados do contato</legend>
                    <div class="form-group">
                        <label asp-for="Contato.Nome" class="control-label"></label>
                        <input asp-for="Contato.Nome" class="form-control" />
                        <span asp-validation-for="Contato.Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contato.Cargo" class="control-label"></label>
                        <input asp-for="Contato.Cargo" class="form-control" />
                        <span asp-validation-for="Contato.Cargo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contato.Telefone" class="control-label"></label>
                        <input asp-for="Contato.Telefone" class="form-control"
                            onkeypress="$(this).mask('(00) 0000-00009')" />
                        <span asp-validation-for="Contato.Telefone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contato.Email" class="control-label"></label>
                        <input type="email" asp-for="Contato.Email" class="form-control" />
                        <span asp-validation-for="Contato.Email" class="text-danger"></span>
                    </div>
                </fieldset>
            </div>


            <fieldset class="col-4 card">
                <legend>Informações do Contato Inicial</legend>
                <div class="form-group">
                    <label asp-for="Status[0].Data" class="control-label"></label>
                    <input type="date" class="form-control" asp-for="Status[0].Data" value="@DateTime.Now" required />
                    <span asp-validation-for="Status[0].Data" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status[0].OrigemID" class="control-label"></label>
                    <input class="form-control" asp-for="Status[0].OrigemID" value="@unique_id" disabled />
                    <span asp-validation-for="Status[0].OrigemID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status[0].Anotacoes" class="control-label"></label>
                    <textarea class="form-control" asp-for=" Status[0].Anotacoes" rows="3"></textarea>
                    <span asp-validation-for="Status[0].Anotacoes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status[0].Status" class="control-label"></label>
                    <select asp-for="Status[0].Status" class="form-control" disabled>
                        <option value="@StatusProspeccao.ContatoInicial"> Contato Inicial</option>
                    </select>
                    <span asp-validation-for="Status[0].Status" class="text-danger"></span>
                </div>
            </fieldset>

            <div class="form-group">
                <input type="submit" value="Incluir" class="btn btn-primary" />
                <br>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" asp-route-casa='@ViewData["Area"]'>Voltar</a>
</div>
<script>
    var dateControl = document.querySelector('input[type="date"]');
    dateControl.max = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().split("T")[0];
</script>
