@model BaseDeProjetos.Models.Prospeccao
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Adicionar Prospecção";
    if (!(Context.Session.GetString("_Casa") is null))
    {
        ViewData["Area"] = Context.Session.GetString("_Casa");
    } 
}
<script>
    function ChecarUsuario() {
        $("#StatusCNPJ").html("Checando...");
        $.post("@Url.Action("SeExisteCnpj", "Empresas")",
            {
                cnpj: $("#valor_cnpj").val()
            },
        function (data) {
            if (data == 0) {
                $("#StatusCNPJ").html('');
                $("#valor_cnpj").css("border-color", "");
                validarCNPJ();
            } else {
                $("#StatusCNPJ").html('<font color="Red">CNPJ já cadastrado.</font>');
                $("#valor_cnpj").css("border-color", "Red");
            }
        });
    }
</script>
<h1>Criar</h1>
<h4>Prospecção</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" class="row" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <fieldset class="col-4">
                <legend> Dados da prospecção </legend>
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    @{
                        var unique_id = $"prosp_{DateTime.Now.Ticks}";
                    }
                    <input asp-for="Id" class="form-control" value="@unique_id" readonly />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Casa" class="control-label"></label>
                    @if (!(Context.Session.GetString("_Casa") is null))
                    {
                        <select asp-for="Casa" class="form-control">
                            @{
                                var enum_v = (int)Enum.Parse(typeof(Instituto), Context.Session.GetString("_Casa"), true);
                            }
                            <option value="@enum_v" selected="selected">@Context.Session.GetString("_Casa")</option>
                        </select>
                    }
                    else
                    {
                        <select asp-for="Casa" class="form-control"
                        asp-items="Html.GetEnumSelectList<Instituto>().OrderBy(p=>p.Text)"></select>
                    }
                    <span asp-validation-for="Casa" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NomeProspeccao" class="control-label"></label>
                    <input asp-for="NomeProspeccao" class="form-control"
                        placeholder="Um nome amigável para a prospecção. Ex.: Proposta dos biossurfactantes" />
                    <span asp-validation-for="NomeProspeccao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TipoContratacao" class="control-label"></label>
                    <select asp-for="TipoContratacao" class="form-control"
                        asp-items="Html.GetEnumSelectList<TipoContratacao>().OrderBy(p=>p.Text)"></select>
                    <span asp-validation-for="TipoContratacao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LinhaPequisa" class="control-label"></label>
                    <select asp-for="LinhaPequisa" class="form-control"
                        asp-items="Html.GetEnumSelectList<LinhaPesquisa>().OrderBy(p=>p.Text)"></select>
                    <span asp-validation-for="LinhaPequisa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PotenciaisParceiros" class="control-label"></label>
                    <input asp-for="PotenciaisParceiros" class="form-control"
                        placeholder="Uma lista de potenciais parceiros, separados por PONTO E VIRGULA. Ex.: Pepsico; Coca-cola" />
                    <span asp-validation-for="PotenciaisParceiros" class="text-danger"></span>
                </div>
            </fieldset>

            <div class="col-4">
                <fieldset id="group">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <button class="col-12 btn btn-primary" data-parent="#group" data-toggle="collapse"
                                data-target="#existente" aria-expanded="true" aria-controls="existente" type="button">
                                A empresa já foi cadastrada
                            </button>
                            <button class="col-12 btn btn-primary" data-parent="#group" data-toggle="collapse"
                                data-target="#inexistente" aria-expanded="true" aria-controls="inexistente"
                                type="button">
                                É o primeiro registro da empresa
                            </button>
                        </div>
                    </div>

                    <legend> Informações da Empresa</legend>

                    <div class="accordion-group">

                        <!-- Empresa existente -->
                        <div class="form-group collapse" data-parent="#group" id="existente">
                            <label asp-for="Empresa" class="control-label"></label>
                            <select asp-for="Empresa.Id" class="form-control"
                                asp-items="@(ViewData["Empresas"] as SelectList).OrderBy(p=>p.Text)">
                                <option value="-1">Selecione a empresa</option>
                            </select>
                            <span asp-validation-for="Empresa.Id" class="text-danger"></span>
                        </div>

                        <!-- Empresa nova -->
                        <div class="collapse" data-parent="#group" id="inexistente">
                             <div class="form-group">
                                <label asp-for="Empresa.CNPJ" class="control-label"></label><span>   (Apenas números)</span>
                                <input asp-for="Empresa.CNPJ" id="valor_cnpj" class="form-control" maxlength="14"/>
                                <button onclick="ChecarUsuario()" type="button">Buscar</button>
                                <p id="StatusCNPJ"></p>
                            </div>
                            <h6 id="TipoEmpresaStatus">Tipo: </h6>
                            <h6 id="SituacaoEmpresaStatus">Situação: </h6>
                            <div class="form-group">
                                <label asp-for="Empresa.Nome" class="control-label"></label>
                                <input asp-for="Empresa.Nome" id="NomeEmpresaCadastro" class="form-control" value="" readonly/>
                            </div>
                            <div>
                                <label asp-for="Empresa.Estado" class="control-label"></label>
                                <input id="EstadoEmpresaCadastro" class="form-control" value="" readonly/> <!--VISUAL APENAS-->
                                <select asp-for="Empresa.Estado" id="EstadoEmpresaCadastroINT" style="display: none;" asp-items="Html.GetEnumSelectList<Estado>()"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Empresa.Segmento" class="control-label"></label>
                                <select asp-for="Empresa.Segmento" class="form-control" asp-items="Html.GetEnumSelectList<SegmentoEmpresa>().OrderBy(p=>p.Text)"></select>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <hr />
                <fieldset>
                    <legend>Dados do contato</legend>
                    <div class="form-group">
                        <label asp-for="Contato.Nome" class="control-label"></label>
                        <input asp-for="Contato.Nome" class="form-control" />
                        <span asp-validation-for="Contato.Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contato.Cargo" class="control-label"></label>
                        <input asp-for="Contato.Cargo" class="form-control" />
                        <span asp-validation-for="Contato.Cargo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contato.Telefone" class="control-label"></label>
                        <input asp-for="Contato.Telefone" class="form-control"
                            onkeypress="$(this).mask('(00) 0000-00009')" />
                        <span asp-validation-for="Contato.Telefone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contato.Email" class="control-label"></label>
                        <input type="email" asp-for="Contato.Email" class="form-control" />
                        <span asp-validation-for="Contato.Email" class="text-danger"></span>
                    </div>
                </fieldset>
            </div>


            <fieldset class="col-4">
                <legend>Informações do Contato Inicial</legend>
                <div class="form-group">
                    <label asp-for="Status[0].Data" class="control-label"></label>
                    <input type="date" class="form-control" asp-for="Status[0].Data" value="@DateTime.Now" required />
                    <span asp-validation-for="Status[0].Data" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status[0].OrigemID" class="control-label"></label>
                    <input class="form-control" asp-for="Status[0].OrigemID" value="@unique_id" disabled />
                    <span asp-validation-for="Status[0].OrigemID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status[0].Anotacoes" class="control-label"></label>
                    <textarea class="form-control" asp-for=" Status[0].Anotacoes" rows="3"></textarea>
                    <span asp-validation-for="Status[0].Anotacoes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status[0].Status" class="control-label"></label>
                    <select asp-for="Status[0].Status" class="form-control" disabled>
                        <option value="@StatusProspeccao.ContatoInicial"> Contato Inicial</option>
                    </select>
                    <span asp-validation-for="Status[0].Status" class="text-danger"></span>
                </div>
            </fieldset>

            <div class="form-group">
                <input type="submit" value="Incluir" class="btn btn-primary" />
                <br>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" asp-route-casa="@ViewData["Area"]">Voltar</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
