@model BaseDeProjetos.Models.FollowUp
@using Microsoft.AspNetCore.Http
@using System
@{
    ViewData["Title"] = "Atualizar Prospecção";
    if (!(Context.Session.GetString("_Casa") is null))
    {
        ViewData["Area"] = Context.Session.GetString("_Casa");
    }
    string valor_contato;
}

@{
    var prosp = ViewData["prosp"] as Prospeccao;
}


<div class="row" style="padding-left: 25em; padding-right: 10em">
    <h1>Adicionar</h1>
    <h4>Status Prospecção</h4>
    <hr />
    <div class="col-md-4">

        <fieldset>
            <legend> Dados da prospecção </legend>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input type="text" class="form-control" value="@prosp.Id" readonly />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label> Empresa </label>
                <input type="text" class="form-control" value="@prosp.Empresa.Nome" readonly />
            </div>
            <div class="form-group">
                <label> Casa </label>
                <input type="text" class="form-control" value="@prosp.Casa" readonly />
            </div>
            <div class="form-group">
                <label> Tipo de Contratação </label>
                <input type="text" class="form-control" value="@prosp.TipoContratacao" readonly />
            </div>
            <div class="form-group">
                <label> Status </label>
                <input type="text" class="form-control" value="@prosp.Status.OrderBy(p=> p.Data).Last().Status.ToString()" readonly />
            </div>

            <div class="form-group">
                <label> Contato da prospecção</label>
                @if (prosp.Contato == null)
                {
                    valor_contato = "SemNome";
                }
                else
                {
                    valor_contato = prosp.Contato.Nome;
                }
                <input type="text" class="form-control" value="@valor_contato" readonly />
            </div>

            <div class="form-group">
                <label>Informações da prospecção (primeiro contato)</label>
                <input type="text" class="form-control" value="@prosp.Status.OrderBy(p=>p.Data).First().Anotacoes" readonly />
            </div>
            <br />
        </fieldset>
    </div>
    <hr />
    <div class="col-md-8">
        <form asp-controller="FunilDeVendas" asp-action="Atualizar" method="POST">
            <input asp-for="OrigemID" type="hidden" value='@ViewData["origem"]' />

            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" type="date" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Status" class="control-label"></label>
                @if ((int)prosp.Status.OrderBy(p => p.Data).Last().Status == (int)StatusProspeccao.Planejada)
                {
                    <select asp-for="@Model.Status" class="form-control" asp-items="Html.GetEnumSelectList<StatusProspeccao>().Where(p => Int32.Parse(p.Value) <= (int)prosp.Status.OrderBy(p=> p.Data).Last().Status)"></select>
                }
                else
                {
                    <select asp-for="@Model.Status" class="form-control" asp-items="Html.GetEnumSelectList<StatusProspeccao>().Where(p => Int32.Parse(p.Value) >= (int)prosp.Status.OrderBy(p => p.Data).Last().Status)"></select>
                }

                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anotacoes" class="control-label"></label>
                <textarea class="form-control" asp-for=" Anotacoes" rows="3"></textarea>
                <span asp-validation-for="Anotacoes" class="text-danger"></span>
            </div>

            <hr />
            <div id="naoconversao" style="display:none">
                <div class="form-group">
                    <label class="control-label"> Motivo de não conversão:</label>
                    <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<MotivosNaoConversao>()"></select>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Incluir" class="btn btn-primary" />
            </div>
            <br />
        </form>
    </div>
    <br>
    <div>
        <a asp-action="Details" asp-route-id='@prosp.Id' class="btn btn-primary">Voltar</a>
    </div>
</div>
<script>
    var dateControl = document.querySelector('input[type="date"]');
    dateControl.max = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().split("T")[0];
</script>