@model BaseDeProjetos.Models.Prospeccao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prospeccao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Casa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Casa)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoContratacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoContratacao)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinhaPequisa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinhaPequisa)
        </dd>
    </dl>

    <hr />
    <h5> Atualizações</h5>
    <hr />
    @foreach(var followup in Model.Status)
    {
        <div class="card">
           <h6 class="card-title">@followup.Data - @followup.Status</h6> 
            <div class="card-body">
                <div class="card-text">
                    @followup.Anotacoes
                </div>
            </div>
            <div class="card-footer">
                Vence em: @followup.Vencimento
            </div>
        </div>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
