@model BaseDeProjetos.Models.Prospeccao
@using Microsoft.AspNetCore.Http
@using System.Globalization

@{
    ViewData["Title"] = "Detalhes";
    if (!(Context.Session.GetString("_Casa") is null))
    {
        ViewData["Area"] = Context.Session.GetString("_Casa");
    }
}

<!-- Modal Edit-->
    
<div style="padding-left: 25em; padding-right: 10em">
    
    <form asp-action="Edit" asp-route-id="@Model.Id" method="post">
        <partial name="Edit" model="@Model" />
    </form>
    <h1>Detalhes da prospecção</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.UserName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Casa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Casa)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoContratacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoContratacao)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LinhaPequisa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LinhaPequisa)
        </dd>
    </dl>

    <hr />
    <h5> Histórico de Atualizações </h5>
    <hr />
    @foreach (var followup in Model.Status.OrderBy(s => s.Data).ToList())
    {
        <div class="card m-1">
            <div class="card-body">
                <h6 class="card-title">
                    @followup.Data.ToString("dd/MM/yyyy", CultureInfo.CreateSpecificCulture("pt-BR")) - @(followup.Status.GetDisplayName())
                </h6>
                <div class="card-text">
                    @followup.Anotacoes
                </div>
            </div>
            <div class="card-footer">
                Vence em: @followup.Vencimento.ToString("dd/MM/yyyy", CultureInfo.CreateSpecificCulture("pt-BR"))
                <hr />
                <a href="../RemoverFollowUp/@followup.Id">Remover</a> |
                <a href="../EditarFollowUp/@followup.Id">Editar</a>
            </div>
        </div>
    }
    <hr />
    <div class="row">
        <h5 class="col-12">Ações</h5>
        <hr />
        <a class="col btn btn-primary" asp-action="Atualizar" asp-route-id="@Model.Id">Adicionar Status</a>
        <a class="btn btn-outline-primary" data-bs-toggle="modal" href="#editarProspModal-@Model.Id-Toggle" role="button">Editar Prospecção</a>
        <a class="col btn btn-primary" asp-action="Index" asp-route-casa='@ViewData["Area"]'>Voltar</a>
    </div>
</div>
