@model BaseDeProjetos.Models.Prospeccao
@using Microsoft.AspNetCore.Http
@using System.Globalization

@{
    ViewData["Title"] = "Edit";
    if (!(Context.Session.GetString("_Casa") is null))
    {
        ViewData["Area"] = Context.Session.GetString("_Casa");
    }
}
<h1>Editar</h1>

<h4>Prospecção</h4>
<hr />
<div class="row gx-2 gy-2">
    <form asp-action="Edit" method="post" class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <fieldset class="card col-6">
            <div class="card-body card-text">
                <legend> Dados da prospecção </legend>
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" readonly />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Casa" class="control-label"></label>
                    <select asp-for="Casa" class="form-control" asp-items="Html.GetEnumSelectList<Instituto>()"></select>
                    <span asp-validation-for="Casa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NomeProspeccao" class="control-label"></label>
                    <input asp-for="NomeProspeccao" class="form-control" placeholder="Um nome amigável para a prospecção. Ex.: Proposta dos biossurfactantes" />
                    <span asp-validation-for="NomeProspeccao" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="TipoContratacao" class="control-label"></label>
                    <select asp-for="TipoContratacao" class="form-control" asp-items="Html.GetEnumSelectList<TipoContratacao>()"></select>
                    <span asp-validation-for="TipoContratacao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LinhaPequisa" class="control-label"></label>
                    <select asp-for="LinhaPequisa" class="form-control" asp-items="Html.GetEnumSelectList<LinhaPesquisa>()"></select>
                    <span asp-valdation-for="LinhaPequisa" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PotenciaisParceiros" class="control-label"></label>
                    <input asp-for="PotenciaisParceiros" class="form-control" placeholder="Uma lista de potenciais parceiros, separados por PONTO E VIRGULA. Ex.: Pepsico; Coca-cola" />
                    <span asp-validation-for="PotenciaisParceiros" class="text-danger"></span>
                </div>

                <label class="control-label"> Líder da Prospecção</label>
                <select asp-for="Usuario.Id" class="form-control" asp-items="@ViewData["Equipe"] as SelectList">
                    <option value="@Model.Usuario" selected disabled>@Model.Usuario.UserName</option>
                </select>
            </div>
        </fieldset>

        <div class="card col-6">
            <div class="card-text card-body">
                <legend>Dados da Empresa</legend>
                <fieldset id="group1">
                    <label asp-for="Empresa" class="control-label"></label>
                    <select asp-for="Empresa.Id" class="form-select form-select-sm" asp-items="@(ViewData["Empresas"] as SelectList).OrderBy(p=>p.Text)"></select>
                    <span asp-validation-for="Empresa.Id" class="text-danger"></span>

                </fieldset>
                <hr />
                <fieldset>
                    <legend>Dados do contato</legend>
                    <div class="form-group">
                        <label asp-for="Contato.Nome" class="control-label"></label>
                        <input asp-for="Contato.Nome" class="form-control" />
                        <span asp-validation-for="Contato.Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contato.Cargo" class="control-label"></label>
                        <input asp-for="Contato.Cargo" class="form-control" />
                        <span asp-validation-for="Contato.Cargo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contato.Telefone" class="control-label"></label>
                        <input asp-for="Contato.Telefone" class="form-control" onkeypress="$(this).mask('(00) 0000-00009')" />
                        <span asp-validation-for="Contato.Telefone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contato.Email" class="control-label"></label>
                        <input type="email" asp-for="Contato.Email" class="form-control" />
                        <span asp-validation-for="Contato.Email" class="text-danger"></span>
                    </div>
                </fieldset>
            </div>
        </div>



        <fieldset class="card col-6">
            <legend> Dados Financeiros</legend>
            <div class="form-group">
                <label asp-for="ValorEstimado" class="control-label"></label>
                <input asp-for="ValorEstimado" type="number" class="form-control" value='@Model.ValorEstimado.ToString("F2",CultureInfo.CreateSpecificCulture("en-US"))' />
                <span asp-validation-for="ValorEstimado" class="text-danger"></span>
            </div>

                @if (Model.Status.Any(p => p.Status == StatusProspeccao.ComProposta))
                {
                <div class="form-group">
                    <label asp-for="ValorProposta" class="control-label"></label>
=======
                    <input asp-for="ValorProposta" type="number" class="form-control" value='@Model.ValorProposta.ToString("F2",CultureInfo.CreateSpecificCulture("en-US"))' />
>>>>>>> master
                    <span asp-validation-for="ValorProposta" class="text-danger"></span>
                </div>
                }
        </fieldset>

        <fieldset class="card col-6">
            <legend>Informações do Contato Inicial</legend>
            <div class="form-group">
                <label asp-for="Status[0].Data" class="control-label"></label>
                <input class="form-control" type="date" asp-for="Status[0].Data" readonly />
                <span asp-validation-for="Status[0].Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status[0].OrigemID" class="control-label"></label>
                <input class="form-control" asp-for="Status[0].OrigemID" disabled />
                <span asp-validation-for="Status[0].OrigemID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status[0].Anotacoes" class="control-label"></label>
                <textarea class="form-control" asp-for=" Status[0].Anotacoes" rows="3" readonly></textarea>
                <span asp-validation-for="Status[0].Anotacoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status[0].Status" class="control-label"></label>
                <select asp-for="Status[0].Status" class="form-control" disabled>
                    <option value="@StatusProspeccao.ContatoInicial">@StatusProspeccao.ContatoInicial</option>
                </select>
                <span asp-validation-for="Status[0].Status" class="text-danger"></span>
            </div>
        </fieldset>

        <div class="form-group">
            <input type="submit" value="Salvar" class="btn btn-primary" />
        </div>
    </form>
</div>
<br>
<div>
    <a asp-action="Index" asp-route-casa='@ViewData["Area"]'>Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }