@model IEnumerable<BaseDeProjetos.Models.Prospeccao>
@{
    ViewData["Title"] = "Index";
    List<Prospeccao> ativas = ViewBag.Ativas as List<Prospeccao>;
    List<Prospeccao> propostas = ViewBag.EmProposta as List<Prospeccao>;
    List<Prospeccao> concluidas = ViewBag.Concluidas as List<Prospeccao>;
    List<Prospeccao> planejadas = ViewBag.Planejadas as List<Prospeccao>;
    List<Instituto> institutos = new List<Instituto>((Instituto[])Enum.GetValues(typeof(Instituto))).Where(c=>c!= Instituto.Super).ToList();
}
@**@
<div class="row card">
    <div class=" col-12 card-body">
        <h1 class="card-title">Prospecções @ViewData["Area"]</h1>
        <div>
            <div>
                @*
                <form>
                    <span style="font-weight: bold;">Selecione a casa: </span><br />
                    @foreach(Instituto casa in institutos)
                    {
                        string casa_nome = Enum.GetName(typeof(Instituto), casa);
                        string id_casa = "caixa" + casa_nome;

                        <label class="form-check-label" for="@id_casa">@casa_nome</label>
                        <input class="form-check-input" type="checkbox" id="@id_casa" style="margin-right: 30px;" name="casa" value="@casa_nome">

                    }
                    <button class="btn btn-primary" type="button" onclick="CasasFunil()">Carregar</button>
                </form>
                *@
                <div>
                    <h5 class="text-white h4">Menu</h5>
                    <div class="row g-3">
                        <div class="col-2">
                            <span>Selecione o ano:</span>
                            <select class="form-select" id="ano">                                
                                <option value="Todos" selected>Todos</option>
                                <option value="2022">2022</option>
                                <option value="2021">2021</option>
                                <option value="2020">2020</option>
                                <option value="2019">2019</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <form asp-controller="FunilDeVendas" asp-action="Index">
                                <input class="input-group" name="ano" value="Todos" id="inputLiderOuEmpresa" style="display: none; padding: 0px; margin: 0px;"/>                         
                                <br />
                                <div class="input-group mb-3">                                    
                                    <input class="form-control" type="text" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Pesquise pelo líder ou empresa"/>
                                    <button type="submit" class="btn btn-primary">Procurar</button>
                                    <button type="submit" class="btn btn-primary" style="margin-left: 15px;">Lista Completa</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-4"><br />
                            <a asp-action="Create" style="text-decoration:none;" class="btn btn-primary">Nova Prospecção</a>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid justify-content-end">
                </div>
            </nav>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Gráficos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="ativas-tab" data-toggle="tab" href="#ativas" role="tab" aria-controls="ativas" aria-selected="false">Ativas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="propostas-tab" data-toggle="tab" href="#propostas" role="tab" aria-controls="propostas" aria-selected="false">Com Proposta</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="concluidas-tab" data-toggle="tab" href="#concluidas" role="tab" aria-controls="concluidas" aria-selected="false">Concluídas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="planejadas-tab" data-toggle="tab" href="#planejadas" role="tab" aria-controls="planejadas" aria-selected="true">Planejadas</a>
            </li>
        </ul>
        

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div>
                    <partial name="graph_funil" view-data="@ViewData" model="@Model" />
                </div>
            </div>
            <div class="tab-pane fade" id="ativas" role="tabpanel" aria-labelledby="ativas-tab">
                <div>
                    <partial name="ListaProsp" view-data="@ViewData" model="@ativas" />
                </div>
            </div>
            <div class="tab-pane fade" id="propostas" role="tabpanel" aria-labelledby="propostas-tab">
                <div>
                    <partial name="ListaProsp" view-data="@ViewData" model="@propostas" />
                </div>
            </div>
            <div class="tab-pane fade" id="concluidas" role="tabpanel" aria-labelledby="concluidas-tab">
                <div>
                    <partial name="ListaProsp" view-data="@ViewData" model="@concluidas" />
                </div>
            </div>
            <div class="tab-pane fade" id="planejadas" role="tabpanel" aria-labelledby="planejadas-tab">
                <div>
                    <partial name="ListaProsp" view-data="@ViewData" model="@planejadas" />
                </div>
            </div>
        </div>
    </div>
</div>