@*
@model IEnumerable<BaseDeProjetos.Models.Prospeccao>
@{
    ViewData["Title"] = "Index";
    List<Prospeccao> ativas = ViewBag.Ativas as List<Prospeccao>;
    List<Prospeccao> propostas = ViewBag.EmProposta as List<Prospeccao>;
    List<Prospeccao> concluidas = ViewBag.Concluidas as List<Prospeccao>;
    List<Prospeccao> planejadas = ViewBag.Planejadas as List<Prospeccao>;
    List<Prospeccao> erradas = ViewBag.Erradas as List<Prospeccao>;
    List<Instituto> institutos = new List<Instituto>((Instituto[])Enum.GetValues(typeof(Instituto))).Where(c=>c!= Instituto.Super).ToList();
}
<script>
    function getSelected() {
        var year = location.href.split('?')[1].split('&');

        for (let i = 0; i < year.length; i++) {
            if (year[i].includes('ano')) {
                var ano = year[i].split('=')[1];
                return ano;
            }
            else {
                return document.getElementById('ano').value;
            }
        }
    }

    function inserirAnoAtual() {
        setInterval(() => {
            document.querySelector("#ano").value = getSelected();
        }, 200)             
    }
    inserirAnoAtual();

</script>
<div class="row card">
    <div class=" col-12 card-body">
        <h1 class="card-title">Prospecções @ViewData["Area"]</h1>
        <div>
            <div>
                <div>
                    <h5 class="text-white h4">Menu</h5>
                    <div class="row g-3">
                        <div class="col-2">
                            <span>Selecione o ano:</span>
                            <select class="form-select" id="ano" name="ano" onchange="updateLink()">                                
                                <option value="Todos">Todos</option>
                                <option value="2022">2022</option>
                                <option value="2021">2021</option>
                                <option value="2020">2020</option>
                                <option value="2019">2019</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <form asp-controller="FunilDeVendas" asp-action="Index">
                                <input class="input-group" name="ano" value="Todos" id="inputLiderOuEmpresa" style="display: none; padding: 0px; margin: 0px;"/>                         
                                <br />
                                <div class="input-group mb-3">                                    
                                    <input class="form-control" type="text" name="SearchString" value='@ViewData["CurrentFilter"]' placeholder="Pesquise pelo líder ou empresa"/>
                                    <button type="submit" class="btn btn-primary">Procurar</button>
                                    <button type="submit" class="btn btn-primary" style="margin-left: 15px;">Lista Completa</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-4"><br />
                            <a asp-action="Create" style="text-decoration:none;" class="btn btn-primary">Nova Prospecção</a>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid justify-content-end">
                </div>
            </nav>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="ativas-tab" data-toggle="tab" href="#ativas" role="tab" aria-controls="ativas" aria-selected="false">Ativas (@ativas.Count())</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="propostas-tab" data-toggle="tab" href="#propostas" role="tab" aria-controls="propostas" aria-selected="false">Com Proposta (@propostas.Count())</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="concluidas-tab" data-toggle="tab" href="#concluidas" role="tab" aria-controls="concluidas" aria-selected="false">Concluídas (@concluidas.Count())</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="planejadas-tab" data-toggle="tab" href="#planejadas" role="tab" aria-controls="planejadas" aria-selected="true">Planejadas (@planejadas.Count())</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="erradas-tab" data-toggle="tab" href="#erradas" role="tab" aria-controls="erradas" aria-selected="true">Erradas (@erradas.Count())</a>
            </li>
        </ul>
        

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div>
                    <partial name="graph_funil" view-data="@ViewData" model="@Model" />
                </div>
            </div>
            <div class="tab-pane fade" id="ativas" role="tabpanel" aria-labelledby="ativas-tab">
                <div>
                    <partial name="ListaProsp" view-data="@ViewData" model="@ativas" />
                </div>
            </div>
            <div class="tab-pane fade" id="propostas" role="tabpanel" aria-labelledby="propostas-tab">
                <div>
                    <partial name="ListaProsp" view-data="@ViewData" model="@propostas" />
                </div>
            </div>
            <div class="tab-pane fade" id="concluidas" role="tabpanel" aria-labelledby="concluidas-tab">
                <div>
                    <partial name="ListaProsp" view-data="@ViewData" model="@concluidas" />
                </div>
            </div>
            <div class="tab-pane fade" id="planejadas" role="tabpanel" aria-labelledby="planejadas-tab">
                <div>
                    <partial name="ListaProsp" view-data="@ViewData" model="@planejadas" />
                </div>
            </div>
            <div class="tab-pane fade" id="erradas" role="tabpanel" aria-labelledby="erradas-tab">
                <div>
                    <partial name="ListaProsp" view-data="@ViewData" model="@erradas" />
                </div>
            </div>
        </div>
    </div>
</div>*@
@model IEnumerable<BaseDeProjetos.Models.Prospeccao>
@{
	ViewData["Title"] = "Index";
	List<Prospeccao> ativas = ViewBag.Ativas as List<Prospeccao>;
	List<Prospeccao> propostas = ViewBag.EmProposta as List<Prospeccao>;
	List<Prospeccao> concluidas = ViewBag.Concluidas as List<Prospeccao>;
	List<Prospeccao> planejadas = ViewBag.Planejadas as List<Prospeccao>;
	List<Prospeccao> erradas = ViewBag.Erradas as List<Prospeccao>;
	List<Instituto> institutos = new List<Instituto>((Instituto[])Enum.GetValues(typeof(Instituto))).Where(c => c != Instituto.Super).ToList();
}
<div class="app-wrapper">

	<div class="app-content pt-3 p-md-3 p-lg-4">
		<div class="container-xl">

			<div class="row g-3 mb-4 align-items-center justify-content-between">
				<div class="col-auto">
					<h1 class="app-page-title mb-0">Prospecções</h1>
				</div>
				<div class="col-auto">
					<div class="page-utilities">
						<div class="row g-2 justify-content-start justify-content-md-end align-items-center">
							<div class="col-auto">
								<form class="table-search-form row gx-1 align-items-center">
									<div class="col-auto">
										<input type="text" id="search-orders" name="SearchString" value='@ViewData["CurrentFilter"]' class="form-control search-orders" placeholder="Pesquise pelo líder ou empresa">
									</div>
									<div class="col-auto">
										<button type="submit" class="btn app-btn-primary">Pesquisar</button>
									</div>
									<div class="col-auto">
										<button type="submit" class="btn app-btn-primary">Lista Completa</button>
									</div>
								</form>

							</div><!--//col-->
							<div class="col-auto">
								<select class="form-select w-auto" id="ano" name="ano" onchange="updateLink()">
									<option value="Todos">Todos</option>
									<option value="2022">2022</option>
									<option value="2021">2021</option>
									<option value="2020">2020</option>
									<option value="2019">2019</option>
								</select>
							</div>
							<div class="col-auto">
								<a class="btn app-btn-secondary" href="#">
									<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download me-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
										<path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
									</svg>
									Download CSV
								</a>
							</div>
						</div><!--//row-->
					</div><!--//table-utilities-->
				</div><!--//col-auto-->
			</div><!--//row-->


			<nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
				<a class="flex-sm-fill text-sm-center nav-link active" id="prospeccao-dashboard-tab" data-bs-toggle="tab" href="#prospeccao-dashboard" role="tab" aria-controls="prospeccao-dashboard" aria-selected="true">Dashboard</a>
				<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-ativas-tab" data-bs-toggle="tab" href="#prospeccao-ativas" role="tab" aria-controls="prospeccao-ativas" aria-selected="false">Ativas (@ativas.Count())</a>
				<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-comproposta-tab" data-bs-toggle="tab" href="#prospeccao-comproposta" role="tab" aria-controls="prospeccao-comproposta" aria-selected="false">Com Proposta (@propostas.Count())</a>
				<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-concluidas-tab" data-bs-toggle="tab" href="#prospeccao-concluidas" role="tab" aria-controls="prospeccao-concluidas" aria-selected="false">Concluídas (@concluidas.Count())</a>
				<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-planejadas-tab" data-bs-toggle="tab" href="#prospeccao-planejadas" role="tab" aria-controls="prospeccao-planejadas" aria-selected="false">Planejadas (@planejadas.Count())</a>
				<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-erradas-tab" data-bs-toggle="tab" href="#prospeccao-erradas" role="tab" aria-controls="prospeccao-erradas" aria-selected="false">Erradas (@erradas.Count())</a>

			</nav>


			<div class="tab-content" id="orders-table-tab-content">
				<div class="tab-pane fade show active" id="prospeccao-dashboard" role="tabpanel" aria-labelledby="prospeccao-dashboard-tab">
					<div class="app-card app-card-orders-table shadow-sm mb-5">
						<div class="app-card-body">
							<partial name="graph_funil" view-data="@ViewData" />							
						</div><!--//app-card-body-->
					</div><!--//app-card-->
					<nav class="app-pagination">
						<ul class="pagination justify-content-center">
							<li class="page-item disabled">
								<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
							</li>
							<li class="page-item active"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item">
								<a class="page-link" href="#">Próxima</a>
							</li>
						</ul>
					</nav><!--//app-pagination-->

				</div><!--//tab-pane-->

				@*// TODO: Loop*@

				<div class="tab-pane fade" id="prospeccao-ativas" role="tabpanel" aria-labelledby="prospeccao-ativas-tab">
					<div class="app-card app-card-orders-table shadow-sm mb-5">
						<div class="app-card-body">
							<div class="table-responsive">

								<table class="table mb-0 text-left">
									<thead>
										<tr>
											<th class="cell">Logo</th>
											<th class="cell">Empresa</th>
											<th class="cell">Líder</th>
											<th class="cell">Projeto</th>
											<th class="cell">Tipo Contratação</th>
											<th class="cell">Status</th>
											<th class="cell">Temperatura</th>
											<th class="cell">Valor</th>
											<th class="cell">Detalhes</th>
										</tr>
									</thead>
									<tbody>
										<partial name="ListaProsp" view-data="@ViewData" model="@ativas" />
									</tbody>
								</table>
							</div><!--//table-responsive-->
						</div><!--//app-card-body-->
					</div><!--//app-card-->
				</div><!--//tab-pane-->

				<div class="tab-pane fade" id="prospeccao-comproposta" role="tabpanel" aria-labelledby="prospeccao-comproposta-tab">
					<div class="app-card app-card-orders-table shadow-sm mb-5">
						<div class="app-card-body">
							<div class="table-responsive">
								<table class="table mb-0 text-left">
									<thead>
										<tr>
											<th class="cell">Logo</th>
											<th class="cell">Empresa</th>
											<th class="cell">Líder</th>
											<th class="cell">Projeto</th>
											<th class="cell">Tipo Contratação</th>
											<th class="cell">Status</th>
											<th class="cell">Temperatura</th>
											<th class="cell">Valor</th>
											<th class="cell">Detalhes</th>
										</tr>
									</thead>
									<tbody>
										<partial name="ListaProsp" view-data="@ViewData" model="@propostas" />
									</tbody>
								</table>
							</div><!--//table-responsive-->
						</div><!--//app-card-body-->
					</div><!--//app-card-->
				</div><!--//tab-pane-->

				<div class="tab-pane fade" id="prospeccao-concluidas" role="tabpanel" aria-labelledby="prospeccao-concluidas-tab">
					<div class="app-card app-card-orders-table shadow-sm mb-5">
						<div class="app-card-body">
							<div class="table-responsive">
								<table class="table mb-0 text-left">
									<thead>
										<tr>
											<th class="cell">Logo</th>
											<th class="cell">Empresa</th>
											<th class="cell">Líder</th>
											<th class="cell">Projeto</th>
											<th class="cell">Tipo Contratação</th>
											<th class="cell">Status</th>
											<th class="cell">Temperatura</th>
											<th class="cell">Valor</th>
											<th class="cell">View</th>
										</tr>
									</thead>
									<tbody>
										<partial name="ListaProsp" Detalhes-data="@ViewData" model="@concluidas" />
									</tbody>
								</table>
							</div><!--//table-responsive-->
						</div><!--//app-card-body-->
					</div><!--//app-card-->
				</div><!--//tab-pane-->

				<div class="tab-pane fade" id="prospeccao-planejadas" role="tabpanel" aria-labelledby="prospeccao-planejadas-tab">
					<div class="app-card app-card-orders-table shadow-sm mb-5">
						<div class="app-card-body">
							<div class="table-responsive">
								<table class="table mb-0 text-left">
									<thead>
										<tr>
											<th class="cell">Logo</th>
											<th class="cell">Empresa</th>
											<th class="cell">Líder</th>
											<th class="cell">Projeto</th>
											<th class="cell">Tipo Contratação</th>
											<th class="cell">Status</th>
											<th class="cell">Temperatura</th>
											<th class="cell">Valor</th>
											<th class="cell">Detalhes</th>
										</tr>
									</thead>
									<tbody>
										<partial name="ListaProsp" view-data="@ViewData" model="@planejadas" />
									</tbody>
								</table>
							</div><!--//table-responsive-->
						</div><!--//app-card-body-->
					</div><!--//app-card-->
				</div><!--//tab-pane-->

				<div class="tab-pane fade" id="prospeccao-erradas" role="tabpanel" aria-labelledby="prospeccao-erradas-tab">
					<div class="app-card app-card-orders-table shadow-sm mb-5">
						<div class="app-card-body">
							<div class="table-responsive">
								<table class="table mb-0 text-left">
									<thead>
										<tr>
											<th class="cell">Logo</th>
											<th class="cell">Empresa</th>
											<th class="cell">Líder</th>
											<th class="cell">Projeto</th>
											<th class="cell">Tipo Contratação</th>
											<th class="cell">Status</th>
											<th class="cell">Temperatura</th>
											<th class="cell">Valor</th>
											<th class="cell">Detalhes</th>
										</tr>
									</thead>
									<tbody>
										<partial name="ListaProsp" view-data="@ViewData" model="@erradas" />
									</tbody>
								</table>
							</div><!--//table-responsive-->
						</div><!--//app-card-body-->
					</div><!--//app-card-->
				</div><!--//tab-pane-->
			</div><!--//tab-content
		</div><!--//container-fluid-->
	</div><!--//app-content-->
</div>