@model IEnumerable<BaseDeProjetos.Models.Prospeccao>

@{
    ViewData["Title"] = "Index";
}

<div class="row card">
    <div class=" col-12 card-body">
        <h1 class="card-title">Prospecções - @ViewData["Area"]</h1>
        <div class="col-12 card-img">
            <partial name="graph_funil" />
        </div>

        <hr />
        <p>
            <a asp-action="Create">
                <button class="btn btn-primary"> Criar Novo</button>
            </a>
        </p>


        <table class="table card-text">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoContratacao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LinhaPequisa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Empresa.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status.Last().Status)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoContratacao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LinhaPequisa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Empresa.Nome)
                        </td>
                        <td>
                            <!--
                            Html.DisplayFor(modelItem=> item.Status.Last().Status)
                            -->
                            Contato Inicial
                        </td>

                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
