@model ProspeccoesViewModel
@using BaseDeProjetos.Helpers;
@using Microsoft.AspNetCore.Http;
@{
	ViewData["Title"] = "Funil de Vendas";

	var dadosDaRota = ViewContext.RouteData;
	string aba = dadosDaRota.Values["aba"] as string;
	string casa = dadosDaRota.Values["casa"] as string;
	string searchString = ViewBag.searchString as string;

	if (string.IsNullOrEmpty(casa))
	{
		casa = ViewBag.UsuarioCasa as string;
	}

	List<Instituto> institutos = new List<Instituto>((Instituto[])Enum.GetValues(typeof(Instituto))).Where(i => i != Instituto.Super).ToList();
}

<partial name="Header" view-data="@ViewData" />
<style>
	.button-flash {
		animation: rainbow 2s infinite;
	}

	@@keyframes rainbow {
		0% {
			background-color: #ffc107;
		}
		50% {
			background-color: #ffdb6f;
		}
		100% {
			background-color: #ffc107;
		}
	}

	.bg-esfriando {
		background-color: #fff462;
	}

	.bg-frio {
		background-color: #beffff;
	}

	.bg-morno {
		background-color: #ff8f50;
	}

	.bg-quente {
		background-color: #ff5c50;
	}

	.card-container {
		background-color: #fff;
		border-radius: 10px;
		overflow: hidden;
		margin-top: 10px;
	}

	.card {
		width: 100%;
		display: flex;
		flex-direction: row;
	}

	.card-preview {
		background-color: #2A265F;
		color: #fff;
		width: 20%;
	}

	.card-preview a {
		display: inline-block;
		font-size: 12px;
		opacity: 0.6;
		margin-top: 30px;
		text-decoration: none;
	}

	.card-preview h2 {
		letter-spacing: 1px;
		text-align: center;
	}

	.card-info {
		width: 80%;
		display: flex;
		justify-content: flex-start;
	}

	.content-left,
	.content-right {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.description-info {
		margin-top: 10px;
		margin-left: 5px;
	}

	#card-body,
	#content {
		display: flex;
		flex-direction: row;
	}

	#content {
		flex-direction: column;
		width: 80%;
	}

	#box-btn-actions {
		width: 20%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
	}

	.btn-acao {
		width: 60px;
		font-size: 14px;
		padding: 0;
	}

	.empresa-preview {
		background-color: #fff;
		color: #2A265F;
		min-width: 200px;
		max-height: 200px;
		max-width: 200px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#logoEmpresa {
		width: 100%;
		height: 100%;
		max-height: 40px;
		max-width: 40px;
		object-fit: contain;
	}

</style>

<script>
	var prospeccoesDetalhes = [];

	function trocarModalNovaProsp() {
		document.getElementById("botaoToggleProspFollowUp").disabled = true
		valorSelect = document.getElementById("selectCreateProsp").value
		if (valorSelect != "-1") {
			document.getElementById("botaoToggleProspFollowUp").dataset.bsTarget = `#CreateFollowupProspModal-${valorSelect}-Toggle`
			fetch(`/FunildeVendas/RetornarModal?idProsp=${valorSelect}&tipo=CreateFollowup`).then(response => response.text())
				.then(result => {
					document.querySelector(`#modalCreateFollowUpProspContainer`).innerHTML = result
					document.getElementById("botaoToggleProspFollowUp").disabled = false
				})
		} else {
			document.getElementById("botaoToggleProspFollowUp").dataset.bsTarget = "#criarProspModalToggle"
			document.getElementById("botaoToggleProspFollowUp").disabled = false
		}
	}

	function carregarModalFunil(idProspeccao, tipo) {
		if (!prospeccoesDetalhes.includes(idProspeccao)) {
			if (tipo) {
				fetch(`/FunildeVendas/RetornarModal?idProsp=${idProspeccao}&tipo=${tipo}`)
					.then(response => response.text())
					.then(result => {
						document.querySelector(`#modal${tipo}Prosp-${idProspeccao}-container`).innerHTML = result;
					});
			}
		}
	}

	function carregarModalDetalhesFunil(idProspeccao) {
		// Verifica se o modal da prospeccao ja foi carregada para que não se carregue-o duas vezes sem necessidade
		let buttonName = "#button-" + idProspeccao;
		let buttonDetalhes = document.querySelector(buttonName);

		if (!prospeccoesDetalhes.includes(idProspeccao)) {

		buttonDetalhes.disabled = true;
		buttonDetalhes.innerHTML = '<div class="spinner-border spinner-border-sm text-light" role="status"><span class="visually-hidden">Loading...</span></div>';		
			fetch(`/FunildeVendas/RetornarModal?idProsp=${idProspeccao}&tipo=Details`)
				.then(response => response.text())
				.then(result => {
					document.querySelector(`#modalDetalhesProsp-${idProspeccao}-container`).innerHTML = result;
					buttonDetalhes.innerHTML = 'Detalhes';
					buttonDetalhes.disabled = false;
					buttonDetalhes.removeAttribute("style");
				});				
		}		
	}

	function criarDivs(tipos, idProspeccao) {
		divs = [];
		tipos.forEach((tipo)=> {
			let modalContainer = document.createElement("div");
			modalContainer.id = `modal${tipo}Prosp-${idProspeccao}-container`
			divs.push(modalContainer);
		});

		return divs;
	}

	function popularContainersFunil(idProspeccao) {
		if (!prospeccoesDetalhes.includes(idProspeccao)) {
			let tableRowName = "#table-row-" + idProspeccao;
			let tableRowProspeccao = document.querySelector(tableRowName);

			let divs = criarDivs(["Edit", "Delete", "History", "CreateFollowup", "EditFollowup", "Detalhes"], idProspeccao);
			divs.forEach((div)=> {
				if (tableRowProspeccao.innerHTML == null) {
					tableRowProspeccao.innerHTML = div.outerHTML;
				} else {
					tableRowProspeccao.innerHTML += div.outerHTML;
				}
			});			
		}
	}

	function carregarModaisFunil(idProspeccao) {
		// O nome precisa bater com o nome da view, no sentido que, o sufixo será "ProspViewComponent". Em outras palavras, está acoplado.
		popularContainersFunil(idProspeccao);
		modaisDisponiveis = ["Edit", "Delete", "History", "CreateFollowup"]
		modaisDisponiveis.forEach((tipo) => {
			carregarModalFunil(idProspeccao, tipo)
		})
		carregarModalDetalhesFunil(idProspeccao);
		prospeccoesDetalhes.push(idProspeccao);
	}

	function carregarModalEditarFollowup(idProspeccao, idFollowup, tipo) {
		console.log(`#modal${tipo}Prosp-${idProspeccao}-container`)
		if (tipo) {
			fetch(`/FunildeVendas/RetornarModalEditFollowup?idProsp=${idProspeccao}&idFollowup=${idFollowup}&tipo=${tipo}`)
				.then(response => response.text())
				.then(result => {
					document.querySelector(`#modal${tipo}Prosp-${idProspeccao}-container`).innerHTML = result;
				});
		} else {
			console.log("Algo deu errado");
		}
	}
</script>

<div class="app-wrapper">
	<div class="app-content pt-3 p-md-3 p-lg-4">
		<div class="container-xl">
			<div class="row g-3 mb-4 align-items-center justify-content-between">
				<div class="col-auto">
					<h1 class="app-page-title mb-0">Prospecções</h1>
				</div>
				<div class="col-auto">
					<div class="page-utilities">
						<div class="row g-2 justify-content-start justify-content-md-end align-items-center">
							@if(true){<div class="col-auto"> <!--se a rota não for Index-->
								<form class="table-search-form row gx-1 align-items-center">
									<div class="col-auto">
										<input type="text" id="search-orders" name="SearchString" value='@ViewData["CurrentFilter"]' class="form-control search-orders" placeholder="Buscar..." autocomplete="off">
									</div>
									<div class="col-auto">
										<button type="submit" class="btn app-btn-primary">Pesquisar</button>
									</div>
									<div class="col-auto">
										<button type="submit" class="btn app-btn-primary">Lista Completa</button>
									</div>
								</form>
							</div>}
							<div class="col-auto">
								<select class="form-select w-auto" id="ano" name="ano" onchange="updateLink()">
								<option value="Todos">Todos</option>
									@{
										int anoFinal = 2019;
										int anoAtual = DateTime.Now.Year;
										while (anoAtual >= anoFinal)
										{
											<option value="@anoAtual">@anoAtual</option>
											anoAtual--;
										}
									}								
								</select>
							</div>
							<div class="col-auto">
								<a class="btn app-btn-primary" data-bs-toggle="modal" href="#preCriarProspModalToggle" role="button">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill"
										 viewBox="0 0 16 16">
										<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
									</svg> Nova Prospecção
								</a>
								@await Component.InvokeAsync("ModalPreCreateProsp")
								@await Component.InvokeAsync("ModalCreateProsp")
								<div id="modalCreateFollowUpProspContainer"></div> <!-- CONTAINER PARA ARMAZENAR O MODAL CREATE FOLLOWUP TEMPORARIAMENTE -->
							</div>
							@*<div class="col-auto" id="container-ajuda">
								<a type="button" class="btn button-flash text-white" data-bs-toggle="modal" href="#modalTutorialFdv" role="button">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-octagon-fill" viewBox="0 0 16 16">
										<path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM5.496 6.033a.237.237 0 0 1-.24-.247C5.35 4.091 6.737 3.5 8.005 3.5c1.396 0 2.672.73 2.672 2.24 0 1.08-.635 1.594-1.244 2.057-.737.559-1.01.768-1.01 1.486v.105a.25.25 0 0 1-.25.25h-.81a.25.25 0 0 1-.25-.246l-.004-.217c-.038-.927.495-1.498 1.168-1.987.59-.444.965-.736.965-1.371 0-.825-.628-1.168-1.314-1.168-.803 0-1.253.478-1.342 1.134-.018.137-.128.25-.266.25h-.825zm2.325 6.443c-.584 0-1.009-.394-1.009-.927 0-.552.425-.94 1.01-.94.609 0 1.028.388 1.028.94 0 .533-.42.927-1.029.927z" />
									</svg> Tutorial!
								</a>
							</div>*@
						</div>
					</div>
				</div>
			</div>

			<nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
				@if (string.IsNullOrEmpty(aba))
				{
					<a class="flex-sm-fill text-sm-center nav-link active" id="prospeccao-dashboard-tab" data-bs-toggle="tab" href="#prospeccao-dashboard" role="tab" aria-controls="prospeccao-dashboard" aria-selected="true">Dashboard</a>
				}
				else
				{
					<a class="flex-sm-fill text-sm-center nav-link" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="" id="prospeccao-dashboard-tab" aria-controls="prospeccao-dashboard" aria-selected="false">Dashboard</a>	
				}
				@if (!string.IsNullOrEmpty(aba))
				{
					if (aba.ToLowerInvariant() == "ativas")
					{
						<a class="flex-sm-fill text-sm-center nav-link active" id="prospeccao-ativas-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="ativas" aria-controls="prospeccao-ativas" aria-selected="true">Ativas (@Model.Prospeccoes.Count())</a>
						<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-comproposta-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="comproposta" role="tab" aria-controls="prospeccao-comproposta" aria-selected="false">Com Proposta</a>
						<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-concluidas-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="concluidas" role="tab" aria-controls="prospeccao-concluidas" aria-selected="false">Concluídas</a>
						<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-planejadas-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="planejadas" role="tab" aria-controls="prospeccao-planejadas" aria-selected="false">Planejadas</a>
						<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-erradas-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="erradas" role="tab" aria-controls="prospeccao-erradas" aria-selected="false">Erradas</a>
					} 
					else if (aba.ToLowerInvariant() == "comproposta")
					{
						<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-ativas-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="ativas" aria-controls="prospeccao-ativas" aria-selected="false">Ativas</a>
						<a class="flex-sm-fill text-sm-center nav-link active" id="prospeccao-comproposta-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="comproposta" role="tab" aria-controls="prospeccao-comproposta" aria-selected="true">Com Proposta (@Model.Prospeccoes.Count())</a>
						<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-concluidas-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="concluidas" role="tab" aria-controls="prospeccao-concluidas" aria-selected="false">Concluídas</a>
						<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-planejadas-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="planejadas" role="tab" aria-controls="prospeccao-planejadas" aria-selected="false">Planejadas</a>
						<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-erradas-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="erradas" role="tab" aria-controls="prospeccao-erradas" aria-selected="false">Erradas</a>
					}
					else if (aba.ToLowerInvariant() == "concluidas")
					{
						<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-ativas-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="ativas" aria-controls="prospeccao-ativas" aria-selected="false">Ativas</a>
						<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-comproposta-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="comproposta" role="tab" aria-controls="prospeccao-comproposta" aria-selected="false">Com Proposta</a>
						<a class="flex-sm-fill text-sm-center nav-link active" id="prospeccao-concluidas-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="concluidas" role="tab" aria-controls="prospeccao-concluidas" aria-selected="true">Concluídas (@Model.Prospeccoes.Count())</a>
						<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-planejadas-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="planejadas" role="tab" aria-controls="prospeccao-planejadas" aria-selected="false">Planejadas</a>
						<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-erradas-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="erradas" role="tab" aria-controls="prospeccao-erradas" aria-selected="false">Erradas</a>
					}
					else if (aba.ToLowerInvariant() == "planejadas")
					{
						<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-ativas-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="ativas" aria-controls="prospeccao-ativas" aria-selected="false">Ativas</a>
						<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-comproposta-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="comproposta" role="tab" aria-controls="prospeccao-comproposta" aria-selected="false">Com Proposta</a>
						<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-concluidas-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="concluidas" role="tab" aria-controls="prospeccao-concluidas" aria-selected="false">Concluídas</a>
						<a class="flex-sm-fill text-sm-center nav-link active" id="prospeccao-planejadas-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="planejadas" role="tab" aria-controls="prospeccao-planejadas" aria-selected="true">Planejadas (@Model.Prospeccoes.Count())</a>
						<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-erradas-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="erradas" role="tab" aria-controls="prospeccao-erradas" aria-selected="false">Erradas</a>
					}
					else if (aba.ToLowerInvariant() == "erradas")
					{
						<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-ativas-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="ativas" aria-controls="prospeccao-ativas" aria-selected="false">Ativas</a>
						<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-comproposta-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="comproposta" role="tab" aria-controls="prospeccao-comproposta" aria-selected="false">Com Proposta</a>
						<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-concluidas-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="concluidas" role="tab" aria-controls="prospeccao-concluidas" aria-selected="false">Concluídas</a>
						<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-planejadas-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="planejadas" role="tab" aria-controls="prospeccao-planejadas" aria-selected="false">Planejadas</a>
						<a class="flex-sm-fill text-sm-center nav-link active" id="prospeccao-erradas-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="erradas" role="tab" aria-controls="prospeccao-erradas" aria-selected="true">Erradas (@Model.Prospeccoes.Count())</a>
					}
					else
					{
						<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-ativas-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="ativas" aria-controls="prospeccao-ativas" aria-selected="false">Ativas</a>
						<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-comproposta-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="comproposta" role="tab" aria-controls="prospeccao-comproposta" aria-selected="false">Com Proposta</a>
						<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-concluidas-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="concluidas" role="tab" aria-controls="prospeccao-concluidas" aria-selected="false">Concluídas</a>
						<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-planejadas-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="planejadas" role="tab" aria-controls="prospeccao-planejadas" aria-selected="false">Planejadas</a>
						<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-erradas-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="erradas" role="tab" aria-controls="prospeccao-erradas" aria-selected="false">Erradas</a>
					}
				} 
				else
				{
					<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-ativas-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="ativas" aria-controls="prospeccao-ativas" aria-selected="false">Ativas</a>
					<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-comproposta-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="comproposta" role="tab" aria-controls="prospeccao-comproposta" aria-selected="false">Com Proposta</a>
					<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-concluidas-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="concluidas" role="tab" aria-controls="prospeccao-concluidas" aria-selected="false">Concluídas</a>
					<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-planejadas-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="planejadas" aria-selected="false">Planejadas</a>
					<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-erradas-tab" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa" asp-route-aba="erradas" role="tab" aria-controls="prospeccao-erradas" aria-selected="false">Erradas</a>
				}

			</nav>

			<div class="tab-content" id="orders-table-tab-content">
				@if (string.IsNullOrEmpty(aba))
				{
					<div class="tab-pane fade show active" id="prospeccao-dashboard" role="tabpanel" aria-labelledby="prospeccao-dashboard-tab">
						<div class="app-card app-card-orders-table mb-5">
							<div class="app-card-body">
								<partial name="graph_funil" view-data="@ViewData" />
							</div>
						</div>
					</div>
				}
				else
				{
					@await Html.PartialAsync("ListaProsp", Model);
				}
			</div>

			@if (!string.IsNullOrEmpty(aba))
			{
				<nav class="app-pagination">
					<ul class="pagination justify-content-center">

						@if (Model.Pager.TotalPaginas > 1)
						{
							@if (Model.Pager.TemPaginaAnterior)
							{
								<li class="page-item">
									<a class="page-link" asp-controller="FunilDeVendas" asp-action="Index" asp-route-casa="@casa" asp-route-aba="@aba" asp-route-SearchString="@searchString" asp-route-numeroPagina="@(Model.Pager.PaginaAtual - 1)">Anterior</a>
								</li>
							}
							else
							{
								<li class="page-item disabled">
									<a class="page-link" asp-action="">Anterior</a>
								</li>
							}

							@foreach (var numeroPagina in Model.Pager.Pages)
							{
								if (numeroPagina == Model.Pager.PaginaAtual)
								{
									<li class="page-item active">
										<a class="page-link" asp-controller="FunilDeVendas" asp-action="Index" asp-route-casa="@casa" asp-route-aba="@aba" asp-route-SearchString="@searchString" asp-route-numeroPagina="@(numeroPagina-1)">@numeroPagina</a>
									</li>
								}
								else
								{
									<li class="page-item">
										<a class="page-link" asp-controller="FunilDeVendas" asp-action="Index" asp-route-casa="@casa" asp-route-aba="@aba" asp-route-SearchString="@searchString" asp-route-numeroPagina="@numeroPagina">@numeroPagina</a>
									</li>
								}
							}

							@if (Model.Pager.TemProximaPagina)
							{
								<li class="page-item">
									<a class="page-link" asp-controller="FunilDeVendas" asp-action="Index" asp-route-casa="@casa" asp-route-SearchString="@searchString" asp-route-aba="@aba" asp-route-numeroPagina="@(Model.Pager.PaginaAtual + 1)">Proximo</a>
								</li>
							}
							else
							{
								<li class="page-item disabled">
									<a class="page-link">Proximo</a>
								</li>
							}
						}

				</ul>
			</nav>
			}
		</div>
	</div>
	<partial name="Footer" />
</div>
@*<div id="modalTut">
  <div class="modal fade" id="modalTutorialFdv" aria-hidden="true" aria-labelledby="modalTutorialFdvLabel"
    tabindex="-1">
	<div class="modal-dialog modal-xl modal-dialog-centered" style="flex-direction: column">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="modalTutorialFdvLabel">Tutorial Funil de Vendas</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		  <div class="d-flex align-items-start justify-content-center">
			<div class="app-card-title">Tutorial para Prospecções Planejadas:</div>
			<iframe width="960" height="540" src="https://www.youtube-nocookie.com/embed/8LQDTjAz-UM"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
			<div class="app-card-title">Tutorial para o Funil de Vendas:</div>
			<iframe width="960" height="540" src="https://www.youtube-nocookie.com/embed/4RTvGaA0FC4"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>

		  </div>
		</div>
		<div class="modal-footer">
		  <button class="btn btn-primary" data-bs-dismiss="modal">Sair</button>
		</div>
	  </div>
	</div>
  </div>
</div>*@