@model IEnumerable<BaseDeProjetos.Models.Prospeccao>
@{
	ViewData["Title"] = "Index";
	List<Prospeccao> ativas = ViewBag.Ativas as List<Prospeccao>;
	List<Prospeccao> propostas = ViewBag.EmProposta as List<Prospeccao>;
	List<Prospeccao> concluidas = ViewBag.Concluidas as List<Prospeccao>;
	List<Prospeccao> planejadas = ViewBag.Planejadas as List<Prospeccao>;
	List<Prospeccao> erradas = ViewBag.Erradas as List<Prospeccao>;
	List<Instituto> institutos = new List<Instituto>((Instituto[])Enum.GetValues(typeof(Instituto))).Where(c => c != Instituto.Super).ToList();
}

<partial name="Header" view-data="@ViewData" />
<div class="app-wrapper">
	<div class="app-content pt-3 p-md-3 p-lg-4">
		<div class="container-xl">

			<div class="row g-3 mb-4 align-items-center justify-content-between">
				<div class="col-auto">
					<h1 class="app-page-title mb-0">Prospecções</h1>
				</div>
				<div class="col-auto">
					<div class="page-utilities">
						<div class="row g-2 justify-content-start justify-content-md-end align-items-center">
							<div class="col-auto">
								<form class="table-search-form row gx-1 align-items-center">
									<div class="col-auto">
										<input type="text" id="search-orders" name="SearchString" value='@ViewData["CurrentFilter"]' class="form-control search-orders" placeholder="Buscar..." autocomplete="off">
									</div>
									<div class="col-auto">
										<button type="submit" class="btn app-btn-primary">Pesquisar</button>
									</div>
									<div class="col-auto">
										<button type="submit" class="btn app-btn-primary">Lista Completa</button>
									</div>
								</form>

							</div>
							<div class="col-auto">
								<select class="form-select w-auto" id="ano" name="ano" onchange="updateLink()">
								<option value="Todos">Todos</option>
									@{
										int anoFinal = 2019;
										int anoAtual = DateTime.Now.Year;
										while (anoAtual >= anoFinal)
										{
											<option value="@anoAtual">@anoAtual</option>
											anoAtual--;
										}
									}								
								</select>
							</div>
							<div class="col-auto">
								<a class="btn app-btn-primary" data-bs-toggle="modal" href="#criarProspModalToggle" role="button">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill"
										 viewBox="0 0 16 16">
										<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
									</svg> Nova Prospecção
								</a>
								@await Component.InvokeAsync("ModalCreateProsp")
							</div>
						</div>
					</div>
				</div>
			</div>


			<nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
				<a class="flex-sm-fill text-sm-center nav-link active" id="prospeccao-dashboard-tab" data-bs-toggle="tab" href="#prospeccao-dashboard" role="tab" aria-controls="prospeccao-dashboard" aria-selected="true">Dashboard</a>
				<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-ativas-tab" data-bs-toggle="tab" href="#prospeccao-ativas" role="tab" aria-controls="prospeccao-ativas" aria-selected="false">Ativas (@ativas.Count())</a>
				<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-comproposta-tab" data-bs-toggle="tab" href="#prospeccao-comproposta" role="tab" aria-controls="prospeccao-comproposta" aria-selected="false">Com Proposta (@propostas.Count())</a>
				<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-concluidas-tab" data-bs-toggle="tab" href="#prospeccao-concluidas" role="tab" aria-controls="prospeccao-concluidas" aria-selected="false">Concluídas (@concluidas.Count())</a>
				<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-planejadas-tab" data-bs-toggle="tab" href="#prospeccao-planejadas" role="tab" aria-controls="prospeccao-planejadas" aria-selected="false">Planejadas (@planejadas.Count())</a>
				<a class="flex-sm-fill text-sm-center nav-link" id="prospeccao-erradas-tab" data-bs-toggle="tab" href="#prospeccao-erradas" role="tab" aria-controls="prospeccao-erradas" aria-selected="false">Erradas (@erradas.Count())</a>
			</nav>


			<div class="tab-content" id="orders-table-tab-content">
				<div class="tab-pane fade show active" id="prospeccao-dashboard" role="tabpanel" aria-labelledby="prospeccao-dashboard-tab">
					<div class="app-card app-card-orders-table mb-5">
						<div class="app-card-body">
							<partial name="graph_funil" view-data="@ViewData" />							
						</div>
					</div>

				</div>

				@*// TODO: Loop*@

				<div class="tab-pane fade" id="prospeccao-ativas" role="tabpanel" aria-labelledby="prospeccao-ativas-tab">
					<div class="app-card app-card-orders-table shadow-sm mb-5">
						<div class="app-card-body">
							<div class="table-responsive">

								<table class="table mb-0 text-left">
									<thead>
										<tr>
											<th class="cell">Logo</th>
											<th class="cell">Empresa</th>
											<th class="cell">Líder</th>
											<th class="cell">Projeto</th>
											<th class="cell">Tipo Contratação</th>
											<th class="cell">Status</th>
											<th class="cell">Temperatura</th>
											<th class="cell">Valor</th>
											<th class="cell">Detalhes</th>
										</tr>
									</thead>
									<tbody>
										<partial name="ListaProsp" view-data="@ViewData" model="@ativas" />
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="prospeccao-comproposta" role="tabpanel" aria-labelledby="prospeccao-comproposta-tab">
					<div class="app-card app-card-orders-table shadow-sm mb-5">
						<div class="app-card-body">
							<div class="table-responsive">
								<table class="table mb-0 text-left">
									<thead>
										<tr>
											<th class="cell">Logo</th>
											<th class="cell">Empresa</th>
											<th class="cell">Líder</th>
											<th class="cell">Projeto</th>
											<th class="cell">Tipo Contratação</th>
											<th class="cell">Status</th>
											<th class="cell">Temperatura</th>
											<th class="cell">Valor</th>
											<th class="cell">Detalhes</th>
										</tr>
									</thead>
									<tbody>
										<partial name="ListaProsp" view-data="@ViewData" model="@propostas" />
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="prospeccao-concluidas" role="tabpanel" aria-labelledby="prospeccao-concluidas-tab">
					<div class="app-card app-card-orders-table shadow-sm mb-5">
						<div class="app-card-body">
							<div class="table-responsive">
								<table class="table mb-0 text-left">
									<thead>
										<tr>
											<th class="cell">Logo</th>
											<th class="cell">Empresa</th>
											<th class="cell">Líder</th>
											<th class="cell">Projeto</th>
											<th class="cell">Tipo Contratação</th>
											<th class="cell">Status</th>
											<th class="cell">Temperatura</th>
											<th class="cell">Valor</th>
											<th class="cell">Detalhes</th>
										</tr>
									</thead>
									<tbody>
										<partial name="ListaProsp" Detalhes-data="@ViewData" model="@concluidas" />
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="prospeccao-planejadas" role="tabpanel" aria-labelledby="prospeccao-planejadas-tab">
					<div class="app-card app-card-orders-table shadow-sm mb-5">
						<div class="app-card-body">
							<div class="table-responsive">
								<table class="table mb-0 text-left">
									<thead>
										<tr>
											<th class="cell">Logo</th>
											<th class="cell">Empresa</th>
											<th class="cell">Líder</th>
											<th class="cell">Projeto</th>
											<th class="cell">Tipo Contratação</th>
											<th class="cell">Status</th>
											<th class="cell">Valor</th>
											<th class="cell">Detalhes</th>
										</tr>
									</thead>
									<tbody>
										<partial name="ListaProsp" view-data="@ViewData" model="@planejadas" />
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="prospeccao-erradas" role="tabpanel" aria-labelledby="prospeccao-erradas-tab">
					<div class="app-card app-card-orders-table shadow-sm mb-5">
						<div class="app-card-body">
							<div class="table-responsive">
								<table class="table mb-0 text-left">
									<thead>
										<tr>
											<th class="cell">Logo</th>
											<th class="cell">Empresa</th>
											<th class="cell">Líder</th>
											<th class="cell">Projeto</th>
											<th class="cell">Tipo Contratação</th>
											<th class="cell">Status</th>
											<th class="cell">Temperatura</th>
											<th class="cell">Valor</th>
											<th class="cell">Detalhes</th>
										</tr>
									</thead>
									<tbody>
										<partial name="ListaProsp" view-data="@ViewData" model="@erradas" />
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	function carregarModalFunil(idProspeccao, tipo) {
		if (tipo) {
			fetch(`/FunildeVendas/RetornarModal/?idProsp=${idProspeccao}&tipo=${tipo}`)
			.then(response => response.text())
			.then(result => {
				document.querySelector(`#modal${tipo}Prosp-${idProspeccao}-container`).innerHTML = result;
			});
		} else {
			console.log("Tipo de Modal Inválido");
		}
	}

	function carregarModaisFunil(idProspeccao) {
		// O nome precisa bater com o nome da view, no sentido que, o sufixo será "ProspViewComponent". Em outras palavras, está acoplado.
		modaisDisponiveis = ["Edit", "Delete", "History", "CreateFollowup"]
		modaisDisponiveis.forEach((tipo) => {
			carregarModalFunil(idProspeccao, tipo)
		})
	}

	function carregarModalEditarFollowup(idProspeccao, idFollowup, tipo) {
		console.log(`#modal${tipo}Prosp-${idProspeccao}-container`)
		if (tipo) {
			fetch(`/FunildeVendas/RetornarModalEditFollowup?idProsp=${idProspeccao}&idFollowup=${idFollowup}&tipo=${tipo}`)
				.then(response => response.text())
				.then(result => {
					document.querySelector(`#modal${tipo}Prosp-${idProspeccao}-container`).innerHtml = result;
				});
		} else {
			console.log("Algo deu errado");
		}
	}
</script>