@model ProspeccoesViewModel
@using System.Globalization
@using BaseDeProjetos.Helpers

@{
    var ptbr = new CultureInfo("pt-BR");
    var dadosDaRota = ViewContext.RouteData;
    string aba = dadosDaRota.Values["aba"] as string;
    string casa = dadosDaRota.Values["casa"] as string;
    aba = aba.ToLowerInvariant();
    var agregadas = ViewData["ProspeccoesAgregadas"] as List<Prospeccao>;
}
<style>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
</style>

<div class="app-card app-card-orders-table shadow-sm mb-5">
    @foreach (var prospeccao in Model.Prospeccoes) 
    {
        @* ["Edit", "Delete", "History", "CreateFollowup", "EditFollowup", "Detalhes"] *@
        @await Component.InvokeAsync("ModalEditProsp", new { id = prospeccao.Id })
        @await Component.InvokeAsync("ModalDeleteProsp", new { id = prospeccao.Id })
        @await Component.InvokeAsync("ModalDetailsProsp", new { id = prospeccao.Id })
        @await Component.InvokeAsync("ModalHistoryProsp", new { id = prospeccao.Id }) 
        @await Component.InvokeAsync("ModalCreateFollowupProsp", new { id = prospeccao.Id })
    }
</div>

<div class="tab-pane fade show active" id="prospeccao-@aba" role="tabpanel" aria-labelledby="prospeccao-@aba-tab">
    <div class="app-card app-card-orders-table shadow-sm mb-5">
        <div class="app-card-body">
            <div class="table-responsive">
                <table class="table mb-0 text-left">
                    <thead>
                        <tr>
                            <th class="cell" style="text-align: center;">Empresa</th>
                            <th class="cell">Projeto</th>
                            <th class="cell">Equipe</th>
                            <th class="cell">Tipo Contratação</th>
                            <th class="cell">Status</th>
                            @if (@aba != "planejadas") 
                            {
                                <th class="cell">Temperatura</th>
                            }                            
                            <th class="cell">Valor</th>
                            <th class="cell">Origem</th>
                            <th class="cell">Detalhes</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var prospeccao in Model.Prospeccoes)
                        {
                            <tr id="table-row-@prospeccao.Id">
                                <td class="cell">
                                    <div class="d-flex gap-2 flex-column align-items-center">
                                        <div> @*ICONES*@
                                            @if (prospeccao.Empresa.Industrial == false){
                                                <span id="tip_ind" class="translate-top-left badge rounded-circle bg-danger" data-tippy-content="<center>Esta empresa não possui<br>CNAE Industrial</center>">!</span>
                                            }
                                            @if(prospeccao.Ancora == true){
                                                <span id="tip_agg" class="translate-top-right badge rounded-pill bg-warning" data-tippy-content='@FunilHelpers.MostrarAgregadas(agregadas, prospeccao.Agregadas)'>+@prospeccao.Agregadas.Split(new[] { ';' }, StringSplitOptions.RemoveEmptyEntries).Length</span>
                                            }
                                        </div>
                                        <div> @*LOGO*@
                                            @if (prospeccao.Empresa.Logo != null)
                                            {
                                                <img style="border: 2px solid #999; border-radius: 10px;" loading="lazy" src="@prospeccao.Empresa.Logo" id="logoEmpresa" alt="Logo da Empresa" style="background-color:white" width="175%">
                                            }
                                            else
                                            {
                                                <nobr id="logo_alt">Sem Logo</nobr>
                                            }
                                        </div>
                                        <div style="text-align:center;width:90px"> @*NOME EMPRESA*@
                                            @prospeccao.Empresa.Nome @*FAVOR NAO EDITAR*@
                                        </div>
                                    </div>
                                </td>
                                <td class="cell">
                                    <div style="display: flex;align-items: center;">
                                        @if (prospeccao.NomeProspeccao != null)
                                        {
                                            <span style="margin-right: 10px;">@prospeccao.NomeProspeccao</span> @*Projeto*@
                                        }
                                        else
                                        {
                                            <span>A definir</span> @*Projeto*@
                                        }
                                    </div>
                                </td>
                                <td class="cell">
                                    @if (prospeccao.Usuario != null)
                                    {
                                        <span class="badge bg-success">@prospeccao.Usuario.UserName</span> @*Líder*@
                                    }
                                    else
                                    {
                                        <span class="badge bg-danger">Sem Líder</span>
                                    }
                                    @if(prospeccao.MembrosEquipe != null){
                                        foreach (var item in prospeccao.MembrosEquipe.Split(";"))
                                        {
                                            if(item == ""){} else {<span class="badge bg-info">@item</span>}
                                        }
                                    }
                                </td>
                                @{
                                    var subtracaoUltimoStatus = @DateTime.Now.Subtract(prospeccao.Status.OrderBy(followup => followup.Data).Last().Data).Days;
                                }
                                <td class="cell">
                                    <span>@prospeccao.TipoContratacao.GetDisplayName()</span> @*Tipo Contratação*@
                                </td>
                                <td class="cell">
                                    <span>@prospeccao.Status.OrderBy(followup => followup.Data).Last().Status.GetDisplayName()</span>
                                </td> @*Status*@
                                @if (prospeccao.Status.OrderBy(followup => followup.Data).Last().Status != StatusProspeccao.Planejada)
                                {
                                    <td class="cell">
                                        @FunilHelpers.VerificarTemperatura(subtracaoUltimoStatus)
                                    </td>
                                }
                                <td class="cell">
                                    @if (prospeccao.ValorProposta != 0)
                                    {
                                        <span>R$ @Helpers.FormatarValoresDashboards((decimal)prospeccao.ValorProposta)</span>
                                    }
                                    else if (prospeccao.ValorEstimado != 0)
                                    {
                                        <span>R$ @Helpers.FormatarValoresDashboards((decimal)prospeccao.ValorEstimado)</span>
                                    }
                                    else
                                    {
                                        <span>Valor não informado</span>
                                    }
                                </td>
                                <td class="cell">
                                    <div style="width: 40px; height: 40px;" class="position-relative">
                                        @if (prospeccao.Status.OrderBy(p => p.Data).First().Status == StatusProspeccao.Planejada)
                                        {
                                            <span class="position-absolute top-10 start-100 translate-middle badge rounded-pill bg-info">Plan</span>
                                        }
                                        @if (prospeccao.Origem.GetDisplayName() == "Recebida")
                                        {
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z" /></svg>
                                        }
                                        else
                                        {
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M16.1 260.2c-22.6 12.9-20.5 47.3 3.6 57.3L160 376V479.3c0 18.1 14.6 32.7 32.7 32.7c9.7 0 18.9-4.3 25.1-11.8l62-74.3 123.9 51.6c18.9 7.9 40.8-4.5 43.9-24.7l64-416c1.9-12.1-3.4-24.3-13.5-31.2s-23.3-7.5-34-1.4l-448 256zm52.1 25.5L409.7 90.6 190.1 336l1.2 1L68.2 285.7zM403.3 425.4L236.7 355.9 450.8 116.6 403.3 425.4z" /></svg>
                                        }
                                    </div>
                                </td>
                                <td class="cell">
                                    <button type="button" id="button-@prospeccao.Id" data-bs-target="#modalDetalhes-@prospeccao.Id"
                                            data-bs-toggle="modal" class="btn-sm app-btn-primary">
                                        Detalhes
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>               
            </div>
        </div>
    </div>
</div>