@model IEnumerable<BaseDeProjetos.Models.Prospeccao>
@using System.Globalization
@using BaseDeProjetos.Helpers
@{
    var ptbr = new CultureInfo("pt-BR");    
    
}
<style>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    /*** Alteração de layout lista de empresas e prospecções / Funil de Vendas ***/

    .badge-esfriando {
        background-color: #fff462;
    }

    .badge-funil {
        width: 50%;
    }

    .badge-frio {
        background-color: #beffff;
    }

    .badge-morno {
        background-color: #ff8f50;
    }

    .badge-quente {
        background-color: #ff5c50;
    }    

    .card-container {
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
        margin-top: 10px;
    }

    .card {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .card-preview {
        background-color: #2A265F;
        color: #fff;
        width: 20%;
    }

    .card-preview a {
        display: inline-block;
        font-size: 12px;
        opacity: 0.6;
        margin-top: 30px;
        text-decoration: none;
    }

    .card-preview h2 {
        letter-spacing: 1px;
        text-align: center;
    }

    .card-info {
        width: 80%;
        display: flex;
        justify-content: flex-start;
    }

    .content-left,
    .content-right {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .description-info {
        margin-top: 10px;
        margin-left: 5px;
    }

    #card-body,
    #content {
        display: flex;
        flex-direction: row;
    }

    #content {
        flex-direction: column;
        width: 80%;
    }

    #box-btn-actions {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    .btn-acao {
        width: 60px;
        font-size: 14px;
        padding: 0;
    }

    .empresa-preview {
        background-color: #fff;
        color: #2A265F;
        min-width: 200px;
        max-height: 200px;
        max-width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #logoEmpresa {
        width: 100%;
        height: 100%;
        max-height: 180px;
        max-width: 180px;
        object-fit: contain;
        padding: 20px;
    }

    /*** Alteração de layout lista de empresas e prospecções / Funil de Vendas ***/
</style>
@foreach (var item in Model)
{
    <div class="card-container container-fluid">
        <div class="card">
            <div class="empresa-preview">
                @if (item.Empresa.Logo != null)
                {
                    <img style="background-color:white" id="logoEmpresa" src="@item.Empresa.Logo" alt="Logo da Empresa" />
                }
                else
                {
                    <h5 id="logo_alt">Sem Logo</h5>
                }
            </div>
            <div class="card-info">
                <div class="content-left">
                    <p class="description-info"><strong>Empresa: </strong>@item.Empresa.Nome</p>
                    <p class="description-info"><strong>Projeto: </strong>@item.NomeProspeccao</p>
                    <p class="description-info"><strong>Linha: </strong>@item.LinhaPequisa.GetDisplayName()</p>
                    
                    @{var subtracaoUltimoStatus = @DateTime.Now.Subtract(@item.Status.Last().Data).Days;}
                                        
                    <p class="description-info">
                        <strong>Temperatura:@FunilHelpers.VerificarTemperatura(subtracaoUltimoStatus)</strong>                        
                    </p>                    
                </div>

                <div class="content-right">
                    <p class="description-info"><strong>Tipo Contratação: </strong>@item.TipoContratacao.GetDisplayName()
                    </p>
                    @if (item.Usuario != null)
                    {
                        <div class="description-info" style="display:flex; align-items: center; gap: 3px;">
                            <strong>Líder:</strong><button type="button" id="info" class="badge text-bg-secondary"
                        data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right"
                        data-bs-content="Right popover">@item.Usuario.UserName</button>
                        </div>
                    }
                    else
                    {
                        <p class="description-info"><strong>Lider: </strong>Não Informado</p>
                    }
                    @if (item.Status.Last().Status == StatusProspeccao.ComProposta)
                    {
                        <p class="description-info"><strong>Status: </strong>@item.Status.OrderBy(p => p.Data).Last().Status.GetDisplayName()</p>

                        @if (item.ValorProposta != 0)
                        {
                            <p class="description-info"><strong>Valor da Proposta:</strong> R$ @Helpers.FormatarValoresDashboards((decimal)item.ValorProposta)</p>
                        }
                        else if (item.ValorEstimado != 0)
                        {
                            <p class="description-info"><strong>Valor Estimado:</strong> R$ @Helpers.FormatarValoresDashboards((decimal)item.ValorEstimado)</p>
                        }
                        else
                        {
                            <p class="description-info"><strong>Valor Estimado:</strong> Valor não informado</p>
                        }
                    }
                    else
                    {
                        <p class="description-info"><strong>Status: </strong>@item.Status.OrderBy(p => p.Data).Last().Status.GetDisplayName()</p>
                        @if (item.ValorEstimado != 0)
                        {
                            <p class="description-info"><strong>Valor Estimado:</strong> R$ @Helpers.FormatarValoresDashboards((decimal)item.ValorEstimado)</p>
                        }
                        else
                        {
                            <p class="description-info"><strong>Valor Estimado:</strong> Valor não informado</p>
                        }
                    }
                </div>
            </div>
        </div>
        <button id="btn-collapse" class="btn btn-outline-secondary container-fluid" type="button" data-toggle="collapse"
        data-target="#@item.Id" aria-expanded="false" aria-controls="collapseExample">
            Ver mais detalhes
        </button>
        <div class="collapse" id="@item.Id">
            <div class="card card-body" id="card-body">
                <div id="content">
                    <div id="title-status">
                        <h4>Último Status:</h4>
                    </div>
                    <div>
                        <p>@item.Status.Last().Anotacoes</p>
                    </div>
                    <div>
                        Data: @item.Status.Last().Data.ToString("dd/MM/yyyy", CultureInfo.CreateSpecificCulture("pt-BR"));
                    </div>
                </div>
            </div>
            <div style="display:flex; justify-content: center; gap: 5px;">
                <a asp-action="Edit" asp-route-id="@item.Id"><button class="btn btn-outline-primary">Editar</button></a>
                <a asp-action="Details" asp-route-id="@item.Id"><button
                    class="btn btn-outline-primary">Histórico</button></a>
                <a asp-action="Atualizar" asp-route-id="@item.Id"><button
                    class="btn btn-outline-primary">Atualizar</button></a>
                <a asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-outline-primary">Remover</button></a>
            </div>
        </div>
    </div>

}
<script>
    var bt = document.querySelector('#bt')

    bt.addEventListener('click', e => {
        e.preventDefault();
    })

    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>