@model IEnumerable<BaseDeProjetos.Models.Prospeccao>

<table class="table card-text" style="overflow-y:scroll; max-height:150vh; font-size:0.8em">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Empresa.Nome)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.NomeProspeccao)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinhaPequisa)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.TipoContratacao)</a>
            </th>
            <th>
                Líder
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status.Last().Status)
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeProspeccao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LinhaPequisa)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TipoContratacao)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.OrderBy(p => p.Data).Last().Status)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Atualizar" asp-route-id="@item.Id">Atualizar</a> |
                    <a asp-action="Delete" class="badge badge-danger" asp-route-id="@item.Id">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
