@model BaseDeProjetos.Models.Projeto
@using BaseDeProjetos.Helpers
@{
    ViewData["Title"] = "Deletar";
}

<div class="modal fade" id="deletarProjetoModal-@Model.Id-Toggle" aria-hidden="true"
    aria-labelledby="deletarProjetoModal-@Model.Id-ToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deletarProjetoModal-@Model.Id-ToggleLabel">Deletar Projeto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column gap-1">
                <h1 class="app-card-title">Empresa:</h1>
                <span>@Model.Empresa.Nome</span>
                <h1 class="app-card-title">Projeto:</h1>
                <span>@Model.NomeProjeto</span>
                <h1 class="app-card-title">Status:</h1>
                <span>@Model.Status.GetDisplayName()</span>
                <h1 class="app-card-title">Valor:</h1>
                <span>R$ @Helpers.FormatarValoresDashboards((decimal)Model.ValorAporteRecursos)</span>
                <h1 class="app-card-title">Data de Início:</h1>
                <span>@Model.DataInicio.ToString("dd/MM/yyyy")</span>
                <h1 class="app-card-title">Data de Encerramento:</h1>
                <span>@Model.DataEncerramento.ToString("dd/MM/yyyy")</span>
                <h1 class="app-card-title">Duração em Meses:</h1>
                <span>@Model.DuracaoProjetoEmMeses</span>
                <h1 class="app-card-title">Equipe do Projeto:</h1>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <span id="qtdMembros" class="m-1"></span><span class="m-1">Membros</span>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul id="lista"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <form asp-action="Delete" asp-route-id="Id" method="post">
                    <button type="button" class="btn app-btn-primary"
                        data-bs-target="#deletarProjetoModal-@Model.Id-Toggle" data-bs-toggle="modal">
                        Voltar
                    </button>
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Deletar" class="btn text-white btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}