@model BaseDeProjetos.Models.FollowUp
@using Microsoft.AspNetCore.Http
@using System.Globalization
@{
    ViewData["Title"] = "Atualizar Prospecção";
    if (!(Context.Session.GetString("_Casa") is null))
    {
        ViewData["Area"] = Context.Session.GetString("_Casa");
    }

    var prosp = ViewData["prospeccao"] as Prospeccao;

    IEnumerable<SelectListItem>FiltrarExcecao(IEnumerable<SelectListItem> lista, Prospeccao prosp){
        StatusProspeccao statusAtual = prosp.Status.OrderBy(s => s.Data).Last().Status;
        if(statusAtual == StatusProspeccao.Planejada){
            return lista.Where(status => (Int32.Parse(status.Value)) == (int)StatusProspeccao.ContatoInicial);
        }
        else if(statusAtual == StatusProspeccao.ContatoInicial){
            return lista.Where(status => (Int32.Parse(status.Value)) > (int)statusAtual && (Int32.Parse(status.Value)) != (int)StatusProspeccao.Planejada);
        }
        else {
            return lista.Where(status => (Int32.Parse(status.Value)) >= (int)statusAtual && (Int32.Parse(status.Value)) != (int)StatusProspeccao.Planejada);
        }
        
    }

}


<div class="modal fade" id="EditFollowupProspModal-@Model.Id" tabindex="-1"
     aria-labelledby="EditFollowupProspModal-@Model.Id-Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="EditFollowupProspModal-@Model.Id">
                    Editar Status da Prospecção
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form asp-controller="FunilDeVendas" asp-action="EditarFollowUp" asp-route-id="@Model.Id" method="POST">
                <div class="modal-body">
                    <div class="accordion" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Dados da Prospecção
                            </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample"> 
                                <div class="accordion-body">
                                    <div class="form-group">
                                        <label asp-for="Id" class="control-label"></label>
                                        <input type="text" class="form-control" value="@prosp.Id" readonly />
                                        <span asp-validation-for="Id" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label> Empresa </label>
                                        <input type="text" class="form-control" value="@prosp.Empresa.Nome" readonly />
                                    </div>
                                    <div class="form-group">
                                        <label> Casa </label>
                                        <input type="text" class="form-control" value="@prosp.Casa.GetDisplayName()" readonly />
                                    </div>
                                    <div class="form-group">
                                        <label> Tipo de Contratação </label>
                                        <input type="text" class="form-control" value="@prosp.TipoContratacao.GetDisplayName()" readonly />
                                    </div>
                                    <div class="form-group">
                                        <label> Status </label>
                                        <input type="text" class="form-control" value="" placeholder="@prosp.Status.Last().Status.GetDisplayName()"
                                            readonly />
                                    </div>
                                    <div class="form-group">
                                    <label> Contato da prospecção</label>
                                                @{
                                                    if (prosp.Contato == null)
                                                    {
                                                    <input type="text" class="form-control" value="Sem Contato" readonly />
                                                    }
                                                
                                                    else
                                                    {
                                                    <input type="text" class="form-control" value="@prosp.Contato.Nome" readonly />
                                                    }                    
                                                }
                                    </div>
                                    <div class="form-group">
                                        <label>Informações da prospecção (Primeiro Contato)</label>
                                        <textarea type="text" class="form-control" value="@prosp.Status.First().Anotacoes" readonly>@prosp.Status.First().Anotacoes
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <input asp-for="OrigemID" type="hidden" value="@Model.OrigemID" />
                    <input asp-for="Id" type="hidden" value="@Model.Id" />

                    <div class="form-group">
                        <label asp-for="Data" class="control-label"></label>
                        <input asp-for="Data" type="date" class="form-control" />
                        <span asp-validation-for="Data" class="text-danger"
                            value='@Model.Data.ToString("F2",CultureInfo.CreateSpecificCulture("en-US"))'></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <select asp-for="Status" value="@Model.Status" class="form-control"
                                asp-items="FiltrarExcecao(Html.GetEnumSelectList<StatusProspeccao>(), @prosp)"></select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Anotacoes" class="control-label"></label>
                        <textarea class="form-control" asp-for="Anotacoes" rows="3"> @Model.Anotacoes</textarea>
                        <span asp-validation-for="Anotacoes" class="text-danger"></span>
                    </div>
                    <div id="naoconversao" style="display:none">
                        <div class="form-group">
                            <label class="control-label"> Motivo de não conversão:</label>
                            <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<MotivosNaoConversao>()"></select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Editar" class="btn-submit btn app-btn-primary">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var dateControl = document.querySelector('input[type="date"]');
    dateControl.max = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().split("T")[0];
</script>