@using BaseDeProjetos.Models
@using Microsoft.AspNetCore.Http
@using BaseDeProjetos.Helpers

@{
    var usuarioNivel = ViewBag.usuarioNivel;
    List<Instituto> institutos = new List<Instituto>();

    Instituto casaUsuario = ViewBag.usuarioCasa;
    //Todo: remover se o CIS ganhar novo coordenador
    if (casaUsuario == Instituto.ISIQV || casaUsuario == Instituto.CISHO || casaUsuario == Instituto.Super)
    {
        institutos = new List<Instituto>() { Instituto.ISIQV, Instituto.CISHO };
    }
    else
    {
        institutos = new List<Instituto>() { casaUsuario };
    }

}

<script>
    window.onload = () => {
        let loadAnimGraficoParticipacao = document.getElementById("participacao");
        loadAnimGraficoParticipacao.innerHTML = "<div class='d-flex justify-content-center align-items-center'><div class='mt-2 mb-2 spinner-border'></div></div>"
        puxarDadosParticipacao().then(data => {
            carregarGraficoParticipacao(data);
        }).catch(error => {
            console.log(error);
        });
    }

    function carregarGraficoParticipacao(dadosParticipacao) {
        let dados = dadosParticipacao["Participacao"];
        let rankings = dados["RankPorIndicador"];
        let valoresMedios = dadosParticipacao["Rankings"];
        Highcharts.chart('participacao', {

            exporting: {
                enabled: false
            },

            tooltip: {
                pointFormat: '{series.name}: <b>{point.y:.2f}</b>'
            },

            chart: {
                polar: true,
                type: 'line'
            },

            title: {
                text: undefined
            },

            pane: {
                startAngle: 0,
                endAngle: 360
            },

            xAxis: {
                categories: [
                    'Valor Total das Prospecções',
                    'Quantidade de Prospecções',
                    'Valor Médio (Prospecções)',
                    'Valor Total das Prospecções (Em Proposta)',
                    'Valor Médio das Prospecções (Em Proposta)',
                    'Valor Total das Prospecções (Convertidas)',
                    'Valor Médio das Prospecções (Convertidas)',
                    'Prospecções em Proposta',
                    'Prospecções Convertidas',
                    'Taxa de Conversão em Proposta',
                    'Taxa de Conversão em Projeto',
                    'Assertividade na Precificação'
                ],
                tickmarkPlacement: 'on',
                labels: {
                    enabled: false
                }
            },

            yAxis: {
                gridLineInterpolation: 'polygon',
                lineWidth: 0,
                min: 0,
                max: 1,
                tickInterval: 0.25, // Sets the interval between grid lines
                endOnTick: false,
                showLastLabel: true
            },

            series: [{
                name: 'Indicador',
                data:
                    [
                        rankings['RankValorTotalProspeccoes'],
                        rankings['RankQuantidadeProspeccoes'],
                        rankings['RankValorMedioProspeccoes'],
                        rankings['RankValorTotalProspeccoesComProposta'],
                        rankings['RankValorMedioProspeccoesComProposta'],
                        rankings['RankValorTotalProspeccoesConvertidas'],
                        rankings['RankValorMedioProspeccoesConvertidas'],
                        rankings['RankQuantidadeProspeccoesComProposta'],
                        rankings['RankQuantidadeProspeccoesProjeto'],
                        dados['TaxaConversaoProposta'],
                        dados['TaxaConversaoProjeto'],
                        rankings['RankPropositividade'],
                    ],
                pointPlacement: 'on',
                showInLegend: false,
                color: '#15a362'
            }, {
                name: 'Media',
                type: 'area',
                data: valoresMedios,
                pointPlacement: 'on',
                showInLegend: false,
                color: '#E6B50D'
            }],
            legend: {
                enabled: false
            }
        });
    }

    async function puxarDadosParticipacao() {
        const response = await fetch(`${location.origin}/Participacao/RetornarDadosGrafico/`);
        const data = await response.json();
        return data;
    }
</script>


<div id="app-sidepanel" class="app-sidepanel">
    <div id="sidepanel-drop" class="sidepanel-drop"></div>
    <div class="sidepanel-inner d-flex flex-column">
        <a href="#" id="sidepanel-close" class="sidepanel-close d-xl-none">&times;</a>
        <div class="app-branding">
            <span class="logo-text">SGI</span>
        </div>

        <div class="align-self-center">
            <h5 class="logo-text">Gráfico de Participação</h5>
        </div>

        <div id="participacao">
        </div>

        <nav id="app-nav-main" class="app-nav app-nav-main flex-grow-1">
            <ul class="app-menu list-unstyled accordion" id="menu-accordion">
                <li class="nav-item">
					@{
						if (ViewContext.RouteData.Values["controller"] as string == "Home")
						{
							<a class="nav-link active" href="/">
								<span class="nav-icon">
									<i class="bi bi-house-door"></i>
								</span>
								<span class="nav-link-text">Home</span>
							</a>
						} else
						{
							<a class="nav-link" href="/">
								<span class="nav-icon">
									<i class="bi bi-house-door"></i>
								</span>
								<span class="nav-link-text">Home</span>
							</a>
						}
					}
				</li>

				<li class="nav-item">					
					@{
						if (ViewContext.RouteData.Values["controller"] as string == "Cargos")
						{
							<a class="nav-link active" asp-area="" asp-controller="Cargos" asp-action="Index">
								<span class="nav-icon">
									<i class="bi bi-person-workspace"></i>
								</span>
								<span class="nav-link-text">Cargos</span>
							</a>
						} else
						{
							<a class="nav-link" asp-area="" asp-controller="Cargos" asp-action="Index">
								<span class="nav-icon">
									<i class="bi bi-person-workspace"></i>
								</span>
								<span class="nav-link-text">Cargos</span>
							</a>
						}
					}
				</li>

                <li class="nav-item">
                    @{
                        if (ViewContext.RouteData.Values["controller"] as string == "Empresas")
                        {
                            <a class="nav-link active" asp-area="" asp-controller="Empresas" asp-action="Index">
                                <span class="nav-icon active">
                                    <i class="bi bi-building"></i>
                                </span>
                                <span class="nav-link-text">Empresas</span>
                            </a>
                        }
                        else
                        {
                            <a class="nav-link" asp-area="" asp-controller="Empresas" asp-action="Index">
                                <span class="nav-icon active">
                                    <i class="bi bi-building"></i>
                                </span>
                                <span class="nav-link-text">Empresas</span>
                            </a>
                        }
                    }
                </li>
                <li class="nav-item has-submenu">
                    @{
                        if (ViewContext.RouteData.Values["controller"] as string == "Producao")
                        {
                            <a class="nav-link submenu-toggle active" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-gestao-conhecimento" aria-expanded="false" aria-controls="submenu-gestao-conhecimento">
                                <span class="nav-icon">
                                    <i class="bi bi-book"></i>
                                </span>
                                <span class="nav-link-text">Gestão do Conhecimento</span>
                                <span class="submenu-arrow">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </a>
                            <div id="submenu-gestao-conhecimento" class="collapse submenu" data-bs-parent="#menu-accordion">
                                <ul class="submenu-list list-unstyled">
                                    @foreach (Instituto casa in institutos)
                                    {
                                        Tuple<string, string> casa_nome = Helpers.ObterNomeCasaAbreviado(casa);
                                        string id_casa = "collapse_" + casa_nome;

                                        <li class="submenu-item"><a class="submenu-link" asp-action="Index" asp-controller="Producao" asp-route-casa="@casa_nome.Item2">@casa_nome.Item1</a></li>
                                    }
                                </ul>
                            </div>
                        }
                        else
                        {
                            <a class="nav-link submenu-toggle" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-gestao-conhecimento" aria-expanded="false" aria-controls="submenu-gestao-conhecimento">
                                <span class="nav-icon">
                                    <i class="bi bi-book"></i>
                                </span>
                                <span class="nav-link-text">Gestão do Conhecimento</span>
                                <span class="submenu-arrow">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </a>
                            <div id="submenu-gestao-conhecimento" class="collapse submenu" data-bs-parent="#menu-accordion">
                                <ul class="submenu-list list-unstyled">
                                    @foreach (Instituto casa in institutos)
                                    {
                                        Tuple<string, string> casa_nome = Helpers.ObterNomeCasaAbreviado(casa);
                                        string id_casa = "collapse_" + casa_nome;

                                        <li class="submenu-item"><a class="submenu-link" asp-action="Index" asp-controller="Producao" asp-route-casa="@casa_nome.Item2">@casa_nome.Item1</a></li>
                                    }
                                </ul>
                            </div>
                        }
                    }
                </li>
                <li class="nav-item has-submenu">
                    @{
                        if (ViewContext.RouteData.Values["controller"] as string == "FunilDeVendas")
                        {
                            <a class="nav-link submenu-toggle active" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-funil-de-vendas" aria-expanded="false" aria-controls="submenu-funil-de-vendas">
                                <span class="nav-icon">
                                    <i class="bi bi-funnel"></i>
                                </span>
                                <span class="nav-link-text">Funil de Vendas</span>
                                <span class="submenu-arrow">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </a>
                            <div id="submenu-funil-de-vendas" class="collapse submenu" data-bs-parent="#menu-accordion">
                                <ul class="submenu-list list-unstyled">
                                    @foreach (Instituto casa in institutos)
                                    {
                                        Tuple<string, string> casa_nome = Helpers.ObterNomeCasaAbreviado(casa);
                                        string id_casa = "collapse_" + casa_nome;

                                        <li class="submenu-item"><a class="submenu-link" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa_nome.Item2" asp-route-aba="">@casa_nome.Item1</a></li>
                                    }
                                </ul>
                            </div>
                        }
                        else
                        {
                            <a class="nav-link submenu-toggle" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-funil-de-vendas" aria-expanded="false" aria-controls="submenu-funil-de-vendas">
                                <span class="nav-icon">
                                    <i class="bi bi-funnel"></i>
                                </span>
                                <span class="nav-link-text">Funil de Vendas</span>
                                <span class="submenu-arrow">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </a>
                            <div id="submenu-funil-de-vendas" class="collapse submenu" data-bs-parent="#menu-accordion">
                                <ul class="submenu-list list-unstyled">
                                    @foreach (Instituto casa in institutos)
                                    {
                                        Tuple<string, string> casa_nome = Helpers.ObterNomeCasaAbreviado(casa);
                                        string id_casa = "collapse_" + casa_nome.Item1;

                                        <li class="submenu-item"><a class="submenu-link" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa_nome.Item2">@casa_nome.Item1</a></li>
                                    }
                                </ul>
                            </div>
                        }
                    }
                </li>
                <li class="nav-item has-submenu">
                    @{
                        if (ViewContext.RouteData.Values["controller"] as string == "Projetos")
                        {
                            <a class="nav-link submenu-toggle active" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-projetos" aria-expanded="false" aria-controls="submenu-projetos">
                                <span class="nav-icon">

                                    <i class="bi bi-files"></i>
                                </span>
                                <span class="nav-link-text">Projetos</span>
                                <span class="submenu-arrow">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </a>
                            <div id="submenu-projetos" class="collapse submenu" data-bs-parent="#menu-accordion">
                                <ul class="submenu-list list-unstyled">
                                    @foreach (Instituto casa in institutos)
                                    {
                                        Tuple<string, string> casa_nome = Helpers.ObterNomeCasaAbreviado(casa);
                                        string id_casa = "collapse_" + casa_nome.Item1;

                                        <li class="submenu-item"><a class="submenu-link" asp-action="Index" asp-controller="Projetos" asp-route-casa="@casa_nome.Item2">@casa_nome.Item1</a></li>
                                    }
                                </ul>
                            </div>
                        }
                        else
                        {
                            <a class="nav-link submenu-toggle" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-projetos" aria-expanded="false" aria-controls="submenu-projetos">
                                <span class="nav-icon">

                                    <i class="bi bi-files"></i>
                                </span>
                                <span class="nav-link-text">Projetos</span>
                                <span class="submenu-arrow">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </a>
                            <div id="submenu-projetos" class="collapse submenu" data-bs-parent="#menu-accordion">
                                <ul class="submenu-list list-unstyled">
                                    @foreach (Instituto casa in institutos)
                                    {
                                        Tuple<string, string> casa_nome = Helpers.ObterNomeCasaAbreviado(casa);
                                        string id_casa = "collapse_" + casa_nome;

                                        <li class="submenu-item"><a class="submenu-link" asp-action="Index" asp-controller="Projetos" asp-route-casa="@casa_nome.Item2">@casa_nome.Item1</a></li>
                                    }
                                </ul>
                            </div>

                        }
                    }
                </li>
                <li class="nav-item">
                    @{
                        if (ViewContext.RouteData.Values["controller"] as string == "Pessoas")
                        {
                            <a class="nav-link active" asp-action="Index" asp-controller="Pessoas">
                                <span class="nav-icon">
                                    <i class="bi bi-people"></i>
                                </span>
                                <span class="nav-link-text">Pessoas</span>
                            </a>
                        }
                        else
                        {
                            <a class="nav-link" asp-action="Index" asp-controller="Pessoas">
                                <span class="nav-icon">
                                    <i class="bi bi-people"></i>
                                </span>
                                <span class="nav-link-text">Pessoas</span>
                            </a>
                        }
                    }
                </li>

                @if (usuarioNivel.ToString() == "Dev")
                {
                    <li class="nav-item">
                        @{
                            if (ViewContext.RouteData.Values["controller"] as string == "Editais")
                            {
                                <a class="nav-link active" asp-action="Index" asp-controller="Editais">
                                    <span class="nav-icon">
                                        <i class="bi bi-files"></i>
                                    </span>
                                    <span class="nav-link-text">Editais</span>
                                </a>
                            }
                            else
                            {
                                <a class="nav-link" asp-action="Index" asp-controller="Editais">
                                    <span class="nav-icon">
                                        <i class="bi bi-files"></i>
                                    </span>
                                    <span class="nav-link-text">Editais</span>
                                </a>
                            }
                        }
                    </li>
                    @if (usuarioNivel.ToString() == "PMO" || usuarioNivel.ToString() == "Dev" || usuarioNivel.ToString() == "Supervisor")
                    {
                        <li class="nav-item">
                            @{
                                if (ViewContext.RouteData.Values["controller"] as string == "Participacao")
                                {
                                    <a class="nav-link active" asp-action="Index" asp-controller="Participacao">
                                        <span class="nav-icon">
                                            <i class="bi bi-bar-chart-steps"></i>
                                        </span>
                                        <span class="nav-link-text">Participação</span>
                                    </a>
                                }
                                else
                                {
                                    <a class="nav-link" asp-action="Index" asp-controller="Participacao">
                                        <span class="nav-icon">
                                            <i class="bi bi-bar-chart-steps"></i>
                                        </span>
                                        <span class="nav-link-text">Participação</span>
                                    </a>
                                }
                            }
                        </li>
                    }
                }

                @if (usuarioNivel.ToString() == "PMO" || usuarioNivel.ToString() == "Dev" || usuarioNivel.ToString() == "Supervisor")
                {
                    <li class="nav-item has-submenu">
                        @{
                            if (ViewContext.RouteData.Values["controller"] as string == "Indicadores")
                            {
                                <a class="nav-link submenu-toggle active" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-indicadores" aria-expanded="false" aria-controls="submenu-indicadores">
                                    <span class="nav-icon">
                                        <i class="bi bi-columns-gap"></i>
                                    </span>
                                    <span class="nav-link-text">Indicadores</span>
                                    <span class="submenu-arrow">
                                        <i class="bi bi-chevron-down"></i>
                                    </span>
                                </a>
                                <div id="submenu-indicadores" class="collapse submenu" data-bs-parent="#menu-accordion">
                                    <ul class="submenu-list list-unstyled">
                                        @foreach (Instituto casa in institutos)
                                        {
                                            Tuple<string, string> casa_nome = Helpers.ObterNomeCasaAbreviado(casa);
                                            <li class="submenu-item"><a class="submenu-link" asp-action="Index" asp-controller="Indicadores" asp-route-casa="@casa_nome.Item2">@casa_nome.Item1</a></li>
                                        }
                                        <li class="submenu-item"><a class="submenu-link" asp-action="IndicadoresDashBoard" asp-controller="Indicadores">Prospecções</a></li>
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <a class="nav-link submenu-toggle" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-indicadores" aria-expanded="false" aria-controls="submenu-indicadores">
                                    <span class="nav-icon">

                                        <i class="bi bi-columns-gap"></i>
                                    </span>
                                    <span class="nav-link-text">Indicadores</span>
                                    <span class="submenu-arrow">
                                        <i class="bi bi-chevron-down"></i>
                                    </span>
                                </a>
                                <div id="submenu-indicadores" class="collapse submenu" data-bs-parent="#menu-accordion">
                                    <ul class="submenu-list list-unstyled">
                                        @foreach (Instituto casa in institutos)
                                        {
                                            Tuple<string, string> casa_nome = Helpers.ObterNomeCasaAbreviado(casa);
                                            <li class="submenu-item"><a class="submenu-link" asp-action="Index" asp-controller="Indicadores" asp-route-casa="@casa_nome.Item2">@casa_nome.Item1</a></li>
                                        }
                                        <li class="submenu-item"><a class="submenu-link" asp-action="IndicadoresDashBoard" asp-controller="Indicadores">Prospecções</a></li>
                                    </ul>
                                </div>
                            }
                        }
                    </li>
                }

                @* <li class="nav-item">

                <a class="nav-link" href="charts.html">
                <span class="nav-icon">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bar-chart-line" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z" />
                </svg>
                </span>
                <span class="nav-link-text">Perfil</span>
                </a>
                </li> *@

                @*<li class="nav-item">

                <a class="nav-link" href="help.html">
                <span class="nav-icon">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                </svg>
                </span>
                <span class="nav-link-text">Ajuda</span>
                </a>
                </li>*@
            </ul>
        </nav>
        <div class="app-sidepanel-footer">
            <nav class="app-nav app-nav-footer">
                <ul class="app-menu footer-menu list-unstyled">
                    @*<li class="nav-item">

                    <a class="nav-link" href="settings.html">
                    <span class="nav-icon">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8.837 1.626c-.246-.835-1.428-.835-1.674 0l-.094.319A1.873 1.873 0 0 1 4.377 3.06l-.292-.16c-.764-.415-1.6.42-1.184 1.185l.159.292a1.873 1.873 0 0 1-1.115 2.692l-.319.094c-.835.246-.835 1.428 0 1.674l.319.094a1.873 1.873 0 0 1 1.115 2.693l-.16.291c-.415.764.42 1.6 1.185 1.184l.292-.159a1.873 1.873 0 0 1 2.692 1.116l.094.318c.246.835 1.428.835 1.674 0l.094-.319a1.873 1.873 0 0 1 2.693-1.115l.291.16c.764.415 1.6-.42 1.184-1.185l-.159-.291a1.873 1.873 0 0 1 1.116-2.693l.318-.094c.835-.246.835-1.428 0-1.674l-.319-.094a1.873 1.873 0 0 1-1.115-2.692l.16-.292c.415-.764-.42-1.6-1.185-1.184l-.291.159A1.873 1.873 0 0 1 8.93 1.945l-.094-.319zm-2.633-.283c.527-1.79 3.065-1.79 3.592 0l.094.319a.873.873 0 0 0 1.255.52l.292-.16c1.64-.892 3.434.901 2.54 2.541l-.159.292a.873.873 0 0 0 .52 1.255l.319.094c1.79.527 1.79 3.065 0 3.592l-.319.094a.873.873 0 0 0-.52 1.255l.16.292c.893 1.64-.902 3.434-2.541 2.54l-.292-.159a.873.873 0 0 0-1.255.52l-.094.319c-.527 1.79-3.065 1.79-3.592 0l-.094-.319a.873.873 0 0 0-1.255-.52l-.292.16c-1.64.893-3.433-.902-2.54-2.541l.159-.292a.873.873 0 0 0-.52-1.255l-.319-.094c-1.79-.527-1.79-3.065 0-3.592l.319-.094a.873.873 0 0 0 .52-1.255l-.16-.292c-.892-1.64.902-3.433 2.541-2.54l.292.159a.873.873 0 0 0 1.255-.52l.094-.319z" />
                    <path fill-rule="evenodd" d="M8 5.754a2.246 2.246 0 1 0 0 4.492 2.246 2.246 0 0 0 0-4.492zM4.754 8a3.246 3.246 0 1 1 6.492 0 3.246 3.246 0 0 1-6.492 0z" />
                    </svg>
                    </span>
                    <span class="nav-link-text">Settings</span>
                    </a>
                    </li>
                    <li class="nav-item">

                    <a class="nav-link" href="https://themes.3rdwavemedia.com/bootstrap-templates/admin-dashboard/portal-free-bootstrap-admin-dashboard-template-for-developers/">
                    <span class="nav-icon">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                    <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                    </svg>
                    </span>
                    <span class="nav-link-text">Download</span>
                    </a>
                    </li>
                    <li class="nav-item">

                    <a class="nav-link" href="https://themes.3rdwavemedia.com/bootstrap-templates/admin-dashboard/portal-free-bootstrap-admin-dashboard-template-for-developers/">
                    <span class="nav-icon">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M12 1H4a1 1 0 0 0-1 1v10.755S4 11 8 11s5 1.755 5 1.755V2a1 1 0 0 0-1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z" />
                    <path fill-rule="evenodd" d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg>
                    </span>
                    <span class="nav-link-text">License</span>
                    </a>
                    </li>*@
                </ul>
            </nav>
        </div>
    </div>
</div>

