@page
@model BaseDeProjetos.Views.Home.LoggedInHomeModel
@{
    //decimal receita = (decimal)ViewBag.receita_isiqv + (decimal)ViewBag.receita_isiii + (decimal)ViewBag.receita_cisho;
    decimal receita = (decimal)ViewBag.receita_total;
    decimal investimento = (decimal)ViewBag.invest_total;
    decimal despesas = (decimal)ViewBag.despesa_total;
    float quali = (float)ViewBag.quali;
    decimal sustentatiblidade = receita / despesas;

}
<style>
    #sustentabilidade {
        background-image: url("https://ogimg.infoglobo.com.br/sociedade/24483206-8b9-2d9/FT1086A/652/IC_Multiplex-Covid-19.jpg");
        background-image: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.4) 100%), url("https://ogimg.infoglobo.com.br/sociedade/24483206-8b9-2d9/FT1086A/652/IC_Multiplex-Covid-19.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #seguranca {
        background-image: url("https://conect.online/wp-content/uploads/2018/10/243181-conheca-o-campo-de-trabalho-para-tecnico-em-seguranca-do-trabalho.jpg");
        background-image: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.4) 100%), url("https://conect.online/wp-content/uploads/2018/10/243181-conheca-o-campo-de-trabalho-para-tecnico-em-seguranca-do-trabalho.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div class="row">

    <partial name="Menu" view-data="@ViewData" />
    <div class="col-md-10">
        <div class="card">
            <div class="card-header text-center"> <h5>Bem vindo ao sistema de Gestão de Inovação - SGI</h5></div>
            <div class="card-body row">
                <div class="col-8">
                    <ul class="col-12 list-group-flush">
                        <li class="list-group-item">
                            <h5> Status Financeiro </h5>
                            <small>@ViewBag.Data.ToString("dd/MM/yyyy")</small>
                        </li>
                        <li class="list-group-item">
                            <span class="font-weight-bold"> Receita:</span>
                            <a href="#" class="badge badge-success">@receita.ToString("C2")</a>
                        </li>
                        <li class="list-group-item">
                            <span class="font-weight-bold"> Investimento:</span>
                            <a href="#" class="badge badge-light">@investimento.ToString("C2")</a>
                        </li>
                        <li class="list-group-item">
                            <span class="font-weight-bold"> Despesas:</span>
                            <a href="#" class="badge badge-danger">@despesas.ToString("C2")</a>
                        </li>
                    </ul>
                    <div class="col row">
                        <div class="col-md-4 card">
                            <div class="card-body">
                                <center>
                                    <span class="text-uppercase">PROJETOS</span>
                                    <hr />
                                    <div class="card-text">

                                        <h2>
                                            @ViewBag.n_proj
                                        </h2>
                                        projetos ativos


                                    </div>
                                </center>

                            </div>
                        </div>
                        <div class="col-md-4 card">
                            <div class="card-body">
                                <center>
                                    <span class="text-uppercase">Empresas</span>
                                    <hr />
                                    <div class="card-text">

                                        <h2>@ViewBag.n_empresas </h2>
                                        empresas com relacionamento conosco

                                    </div>
                                </center>
                            </div>
                        </div>

                        <div class="col-md-4 card">
                            <div class="card-body">
                                <center>
                                    <span class="text-uppercase">funil de vendas</span>
                                    <hr />
                                    <div class="card-text">

                                        <h2>@ViewBag.n_prosp </h2>
                                        prospecções ativas

                                    </div>
                                </center>
                            </div>
                        </div>
                        <div class="col-md-4 card">
                            <div class="card-body">
                                <center>
                                    <span class="text-uppercase">Equipe</span>
                                    <hr />
                                    <div class="card-text">

                                        <h2> 48 </h2>
                                        colaboradores

                                    </div>
                                </center>
                            </div>
                        </div>
                        <div class="col-md-4 card">
                            <div class="card-body">
                                <center>
                                    <span class="text-uppercase">Satisfação do cliente</span>
                                    <hr />
                                    <div class="card-text">

                                        <h2>@ViewBag.satisfacao.ToString("P1") </h2>


                                    </div>
                                </center>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-4 row">
                    <div id="sustentabilidade" class="jumbotron col-12">
                        <center>
                            <span class="text-uppercase">Sustentabilidade</span>
                            <hr />
                            <h3 class="font-weight-bolder">
                                @sustentatiblidade.ToString("P2")
                            </h3>

                            <span class="font-weight-lighter">das despesas são cobertas por receita</span>
                        </center>
                    </div>
                    <div id="seguranca" class="jumbotron col-12">
                        <center>
                            <span class="text-uppercase">Indice de Segurança e Qualidade</span>
                            <hr />
                            <h3 class="font-weight-bolder">
                                @{string iss = quali.ToString();
                                }
                                @iss
                            </h3>

                            <span class="font-weight-lighter">de um total de 100 pontos</span>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
