@page
@using System.Globalization
@model BaseDeProjetos.Views.Home.LoggedInHomeModel
@{
    decimal receita = 1;
    decimal despesas = 1;
    decimal investimento = 1;
    decimal sustentabilidade = 100;
    float quali = 1;

    try
    {
        //decimal receita = (decimal)ViewBag.receita_isiqv + (decimal)ViewBag.receita_isiii + (decimal)ViewBag.receita_cisho;
        receita = (decimal)ViewBag.receita_total;
        investimento = (decimal)ViewBag.invest_total;
        despesas = (decimal)ViewBag.despesa_total;
        quali = (float)ViewBag.quali;

        if (despesas > 0)
        {

            sustentabilidade = receita / despesas;
        }
        else
        {
            sustentabilidade = 100;
        }
    }

    catch (Exception e)
    {

    }
}
<style>
    #sustentabilidade {
        background-image: url("https://ogimg.infoglobo.com.br/sociedade/24483206-8b9-2d9/FT1086A/652/IC_Multiplex-Covid-19.jpg");
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.4) 100%), url("https://ogimg.infoglobo.com.br/sociedade/24483206-8b9-2d9/FT1086A/652/IC_Multiplex-Covid-19.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    a {
        text-decoration: none;
        font-size: 20px;
        padding: 10px;
    }
</style>
<div class="row">

    <partial name="Menu" view-data="@ViewData" />
    <div class="col-md-12">
        <div class="card">
            <div class="card-header text-center">
                <h5>Bem vindo ao sistema de Gestão de Inovação - SGI</h5>
            </div>
            <div class="card-body row">

                <div class="col-12">

                    <div class="row">
                        <div class="list-group-item">
                            <h5> Status Financeiro </h5>
                            <small>@ViewBag.Data.ToString("dd/MM/yyyy")</small>
                        </div>
                        <div class="col-5 mt-3">
                            <div class="card text-bg-success mb-3" style="max-width: 35rem;">
                                <div class="card-header text-center">Volume de negócios</div>
                                <div class="card-body">
                                    <h5 class="card-title text-center">@ViewBag.Volume_Negocios.ToString("C2",
                                        CultureInfo.CreateSpecificCulture("pt-BR"))</h5>
                                    <p class="card-text"></p>
                                </div>
                            </div>

                            <div class="card text-bg-success mb-3" style="max-width: 35rem;">
                                <div class="card-header text-center">Receita Competência</div>
                                <div class="card-body">
                                    <h5 class="card-title text-center">@receita.ToString("C2",
                                        CultureInfo.CreateSpecificCulture("pt-BR"))</h5>
                                    <p class="card-text"></p>
                                </div>
                            </div>

                        </div>

                        <div class="col-5 mt-3">

                            <div class="card text-bg-success mb-3" style="max-width: 35rem;">
                                <div class="card-header text-center">Receita Caixa</div>
                                <div class="card-body">
                                    <h5 class="card-title text-center">@investimento.ToString("C2",
                                        CultureInfo.CreateSpecificCulture("pt-BR"))</h5>
                                    <p class="card-text"></p>
                                </div>
                            </div>

                            <div class="card text-bg-success mb-3" style="max-width: 35rem;">
                                <div class="card-header text-center">Despesa</div>
                                <div class="card-body">
                                    <h5 class="card-title text-center">@despesas.ToString("C2",
                                        CultureInfo.CreateSpecificCulture("pt-BR"))</h5>
                                    <p class="card-text"></p>
                                </div>
                            </div>

                        </div>

                        <div class="col-2 mt-3 text-center" style="height: 100px;">
                            <h1>100%</h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="list-group-item">
                            <h5> Status Operacional</h5>
                        </div>
                        <div class="col-4 mt-3">

                            <div class="card text-bg-light mb-3" style="max-width: 25rem;">
                                <h3 class="card-header text-center">@ViewBag.n_proj</h3>
                                <div class="card-body">
                                    <p class="card-title text-center">Projetos ativos</p>
                                    <p class="card-text"></p>
                                </div>
                            </div>

                            <div class="card text-bg-light mb-3" style="max-width: 25rem;">
                                <h3 class="card-header text-center">@ViewBag.n_empresas</h3>
                                <div class="card-body">
                                    <p class="card-title text-center">Empresas com relacionamento conosco</p>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 mt-3">

                            <div class="card text-bg-light mb-3" style="max-width: 25rem;">
                                <h3 class="card-header text-center">@ViewBag.n_proj</h3>
                                <div class="card-body">
                                    <p class="card-title text-center">Projetos ativos</p>
                                    <p class="card-text"></p>
                                </div>
                            </div>

                            <div class="card text-bg-light mb-3" style="max-width: 25rem;">
                                <h3 class="card-header text-center">@ViewBag.n_empresas</h3>
                                <div class="card-body">
                                    <p class="card-title text-center">Empresas com relacionamento conosco</p>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 mt-3">

                            <div class="card text-bg-light mb-3" style="max-width: 25rem;">
                                <h3 class="card-header text-center">@ViewBag.n_proj</h3>
                                <div class="card-body">
                                    <p class="card-title text-center">Projetos ativos</p>
                                    <p class="card-text"></p>
                                </div>
                            </div>

                            <div class="card text-bg-light mb-3" style="max-width: 25rem;">
                                <h3 class="card-header text-center">@ViewBag.n_empresas</h3>
                                <div class="card-body">
                                    <p class="card-title text-center">Empresas com relacionamento conosco</p>
                                    <p class="card-text"></p>
                                </div>
                            </div>
                        </div>
                        @*
                            <div class="col-md-4 card">
                            <div class="card-body">
                            <center>
                            <div class="card-text">
                            <h2>@ViewBag.n_prosp </h2>
                            Prospecções ativas
                            </div>
                            </center>
                            </div>
                            </div>
                            <div class="col-md-4 card">
                            <div class="card-body">
                            <center>
                            <div class="card-text">
                            <h2> @ViewBag.Usuarios </h2>
                            Colaboradores
                            </div>
                            </center>
                            </div>
                            </div>
                            <div class="col-md-4 card">
                            <div class="card-body">
                            <center>
                            <div class="card-text">
                            <h2>@ViewBag.satisfacao.ToString("P1") </h2>
                            Satisfação do cliente
                            </div>
                            </center>
                            </div>
                            </div>
                            @*
                            <div class="col-md-4 card">
                            <div class="card-body">
                            <center>
                            <div class="card-text">
                            <h2>@ViewBag.Volume_Negocios.ToString("C2",
                            CultureInfo.CreateSpecificCulture("pt-BR"))</h2>
                            </div>
                            Nas prospecções ativas no momento
                            </center>
                            </div>
                            </div>
                            </div>
                            </div>

                            @*<div class="col-4 row">
                            <div id="sustentabilidade" class="jumbotron col-12">
                            <center>
                            <span class="text-uppercase">Sustentabilidade</span>
                            <hr />
                            <h1 class="font-weight-bolder">
                            @sustentabilidade.ToString("P2")
                            </h1>

                            <span class="font-weight-lighter">das despesas são cobertas por receita</span>
                            </center>
                            </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>