@page
@model BaseDeProjetos.Views.Home.MenuModel
@using System.Collections
@{
    List<Instituto> institutos = new List<Instituto>((Instituto[])Enum.GetValues(typeof(Instituto))).Where(c=>c!= Instituto.Super).ToList();
}
<style>
    a{
        text-decoration: none;
        font-size: 20px;
        padding: 10px;
    }
</style>
<div class="col-md-2">

    
    @foreach(Instituto casa in institutos){
    string casa_nome = Enum.GetName(typeof(Instituto), casa);
    string id_casa = "collapse_" + casa_nome;

    <div class="row">
            <button class="col-12 card" data-toggle="collapse" data-target="#@id_casa" aria-expanded="true" aria-controls="@id_casa">
                <div class="card-body">
                    <h6 class="card-text text-info">@casa.GetDisplayName()</h6>
                </div>
            </button>
        <div class="col-12 collapse" id="@id_casa">
            <div class="list-group-flush">
                <div class="list-group-item list-group-item-light">
                    <a asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa_nome">
                        Funil de Vendas
                    </a>
                </div>
                <div class="list-group-item list-group-item-light">
                    <a asp-action="Index" asp-controller="Projetos" asp-route-casa="@casa_nome">
                        Base de Projetos
                    </a>
                </div>
                <div class="list-group-item disabled">
                    Segurança e Qualidade
                    <span class="badge badge-warning badge-pill">!</span>
                </div>
            </div>
        </div>
    </div>
}
</div>