@page
@model BaseDeProjetos.Views.Home.MenuModel
@using BaseDeProjetos.Models.Enums;
@using Microsoft.AspNetCore.Http
@{
    var usuarioNivel = ViewBag.usuarioNivel;
    List<Instituto> institutos = new List<Instituto>();

    Instituto casaUsuario = ViewBag.usuarioCasa;
    //Todo: remover se o CIS ganhar novo coordenador
    if (casaUsuario == Instituto.ISIQV || casaUsuario == Instituto.CISHO || casaUsuario == Instituto.Super)
    {
        institutos = new List<Instituto>() { Instituto.ISIQV, Instituto.CISHO };
    }
    else
    {
        institutos = new List<Instituto>() { casaUsuario };
    }

}
<style>
    .btn {
        white-space: normal !important;
        word-wrap: break-word;
    }
</style>
<div class="col-12" style="margin-bottom:1em">


    @foreach (Instituto casa in institutos)
    {
        string casa_nome = Enum.GetName(typeof(Instituto), casa);
        string id_casa = "collapse_" + casa_nome;

        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-outline-dark btn-light dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false">
                <small>@casa.GetDisplayName()</small>
            </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" >
                <li>
                    <a class="dropdown-item" asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa_nome"
                    id="a-success">
                        <small>Funil de Vendas</small>
                    </a>
                </li>

                <li>
                    <a class="dropdown-item" asp-action="Index" asp-controller="Projetos" asp-route-casa="@casa_nome"
                    id="a-success">
                        <small>Base de Projetos</small>
                    </a>
                </li>

                <li>
                    <a class="dropdown-item" asp-action="Index" asp-controller="Producao" asp-route-casa="@casa_nome"
                    id="a-success">
                        <small>Gestão do Conhecimento</small>
                    </a>
                </li>
                @if (usuarioNivel.ToString() == "PMO" || usuarioNivel.ToString() == "Dev" || usuarioNivel.ToString() == "Supervisor")
                {
                    <li>
                    <a class="dropdown-item" asp-action="Index" asp-controller="Indicadores" asp-route-casa="@casa_nome"
                   id="a-success">
                        <small>Indicadores</small>
                    </a>
                </li>
                }
                
            </ul>
        </div>
    }
</div>