@page
@model BaseDeProjetos.Views.Home.MenuModel
@using Microsoft.AspNetCore.Http
@{
    List<Instituto> institutos = new List<Instituto>(); 

    Instituto casaUsuario = ViewBag.usuarioCasa;
    //Todo: remover se o CIS ganhar novo coordenador
    if (casaUsuario == Instituto.ISIQV || casaUsuario == Instituto.CISHO || casaUsuario == Instituto.Super)
    {
        institutos = new List<Instituto>() { Instituto.ISIQV, Instituto.CISHO };
    }
    else
    {
        institutos = new List<Instituto>() { casaUsuario };
    }

}
<style>
    #a-success{
        text-decoration: none;
        font-size: 15px;
        padding: 5px;
        border-radius: 5px;
    }
</style>
<div class="col-md-2">

    
    @foreach(Instituto casa in institutos){
    string casa_nome = Enum.GetName(typeof(Instituto), casa);
    string id_casa = "collapse_" + casa_nome;

    <div class="row">
            <button class="col-12 card" data-toggle="collapse" data-target="#@id_casa" aria-expanded="true" aria-controls="@id_casa">
                <div class="card-body">
                    <h6 class="card-text text-info">@casa.GetDisplayName()</h6>
                </div>
            </button>
        <div class="col-12 collapse" id="@id_casa">
            <div class="list-group-flush">
                <div class="list-group-item list-group-item-light mt-3">
                    <a asp-action="Index" asp-controller="FunilDeVendas" asp-route-casa="@casa_nome" class="text-bg-success" id="a-success">
                        Funil de Vendas
                    </a>
                </div>
                <div class="list-group-item list-group-item-light mt-3">
                    <a asp-action="Index" asp-controller="Projetos" asp-route-casa="@casa_nome" class="text-bg-success" id="a-success">
                        Base de Projetos
                    </a>
                </div>
                <div class="list-group-item list-group-item-light mt-3">
                    <a asp-action="Index" asp-controller="Producao" asp-route-casa="@casa_nome" class="text-bg-success" id="a-success">
                        Produções
                    </a>
                </div>
            </div>
        </div>
    </div>
}
</div>