@model BaseDeProjetos.Models.Prospeccao
@using Microsoft.AspNetCore.Http
@using System.Globalization

@{
    ViewData["Title"] = "Detalhes";
    if (!(Context.Session.GetString("_Casa") is null))
    {
        ViewData["Area"] = Context.Session.GetString("_Casa");
    }
}
@foreach (var followup in Model.Status.OrderBy(s => s.Data).ToList())
{
    @await Component.InvokeAsync("ModalEditFollowupProsp", new { id = Model.Id, id2 = followup.Id })
}


<div class="modal fade" id="historyProspModal-@Model.Id" tabindex="-1"
     aria-labelledby="historyProspModal-@Model.Id-Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="historyProspModal-@Model.Id">Histórico de Atualizações</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="accordion" id="accordionPanelsFollowups">
                    @foreach (var followup in Model.Status.OrderBy(s => s.Data).ToList())
                    {
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsFollowups-heading-@followup.Id">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsFollowups-collapse-@followup.Id" aria-expanded="true"
                                        aria-controls="panelsFollowups-collapse-@followup.Id">
                                    <div style="font-weight: 600">
                                        @followup.Data.ToString("dd/MM/yyyy",
                                    CultureInfo.CreateSpecificCulture("pt-BR")) - @(followup.Status.GetDisplayName())
                                    </div>
                                </button>
                            </h2>
                            <div id="panelsFollowups-collapse-@followup.Id" class="accordion-collapse collapse"
                                 aria-labelledby="panelsFollowups-heading-@followup.Id">
                                <div class="accordion-body">
                                    @if (string.IsNullOrEmpty(followup.Anotacoes))
                                    {
                                        <span>Não há nada preenchido.</span>
                                    }
                                    else
                                    {
                                        @followup.Anotacoes
                                    }
                                    <hr />
                                    Vence em: @followup.Vencimento.ToString("dd/MM/yyyy",
                                CultureInfo.CreateSpecificCulture("pt-BR"))
                                    <a class="btn btn-outline-danger" asp-controller="FunilDeVendas" asp-action="RemoverFollowUp" asp-route-id="@followup.Id">Remover</a> |
                                    <button type="button" class="btn app-btn-secondary" data-bs-toggle="modal"
                                            data-bs-target="#EditFollowupProspModal-@followup.Id">
                                        Editar
                                    </button>
                                    <!-- O Model ID aqui se refere a prospeccao, é extremamente importante que esses IDs batam assim como no ViewComponent, caso o bootstrap alegue undefined para o backdrop, tente verificar esses dois IDs -->
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn app-btn-secondary" data-bs-target="#modalDetalhes-@Model.Id"
                        data-bs-toggle="modal">
                    Voltar
                </button>
                <button type="button" class="btn app-btn-primary" data-bs-dismiss="modal">Sair</button>
            </div>
        </div>
    </div>
</div>