@model BaseDeProjetos.Models.Projeto

@{
    ViewData["Title"] = "Delete";
}
@using Microsoft.AspNetCore.Http
@{

    ViewData["Title"] = "Adicionar Prospecção";
    if (!(Context.Session.GetString("_Casa") is null))
    {
        ViewData["Area"] = Context.Session.GetString("_Casa");
    }
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Projeto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProjeto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeProjeto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AreaPesquisa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AreaPesquisa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataEncerramento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataEncerramento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FonteFomento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FonteFomento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inovacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inovacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DuracaoProjetoEmMeses)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DuracaoProjetoEmMeses)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTotalProjeto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorTotalProjeto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorAporteRecursos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorAporteRecursos)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <div>
            <a asp-action="Index" asp-route-casa="@ViewData["Area"]">Voltar</a>
        </div>
    </form>
</div>