@model BaseDeProjetos.Models.Projeto

@{
    ViewData["Title"] = "Details";
    List<Entrega> entregas = ViewData["Entregas"] as List<Entrega>;
}
@using Microsoft.AspNetCore.Http
@{

    ViewData["Title"] = "Adicionar Prospecção";
    if (!(Context.Session.GetString("_Casa") is null))
    {
        ViewData["Area"] = Context.Session.GetString("_Casa");
    }
}

<style>
    small{
        font-weight:bold;
    }
</style>

<h1>Details</h1>

<div class="row">
    <hr />
    <div class="card col-12">
        <dl class="row card-body">
            <h4 class="col-12 card-title">Projeto</h4>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.NomeProjeto)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.NomeProjeto)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.AreaPesquisa)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.AreaPesquisa)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DataInicio)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DataInicio)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DataEncerramento)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DataEncerramento)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Estado)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.FonteFomento)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FonteFomento)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Inovacao)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Inovacao)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.status)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.status)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DuracaoProjetoEmMeses)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DuracaoProjetoEmMeses)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.ValorTotalProjeto)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ValorTotalProjeto)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.ValorAporteRecursos)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ValorAporteRecursos)
            </dd>
        </dl>
    </div>
    <div class="col-12">
    <hr />
    <h5> Entregas do Projeto</h5>
    <hr />
    @foreach (var entrega in entregas)
    {
        <div class="card m-1">
            <div class="card-body">
                <h6 class="card-title">
                    @(entrega.NomeEntrega)
                </h6>
                <div class="card-text row">
                    <div class="col-5">
                    @entrega.DescricaoEntrega
                    </div>
                    <div class="col-3">
                        <small>Data de Início (previsto)<br /></small>
                        @entrega.DataInicioEntrega.ToString("D")
                    </div>
                    <div class="col-3">
                        <small>Data de Término (previsto)<br /></small>
                        @entrega.DataFim.ToString("D")
                    </div>
                    <div class="col-1">
                        <small>Status<br /></small>
                        @if (entrega.Atrasada)
                        {
                            <span style='font-size:small;color:red'>Atrasada</span>
                        }
                        else {
                            if(entrega.Concluida)
                            {

                                <span style='font-size:small;color:green'>Concluída</span>
                            }
                                <span style='font-size:small;color:green'>No Prazo</span>
                        }
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a href="../RemoverEntrega/@entrega.Id">Remover</a> |
                <a href="../EditarEntrega/@entrega.Id">Editar</a> |
                <a href="../FinalizarEntrega/@entrega.Id">Marcar como Concluída</a>
            </div>
        </div>
    }
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <div>
        <a asp-action="Index" asp-route-casa="@ViewData["Area"]">Voltar</a>
    </div>

</div>
