@model BaseDeProjetos.Models.Projeto

@{
    ViewData["Title"] = "Details";
}
@using Microsoft.AspNetCore.Http
@{

    ViewData["Title"] = "Adicionar Prospecção";
    if (!(Context.Session.GetString("_Casa") is null))
    {
        ViewData["Area"] = Context.Session.GetString("_Casa");
    }
}

<partial name="Header" view-data="@ViewData" />
<div class="row" style="padding-left: 25em; padding-right: 10em; padding-top: 2em">
    <h1>Details</h1>
    <hr />
    <div class="card col-12">
        <dl class="row card-body">
            <h4 class="col-12 card-title">Projeto</h4>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.NomeProjeto)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.NomeProjeto)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.AreaPesquisa)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.AreaPesquisa)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DataInicio)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DataInicio)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DataEncerramento)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DataEncerramento)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Estado)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.FonteFomento)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FonteFomento)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Inovacao)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Inovacao)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DuracaoProjetoEmMeses)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DuracaoProjetoEmMeses)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.ValorTotalProjeto)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ValorTotalProjeto)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.ValorAporteRecursos)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ValorAporteRecursos)
            </dd>
        </dl>
    </div>
   </div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <div>
        <a asp-action="Index" asp-route-casa="@ViewData["Area"]">Voltar</a>
    </div>
</div>