@model BaseDeProjetos.Models.Projeto
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Editar";
    if (!(Context.Session.GetString("_Casa") is null))
    {
        ViewData["Area"] = Context.Session.GetString("_Casa");
    }
}

<partial name="Header" view-data="@ViewData" />
<div style="padding-left: 25em; padding-right: 10em; padding-top: 2em">
    <h1>Editar</h1>
    <h4>Projeto</h4>
    <hr />
    <div>
        <form asp-action="Edit" method="post" class="row">
            <fieldset class="col-6">
                <legend>Dados básicos do Projeto</legend>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" readonly />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Casa" class="control-label"></label>
                    <select asp-for="Casa" class="form-control" asp-items="Html.GetEnumSelectList<Instituto>()"></select>
                    <span asp-validation-for="Casa" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Empresa.Nome" class="control-label"></label>
                    <input asp-for="Empresa.Nome" class="form-control" />
                    <span asp-validation-for="Empresa.Nome" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NomeProjeto" class="control-label"></label>
                    <input asp-for="NomeProjeto" class="form-control" />
                    <span asp-validation-for="NomeProjeto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AreaPesquisa" class="control-label"></label>
                    <select asp-for="AreaPesquisa" class="form-control" asp-items="Html.GetEnumSelectList<LinhaPesquisa>()"></select>
                    <span asp-validation-for="AreaPesquisa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Inovacao" class="control-label"></label>
                    <select asp-for="Inovacao" class="form-control" asp-items="Html.GetEnumSelectList<TipoInovacao>()"></select>
                    <span asp-validation-for="Inovacao" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DataInicio" class="control-label"></label>
                    <input type="date" asp-for="DataInicio" class="form-control" />
                    <span asp-validation-for="DataInicio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataEncerramento" class="control-label"></label>
                    <input type="date" asp-for="DataEncerramento" class="form-control" />
                    <span asp-validation-for="DataEncerramento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DuracaoProjetoEmMeses" class="control-label"></label>
                    <input asp-for="DuracaoProjetoEmMeses" min="0" class="form-control" />
                    <span asp-validation-for="DuracaoProjetoEmMeses" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<StatusProjeto>()"></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </fieldset>
            <div class="col-6">
                <fieldset>
                    <legend>Dados contábeis do projeto</legend>
                    <div class="form-group">
                        <label asp-for="Estado" class="control-label"></label>
                        <select asp-for="Estado" class="form-control" asp-items="Html.GetEnumSelectList<Estado>()"></select>
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FonteFomento" class="control-label"></label>
                        <select asp-for="FonteFomento" class="form-control" asp-items="Html.GetEnumSelectList<TipoContratacao>()">
                            <option selected="selected" value="">Selecione uma opção</option>
                        </select>
                        <span asp-validation-for="FonteFomento" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ValorTotalProjeto" class="control-label"></label> (R$)
                        <input asp-for="ValorTotalProjeto" class="form-control" placeholder="@Model.ValorTotalProjeto" />
                        <span asp-validation-for="ValorTotalProjeto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ValorAporteRecursos" class="control-label"></label> (R$)
                        <input asp-for="ValorAporteRecursos" class="form-control" placeholder="3,00" />
                        <span asp-validation-for="ValorAporteRecursos" class="text-danger"></span>
                    </div>
                </fieldset>
                @* Estes campos serão utlizados futuramente, favor não apagar!
                <fieldset>
                    <legend>Equipe</legend>
                    <div class="form-group">
                        <label class="control-label"> Líder do Projeto</label>
                        <select asp-for="Equipe[0].Id" class="form-control" asp-items="@ViewData["Equipe"] as SelectList">
                            <option value="@(Model.Equipe.Count > 0?Model.Equipe[0].Id : "-1")" selected disabled> @Model.Equipe[0].UserName</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Vice-Líder do Projeto</label>
                        <select asp-for="Equipe[1].Id" class="form-control" asp-items="@ViewData["Equipe"] as SelectList">
                            <option value="@(Model.Equipe.Count > 1?Model.Equipe[1].Id : "-1")" selected disabled> @Model.Equipe[1].UserName</option>
                        </select>
                    </div>
                </fieldset>
                *@
            </div>
            <div class="form-group col-12">
                <input type="submit" value="Editar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-casa="@ViewData["Area"]">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}