@using Microsoft.AspNetCore.Http
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    if (!(Context.Session.GetString("_Casa") is null))
    {
        ViewData["Area"] = Context.Session.GetString("_Casa");
    }
    else
    {
        ViewData["Area"] = "Casa";
    }

    int n_empresas_prosp = 0;
    int n_propostas = 0;
    int n_projetos = 0;
    int n_empresas_projs = 0;
    double taxa_sucesso = 0;
    int n_empresas_eventos = 0;

    IEnumerable<Projeto> embrapii_projs;
    IEnumerable<Prospeccao> embrapii_prosps;
    embrapii_projs = (ViewBag.Embrapii_projs as List<Projeto>);
    embrapii_prosps = ViewBag.Embrapii_prosps as List<Prospeccao>;

    embrapii_projs = embrapii_projs.Where(p => p.FonteFomento == TipoContratacao.Embrapii);
    embrapii_prosps = embrapii_prosps.Where(p => p.TipoContratacao == TipoContratacao.Embrapii);

    try
    {

        n_empresas_prosp = embrapii_prosps.GroupBy(p => p.Empresa).Count();
        n_propostas = embrapii_prosps.Where(p => p.Status.Any(s => s.Status == StatusProspeccao.ComProposta)).Count();
        n_projetos = embrapii_projs.Count();
        n_empresas_projs = embrapii_projs.GroupBy(p => p.Empresa).Count();
        taxa_sucesso = embrapii_prosps.Where(p => p.Status.Any(s => s.Status == StatusProspeccao.ComProposta)).Count() / n_propostas;
        n_empresas_eventos = 0;
    }
    catch
    {
        //TODO
    }
}
<partial name="Header" view-data="@ViewData" />
@if (ViewData["Area"].Equals("ISIQV"))
{
    <div class="row mt-2">
        <div class="col-12 small" id="KPI">
            <div class="row justify-content-center">
                <div class="col-3">
                    <div class="card">
                        <div class="card-header"> Indicadores do @ViewBag.Area </div>
                        <div class="card-body">
                            Prospecção de empresas
                            <h4> @n_empresas_prosp</h4>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="card-header"> Indicadores do @ViewBag.Area </div>
                        <div class="card-body">
                            Número de Propostas Técnicas
                            <h4> @n_propostas </h4>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="card-header"> Indicadores do @ViewBag.Area </div>
                        <div class="card-body">
                            Contratação de Projetos
                            <h4> @n_projetos </h4>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="card-header"> Indicadores do @ViewBag.Area </div>
                        <div class="card-body">
                            Contratação de Empresas
                            <h4> @n_empresas_projs </h4>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="card-header"> Indicadores do @ViewBag.Area </div>
                        <div class="card-body">
                            Participação de empresas em eventos
                            <h4> @n_empresas_eventos </h4>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="card-header"> Indicadores do @ViewBag.Area </div>
                        <div class="card-body">
                            Pedidos de propriedade intelectual
                            <h4> @n_empresas_eventos </h4>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="card-header"> Indicadores do @ViewBag.Area </div>
                        <div class="card-body">
                            Taxa de sucesso de projetos
                            <h4> @n_empresas_eventos.ToString("P2") </h4>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="card">
                        <div class="card-header"> Indicadores do @ViewBag.Area </div>
                        <div class="card-body">
                            Participação financeira das empresas no portfólio
                            <h4> @n_empresas_eventos.ToString("P2") </h4>
                        </div>
                    </div>
                </div>

                <div class="col-3">
                    <div class="card">
                        <div class="card-header"> Indicadores do @ViewBag.Area </div>
                        <div class="card-body">
                            Taxa de sucesso de propostas técnicas
                            <h4> @taxa_sucesso.ToString("P2") </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="card-body mt-2 justify-content-center">
        <h5>A unidade não é credenciada pela Embrapii. </h5>
    </div>
}