@model IEnumerable<BaseDeProjetos.Models.Projeto>
@{
    int n_empresas = 0;
    int n_projetos = 0;
    decimal carteira = 0;
    decimal receita = 0;
    decimal ticket_medio = 0M;
    decimal receita_pesquisador = 0M;
    int grandes_empresas = 0;
    decimal sti_revenue = 0M;
    decimal sti_cost = 0M;
    double share_industry = 1;
    double share_funding = 1;
    double share_sis = 1;
    int empresas_fora = 0;


    switch (ViewBag.Area)
    {
        case "ISIQV":
            n_empresas = 12;
            n_projetos = 19;
            carteira = 12M;
            receita = 3M;
            ticket_medio = 219721.95M;
            receita_pesquisador = 417471.70M;
            grandes_empresas = 4;
            sti_revenue = 4174717M;
            sti_cost = 2308086M;
            share_industry = 0.56;
            share_funding = 0.11;
            share_sis = 0.32;
            empresas_fora = 5;
            break;
        case "ISIII":
            n_empresas = 5;
            n_projetos = 6;
            carteira = 5M;
            receita = 290523M;
            ticket_medio = 47420.5M;
            receita_pesquisador = 72630.75M;
            grandes_empresas = 4;
            sti_revenue = 290523M;
            sti_cost = 202674M;
            share_industry = 0.62;
            share_funding = 0.29;
            share_sis = 0.1;
            empresas_fora = 0;

            break;
        case "CISHO":
            n_empresas = 4;
            n_projetos = 4;
            carteira = 4M;
            receita = 257302M;
            ticket_medio = 64325M;
            receita_pesquisador = 128651M;
            grandes_empresas = 1;
            sti_revenue = 257302M;
            sti_cost = 47428M;
            share_industry = 0.0;
            share_funding = 0.0;
            share_sis = 1;
            empresas_fora = 3;
            break;
    }

    decimal sti_cost_cover = sti_revenue / (sti_cost + 0.001M);


    int cd_QV = Model.Where(p => p.Casa == Casa.ISIQV && p.FonteFomento == TipoContratacao.ContratacaoDireta).ToList().Count;
    int cd_II = Model.Where(p => p.Casa == Casa.ISIII && p.FonteFomento == TipoContratacao.ContratacaoDireta).ToList().Count;
    int cd_HO = Model.Where(p => p.Casa == Casa.CISHO && p.FonteFomento == TipoContratacao.ContratacaoDireta).ToList().Count;

    int ei_QV = Model.Where(p => p.Casa == Casa.ISIQV && p.FonteFomento == TipoContratacao.EditalInovacao).ToList().Count;
    int ei_II = Model.Where(p => p.Casa == Casa.ISIII && p.FonteFomento == TipoContratacao.EditalInovacao).ToList().Count;
    int ei_HO = Model.Where(p => p.Casa == Casa.CISHO && p.FonteFomento == TipoContratacao.EditalInovacao).ToList().Count;

    int emb_QV = Model.Where(p => p.Casa == Casa.ISIQV && p.FonteFomento == TipoContratacao.Embrapii).ToList().Count;
    int emb_II = Model.Where(p => p.Casa == Casa.ISIII && p.FonteFomento == TipoContratacao.Embrapii).ToList().Count;
    int emb_HO = Model.Where(p => p.Casa == Casa.CISHO && p.FonteFomento == TipoContratacao.Embrapii).ToList().Count;

    int af_QV = Model.Where(p => p.Casa == Casa.ISIQV && p.FonteFomento == TipoContratacao.AgenciaFomento).ToList().Count;
    int af_II = Model.Where(p => p.Casa == Casa.ISIII && p.FonteFomento == TipoContratacao.AgenciaFomento).ToList().Count;
    int af_HO = Model.Where(p => p.Casa == Casa.CISHO && p.FonteFomento == TipoContratacao.AgenciaFomento).ToList().Count;

    int ou_QV = Model.Where(p => p.Casa == Casa.ISIQV && p.FonteFomento == TipoContratacao.OutrosEditais).ToList().Count;
    int ou_II = Model.Where(p => p.Casa == Casa.ISIII && p.FonteFomento == TipoContratacao.OutrosEditais).ToList().Count;
    int ou_HO = Model.Where(p => p.Casa == Casa.CISHO && p.FonteFomento == TipoContratacao.OutrosEditais).ToList().Count;

    int anp_QV = Model.Where(p => p.Casa == Casa.ISIQV && p.FonteFomento == TipoContratacao.ANP).ToList().Count;
    int anp_II = Model.Where(p => p.Casa == Casa.ISIII && p.FonteFomento == TipoContratacao.ANP).ToList().Count;
    int anp_HO = Model.Where(p => p.Casa == Casa.CISHO && p.FonteFomento == TipoContratacao.ANP).ToList().Count;

    int par_QV = Model.Where(p => p.Casa == Casa.ISIQV && p.FonteFomento == TipoContratacao.Parceiro).ToList().Count;
    int par_II = Model.Where(p => p.Casa == Casa.ISIII && p.FonteFomento == TipoContratacao.Parceiro).ToList().Count;
    int par_HO = Model.Where(p => p.Casa == Casa.CISHO && p.FonteFomento == TipoContratacao.Parceiro).ToList().Count;

}

<div class="row">
    <figure class="col-12 highcharts-figure">
        <div id="projetos"></div>
    </figure>

    <div class="col-12 small" id="KPI">
        <div class="row justify-content-center">
            <div class="col-3">
                <div class="card">
                    <div class="card-header"> Indicadores do @ViewBag.Area </div>
                    <div class="card-body">
                        Total de empresas com projetos
                        <h4> @n_empresas </h4>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-header"> Indicadores do @ViewBag.Area </div>
                    <div class="card-body">
                        Número de projetos em andamento
                        <h4> @n_projetos </h4>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-header"> Indicadores do @ViewBag.Area </div>
                    <div class="card-body">
                        Carteira de projetos do @ViewBag.Area no período
                        <h4>@carteira.ToString("C2")</h4>

                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-header"> Indicadores do @ViewBag.Area </div>
                    <div class="card-body">
                        Ticket médio dos projetos contratados
                        <h4>@ticket_medio.ToString("C2")</h4>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-header"> Indicadores do @ViewBag.Area </div>
                    <div class="card-body">
                        Receita de projetos por pesquisador
                        <h4>@receita_pesquisador.ToString("C2")</h4>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-header"> Indicadores do @ViewBag.Area </div>
                    <div class="card-body">
                        Número de grandes empresas com projetos
                        <h4> @grandes_empresas </h4>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-header"> KPIs Business - 1 </div>
                    <div class="card-body">
                        Total STI Revenue
                        <h4>@sti_revenue.ToString("C2")</h4>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-header"> KPIs Business - 2 </div>
                    <div class="card-body">
                        Total STI cost
                        <h4>@sti_cost.ToString("C2")</h4>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-header"> KPIs Business - 3 </div>
                    <div class="card-body">
                        Cost covered by Revenue
                        <h4>@sti_cost_cover.ToString("P1")</h4>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-header"> KPIs Business - 4 </div>
                    <div class="card-body">
                        Share of industry revenue
                        <h4>@share_industry.ToString("P1")</h4>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-header"> KPIs Business - 5 </div>
                    <div class="card-body">
                        Share of revenue from funding programs
                        <h4>@share_funding.ToString("P1")</h4>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-header"> KPIs Business - 6 </div>
                    <div class="card-body">
                        Share of revenue from sistema industria
                        <h4>@share_sis.ToString("P1")</h4>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-header"> KPIs Business - 7 </div>
                    <div class="card-body">
                        Total R&amp;D&amp;I Revenue
                        <h4>@receita.ToString("C2")</h4>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-header"> KPIs Business - 8 </div>
                    <div class="card-body">
                        Share of R&amp;D&amp;I revenue
                        <h4>100.00 % </h4>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-header"> KPIs Business - 12 </div>
                    <div class="card-body">
                        Number of R&amp;D&amp;I projects outside own state
                        <h4> @empresas_fora </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<script type="text/javascript">
    Highcharts.chart('projetos', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Projetos dos institutos'
        },
        xAxis: {
            categories: [
                'Contratação Direta',
                'Editais de inovação',
                'Embrapii',
                'Agências de Fomento',
                'ANP',
                'Parceiro',
                'Outros editais',
            ],
        },
        yAxis: {
            min: 0,
            title: {
                text: 'projetos'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} projetos </b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        series: [{
            name: 'CIS-HO',
            data: [@cd_HO, @ei_HO, @emb_HO, @af_HO, @anp_HO, @par_HO, @ou_HO]

        }, {
            name: 'ISI-II',
            data: [@cd_II, @ei_II, @emb_II, @af_II, @anp_II, @par_II, @ou_II]

        }, {
            name: 'ISI-QV',
            data: [@cd_QV, @ei_QV, @emb_QV, @af_QV, @anp_QV, @par_QV, @ou_QV]

        }]
    });
</script>
