@model BaseDeProjetos.Models.Entrega
@{
    Projeto projeto = ViewData["Projeto"] as Projeto;
}

<div class="container-fluid">
    <div class="row">
        <div class="card col-4">
            <div class="card-text card-body">
                <h3 class="card-title"> Dados do Projeto</h3>
                <div><strong>Nome do Projeto</strong>: @projeto.NomeProjeto</div>
                <div><strong>Data de Início</strong>: @projeto.DataInicio</div>
                <div><strong>Data de Encerramento</strong>: @projeto.DataEncerramento</div>
                <div><strong>Duração do projeto</strong>: @projeto.DuracaoProjetoEmMeses meses</div>
            </div>
        </div>
        <div class="col-8">
            <div>
                <form asp-action="IncluirEntrega" >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ProjetoId" value="@projeto.Id" />

                    <label asp-for="Id"></label>
                    @{ var unique_id = $"entrega_{DateTime.Now.Ticks}";}
                    <input asp-for="Id" class="form-control" value="@unique_id" readonly />
                    <span asp-validation-for="Id" class="text-danger"></span>

                    <label asp-for="Projeto.NomeProjeto"></label>
                    <input asp-for="Projeto.NomeProjeto" class="form-control" value="@projeto.NomeProjeto" readonly />
                    <span asp-validation-for="Projeto.NomeProjeto" class="text-danger"></span>


                    <label asp-for="NomeEntrega"></label>
                    <input asp-for="NomeEntrega" class="form-control" />
                    <span asp-validation-for="NomeEntrega" class="text-danger"></span>

                    <div class="form-group">
                        <label asp-for="DescricaoEntrega" class="control-label"></label>
                        <textarea class="form-control" asp-for=" DescricaoEntrega" rows="3"></textarea>
                        <span asp-validation-for="DescricaoEntrega" class="text-danger"></span>
                    </div>

                    <label asp-for="DataEntrega"></label>
                    <input asp-for="DataEntrega" type="date" class="form-control" />
                    <span asp-validation-for="DataEntrega" class="text-danger"></span>

                     <label asp-for="DataFim"></label>
                    <input asp-for="DataFim" type="date" class="form-control" />
                    <span asp-validation-for="DataFim" class="text-danger"></span>


                    <div>
                        <input class="btn btn-dark" type="submit" value="Cadastrar Entrega">
                    </div>
                </form>

                <hr />
                <h6> ou você pode optar por incluir um arquivo csv com as entregas </h6>
                <partial name="incluirEntregas" />
            </div>
        </div>
    </div>
</div>

