@model IEnumerable<BaseDeProjetos.Models.Projeto>
@{ ViewData["Title"] = "Projetos";
                List<Projeto> ativas = ViewBag.Ativos as List<Projeto>;
                List<Projeto> encerradas = ViewBag.Encerrados as List<Projeto>; }

<div class="row card">
    <div class=" col-12 card-body">
        <h1 class="card-title">Projetos - @ViewData["Area"]</h1>
        <div>
            <label>Selecione o ano:</label>
            <select class="form-select" id="ano" onchange="updateLink()">
                <option value="Todos">Todos</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
            </select>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Gráfico</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="fraun-tab" data-toggle="tab" href="#fraun" role="tab" aria-controls="profile" aria-selected="false">KPIs Fraunhofer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="embrapii-tab" data-toggle="tab" href="#embrapii" role="tab" aria-controls="profile" aria-selected="false">KPIs Embrapii</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Lista de Projetos Ativos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#encerrados" role="tab" aria-controls="encerrados" aria-selected="false">Lista de Projetos Encerrados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Importar</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div>
                    <partial name="graph_projetos" view-data="@ViewData" model="@Model" />
                </div>
            </div>
            <div class="tab-pane fade" id="fraun" role="tabpanel" aria-labelledby="fraun-tab">
                <div>
                    <partial name="Fraunhofer" view-data="@ViewData" model="@Model" />
                </div>
            </div>
            <div class="tab-pane fade" id="embrapii" role="tabpanel" aria-labelledby="embrapii-tab">
                <div>
                    <partial name="Embrapii" view-data="@ViewData" model="@Model" />
                </div>
            </div>

            <div class="tab-pane fade container-fluid" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="alert alert-info">
                    <p class="text-body">Para visualizar todos os campos, clique na tabela e arraste para os lados</p>
                </div>
                <partial name="lista_projetos" view-data="@ViewData" model="@ativas" />
            </div>

            <div class="tab-pane fade container-fluid" id="encerrados" role="tabpanel" aria-labelledby="encerrados-tab">
                <div class="alert alert-info">
                    <p class="text-body">Para visualizar todos os campos, clique na tabela e arraste para os lados</p>
                </div>
                <partial name="lista_projetos" view-data="@ViewData" model="@encerradas" />
            </div>

            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="card card-body">
                    <h5 class="card-title">Carregar lista de Projetos </h5>
                    <form class="card-text" enctype="multipart/form-data" action="Projetos/CarregarProjetos" method="POST">
                        <div>
                            <span>
                                <label>Upload de arquivo</label>
                            </span>
                            <div>
                                <input type="file" name="files">
                            </div>
                        </div>
                        <input class="btn btn-dark" type="submit" value="Upload" />
                    </form>
                </div>
            </div>
        </div>
        <hr />
        <div>
            <button class="btn btn-outline-primary col-12">
                <a asp-action="Create">Adicionar Novo Projeto</a>
            </button>
        </div>
        <hr />
    </div>
</div>