@model IEnumerable<BaseDeProjetos.Models.Projeto>
@{
    ViewData["Title"] = "Projetos";
    List<Projeto> ativas = ViewBag.Ativos as List<Projeto>;
    List<Projeto> encerradas = ViewBag.Encerrados as List<Projeto>;
}

<div class="row card">
    <div class=" col-12 card-body">
        <h1 class="card-title">Projetos @ViewData["Area"]</h1>
        <div>
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-secondary p-4">
                    <h5 class="text-white h4">Menu</h5>
                    <form asp-controller="Projetos" asp-action="Index" method="post">
                    <div class="row g-3">
                        <div class="col-2">
                            <select autofocus class="form-select" name="ano">
                                <option value="Todos" selected>Selecione o ano:</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <select class="form-select">
                                <option value="">Selecione Status</option>
                                <option value="Contratado">Contratado</option>
                                <option value="EmExecucao">Em Execucao</option>
                                <option value="Concluido">Concluido</option>
                            </select>
                        </div>
                        <div class="col-6">                    
                            <div class="input-group mb-3">
                                <input class="form-control" type="text" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Pesquise pelo líder ou empresa"/>
                                <button type="submit" class="btn btn-primary">Procurar</button>
                            </div>
                        </div>
                        <div class="col-2">
                            <a asp-action="Create" style="text-decoration:none;" class="btn btn-primary">Adicionar Novo Projeto</a>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid justify-content-end">
                    <button class="navbar-toggler btn btn-outline-primary bg-primary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">                        
                            menu<span class="spinner-grow spinner-grow-sm ms-2" role="status" aria-hidden="true"></span>                                              
                    </button>
                </div>
            </nav>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Gráfico</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Lista de Projetos</a>
            </li>      
        </ul>
        
        <br />

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div>
                    <partial name="graph_projetos" view-data="@ViewData" model="@Model" />
                </div>
            </div>
            <div class="tab-pane fade" id="fraun" role="tabpanel" aria-labelledby="fraun-tab">
                <div>
                    <partial name="Fraunhofer" view-data="@ViewData" model="@Model" />
                </div>
            </div>
            <div class="tab-pane fade" id="embrapii" role="tabpanel" aria-labelledby="embrapii-tab">
                <div>
                    <partial name="Embrapii" view-data="@ViewData" model="@Model" />
                </div>
            </div>
            <div class="tab-pane fade container-fluid" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <partial name="lista_projetos" view-data="@ViewData" model="@ativas"/>
            </div>
            <div class="tab-pane fade container-fluid" id="encerrados" role="tabpanel" aria-labelledby="encerrados-tab">
                <partial name="lista_projetos" view-data="@ViewData" model="@encerradas"/>
            </div>
        </div>
    </div>
</div>