@model IEnumerable<BaseDeProjetos.Models.Projeto>
@{
    ViewData["Title"] = "Projetos";
    List<Projeto> ativos = ViewBag.Ativos as List<Projeto>;
    List<Projeto> encerrados = ViewBag.Encerrados as List<Projeto>;
}

<partial name="Header" view-data="@ViewData" />
<script>
    var projetosDetalhes = []

    function carregarModalProjeto(idProjeto, tipo) {
        if (tipo) {
            fetch(`/Projetos/RetornarModal?idProjeto=${idProjeto}&tipo=${tipo}`)
                .then(response => response.text())
                .then(result => {
                    document.querySelector(`#modal${tipo}Projeto-${idProjeto}-container`).innerHTML = result;
                });
        } else {
            console.log("Tipo de Modal Inválido");
        }
    }

    function carregarModalDetalhesProjeto(idProjeto) {
        // Verifica se o modal da Projetoeccao ja foi carregada para que não se carregue-o duas vezes sem necessidade
        let buttonName = "#button-" + idProjeto
        let buttonDetalhes = document.querySelector(buttonName)

        if (!projetosDetalhes.includes(idProjeto)) {
            buttonDetalhes.disabled = true;
            buttonDetalhes.innerHTML = '<div class="spinner-border spinner-border-sm text-light" role="status"><span class="visually-hidden">Loading...</span></div>';
            fetch(`/Projetos/RetornarModalDetalhes?idProjeto=${idProjeto}`)
                .then(response => response.text())
                .then(result => {
                    document.querySelector(`#modalDetailsProjeto-${idProjeto}-container`).innerHTML = result;
                    buttonDetalhes.innerHTML = 'Detalhes';
                    buttonDetalhes.disabled = false;
                });
        }
    }

    function carregarModaisProjeto(idProjeto) {
        // O nome precisa bater com o nome da view, no sentido que, o sufixo será "ProjViewComponent". Em outras palavras, está acoplado.
        modaisDisponiveis = ["DetalhesCFF", "IncluirCFF", "DetalhesIndicador", "IncluirIndicador", "Edit", "Delete"]
        modaisDisponiveis.forEach((tipo) => {
            carregarModalProjeto(idProjeto, tipo)
        })
        carregarModalDetalhesProjeto(idProjeto);
        projetosDetalhes.push(idProjeto);
    }


</script>
<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="">
            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="app-page-title mb-0">Projetos @ViewData["Area"]</h1>
                </div>
                <div class="col-auto">
                    <div class="page-utilities">
                        <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                            <div class="col-auto">
                                <form class="table-search-form row gx-1 align-items-center">
                                    <div class="col-auto">
                                        <input type="text" id="search-orders" name="SearchString" value='@ViewData["CurrentFilter"]' class="form-control search-orders" placeholder="Pesquise pela empresa" autocomplete="off">
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn app-btn-primary">Pesquisar</button>
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn app-btn-primary">Lista Completa</button>
                                    </div>
                                </form>

                            </div>
                            <div class="col-auto">
                                <select autofocus class="form-select w-auto" name="ano">
                                    <option value="Todos">Todos</option>
                                    @{
                                        int anoFinal = 2019;
                                        int anoAtual = DateTime.Now.Year;
                                        while (anoAtual >= anoFinal)
                                        {
                                            <option value="@anoAtual">@anoAtual</option>
                                            anoAtual--;
                                        }
                                    }
                                </select>

                            </div>
                            <div class="col-auto">
                                <select class="form-select w-auto">
                                    <option value="">Selecione Status</option>
                                    <option value="Contratado">Contratado</option>
                                    <option value="EmExecucao">Em Execução</option>
                                    <option value="Concluido">Concluído</option>
                                </select>

                            </div>
                            <div class="col-auto">
                                <a class="btn app-btn-primary" data-bs-toggle="modal" href="#modalCreateProjeto" role="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill"
                                         viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                                    </svg> Novo Projeto
                                </a>
                                @await Component.InvokeAsync("ModalCreateProjeto")
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
                <a class="flex-sm-fill text-sm-center nav-link active" id="projeto-graficos-tab" data-bs-toggle="tab" href="#projeto-graficos" role="tab" aria-controls="projeto-graficos" aria-selected="true">Gráficos</a>
                <a class="flex-sm-fill text-sm-center nav-link" id="projeto-ativos-tab" data-bs-toggle="tab" href="#projeto-ativos" role="tab" aria-controls="projeto-ativos" aria-selected="false">Ativos (@ativos.Count())</a>
                <a class="flex-sm-fill text-sm-center nav-link" id="projeto-encerrados-tab" data-bs-toggle="tab" href="#projeto-encerrados" role="tab" aria-controls="projeto-encerrados" aria-selected="false">Concluídos (@encerrados.Count())</a>
            </nav>


            <div class="tab-content" id="orders-table-tab-content">
                <div class="tab-pane fade show active" id="projeto-graficos" role="tabpanel" aria-labelledby="projeto-graficos-tab">
                    <div class="app-card app-card-orders-table mb-5">
                        <div class="app-card-body">
                            <partial name="graph_projetos" view-data="@ViewData" />
                        </div>
                    </div>

                </div>

                @*// TODO: Loop*@

                <div class="tab-pane fade" id="projeto-ativos" role="tabpanel" aria-labelledby="projeto-ativos-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div class="table-responsive">

                                <table class="table mb-0 text-left">
                                    <thead>
                                        <tr>
                                            <th class="cell">Empresa</th>
                                            <th class="cell">Projeto</th>
                                            <th class="cell">Proponente</th>
                                            <th class="cell">Equipe</th>
                                            <th class="cell">Status</th>
                                            <th class="cell">Valor</th>
                                            <th class="cell">Custo de HH</th>
                                            <th class="cell">Fonte de Fomento</th>
                                            <th class="cell">Data de Início</th>
                                            <th class="cell">Data de Encerramento</th>
                                            <th class="cell">Satisfação do Cliente (Parcial)</th>
                                            <th class="cell">Satisfação do Cliente (Final)</th>
                                            <th class="cell">Detalhes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <partial name="lista_projetos" view-data="@ViewData" model="@ativos" />
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="projeto-encerrados" role="tabpanel" aria-labelledby="projeto-encerrados-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div class="table-responsive">
                                <table class="table mb-0 text-left">
                                    <thead>
                                        <tr>
                                            <th class="cell">Empresa</th>
                                            <th class="cell">Projeto</th>
                                            <th class="cell">Proponente</th>
                                            <th class="cell">Equipe</th>
                                            <th class="cell">Status</th>
                                            <th class="cell">Valor</th>
                                            <th class="cell">Custo de HH</th>
                                            <th class="cell">Fonte de Fomento</th>
                                            <th class="cell">Data de Início</th>
                                            <th class="cell">Data de Encerramento</th>
                                            <th class="cell">Satisfação do Cliente (Parcial)</th>
                                            <th class="cell">Satisfação do Cliente (Final)</th>
                                            <th class="cell">Detalhes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <partial name="lista_projetos" Detalhes-data="@ViewData" model="@encerrados" />
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <partial name="Footer" />
</div>