@model IEnumerable<BaseDeProjetos.Models.Projeto>

@{
    ViewData["Title"] = "Index";
    ViewData["Area"] = "CIS-HO";
}

<div class="row card">
    <div class=" col-12 card-body">
    <h1 class="card-title">Projetos - @ViewData["Area"]</h1>
        <div class="col-12 card-img">
            <img style="width:100%" src="https://www.codewall.co.uk/wp-content/uploads/2018/10/hr-dashboard-example.jpg" />
        </div>

        <hr />
        <p>
            <a asp-action="Create">
                <button class="btn btn-primary"> Create New</button>
            </a>
        </p>
        <hr />

            <table class="table card-text">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NomeProjeto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AreaPesquisa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataInicio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FonteFomento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Inovacao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.status)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeProjeto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AreaPesquisa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataInicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FonteFomento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Inovacao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.status)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
