@model IEnumerable<BaseDeProjetos.Models.Projeto>
@using BaseDeProjetos.Helpers
<style>
    .caixa-logo {
        max-width: 180px;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    #logoEmpresa {
        object-fit: contain;
        max-width: 180px;
        max-height: 180px;
        padding: 20px;
    }
    #box-btn-actions {
        width: 100%;
        justify-content: center;
        gap: 10px;
    }
    span{
        text-align:center;
    }
</style>


    @foreach (var item in Model)
    {
    if (item.DataEncerramento < DateTime.Today && (item.Status == StatusProjeto.EmExecucao)){
        item.Status = StatusProjeto.Atrasado;
    }
        <div class="container">
            <div class="card mb-2 mt-1">

            @switch(item.Status){
                case StatusProjeto.EmExecucao:
                    <div class="card-header bg-primary" style="color:white">
                        @Html.DisplayFor(modelItem => item.Status)
                    </div>
                    break;
                case StatusProjeto.Concluido:
                    <div class="card-header bg-success" style="color:white">
                        @Html.DisplayFor(modelItem => item.Status)
                    </div>
                break;
                case StatusProjeto.Contratado:
                    <div class="card-header bg-light">
                        @Html.DisplayFor(modelItem => item.Status)
                    </div>
                break;
                case StatusProjeto.Atrasado:
                    <div class="card-header bg-danger" style="color:white">
                        @Html.DisplayFor(modelItem => item.Status)
                    </div>
                break;
                default:
                    <div class="card-header bg-warning" style="color:white">
                    Projeto desatualizado. Contate o PMO Operacional
                        @Html.DisplayFor(modelItem => item.Status)
                    </div>
                break;
            }
                <div class="card-body">
                    <div class="card-text row">
                        <div class="col-2">
                            @if (item.Empresa != null)
                            {
                                <img style="background-color:white" id="logoEmpresa" src="@item.Empresa.Logo" alt="Logo da Empresa" />
                            }
                            else
                            {
                                <h5 id="logo_alt">Sem Logo</h5>
                            }
                        </div>


                        <div class="col-10 row">
                            <div class="col-12 row">
                                <span class="col"><strong>@Html.DisplayNameFor(model => model.Empresa.Nome)</strong></span>
                                <span class="col"><strong>@Html.DisplayNameFor(model => model.NomeProjeto)</strong></span>
                                <span class="col"><strong>@Html.DisplayNameFor(model => model.ValorAporteRecursos)</strong></span>
                                <span class="col"><strong>@Html.DisplayNameFor(model => model.FonteFomento)</strong></span>
                                <span class="col"><strong>@Html.DisplayNameFor(model => model.DataEncerramento)</strong></span>
                            </div>

                            <hr>

                            <div class="col-12 row">
                                <span class="col">@Html.DisplayFor(modelItem => item.Empresa.Nome)</span>
                                <span class="col">@Html.DisplayFor(modelItem => item.NomeProjeto)</span>
                                <span class="col">
                                    @if(item.ValorAporteRecursos != null && item.ValorAporteRecursos > 0)
                                    {
                                        <span> R$ @Helpers.FormatarValoresDashboards((decimal)item.ValorAporteRecursos)</span>
                                    }
                                    else
                                    {
                                        <span>A preencher</span>
                                    }
                                </span class="col">
                                <span class="col">@Html.DisplayFor(modelItem => item.FonteFomento)</span>
                                <span class="col">
                                    @item.DataEncerramento.ToString("dd/MM/yyy")
                                </span>
                            </div>



                        </div>
                    </div>

              <div class="collapse" id="@item.Id">
                           <hr>
                <div >
                    <div style="display:flex; justify-content: center; gap: 5px;">
                        <a asp-action="Edit" asp-route-id="@item.Id"><button class="btn btn-outline-primary">Editar</button></a>
                        <a asp-action="Details" asp-route-id="@item.Id"><button class="btn btn-outline-primary">Detalhes</button></a>
                        <a asp-action="IncluirEntrega" asp-route-id="@item.Id"><button class="btn btn-outline-primary">Inserir Entregas</button></a>
                        <a asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-outline-primary">Remover</button></a>
                    </div>
                </div>

                </div>
                 </div>
                 <button id="btn-collapse" class="btn btn-outline-secondary container-fluid" type="button" data-toggle="collapse" data-target="#@item.Id" aria-expanded="false" aria-controls="collapseExample">
                    Ver mais detalhes
                </button>

             </div>
           
        </div>


    }
