@model IEnumerable<BaseDeProjetos.Models.Projeto>
@using System.Collections

<style>

    .caixa-projetos {
        width: 100%;
        height: 200px;
        border: solid 1px black;
        border-radius: 5px;
        display: flex;
    }

    .caixa-logo {
        max-width: 180px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .caixa-descricao {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .titulo-descricao, .conteudo-descricao {
        font-weight: bold;
        font-size: 13px;
        width: 20%;
        text-align: center;
    }

    .descricao, .caixa-conteudo {
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 5px;
    }

    .caixa-conteudo {
        height: 50%;
        align-items: flex-start;
    }

    #logoEmpresa {
        object-fit: contain;
        max-width: 180px;
        max-height: 180px;
        padding: 20px;
    }

    #box-btn-actions {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

</style>

@foreach (var item in Model)
{
    <div class="container">
        <div class="caixa-projetos">
            <div class="caixa-logo">
                @if (item.Empresa != null)
                {
                    <img style="background-color:white" id="logoEmpresa" src="@item.Empresa.Logo" alt="Logo da Empresa" />
                }
                else
                {
                    <h5 id="logo_alt">Sem Logo</h5>
                }
            </div>
            <div class="caixa-descricao">
                <div class="descricao">
                    <p class="titulo-descricao">@Html.DisplayNameFor(model => model.Empresa.Nome)</p>
                    <p class="titulo-descricao">@Html.DisplayNameFor(model => model.NomeProjeto)</p>
                    <p class="titulo-descricao">@Html.DisplayNameFor(model => model.Lider)</p>
                    <p class="titulo-descricao">@Html.DisplayNameFor(model => model.FonteFomento)</p>
                    <p class="titulo-descricao">@Html.DisplayNameFor(model => model.status)</p>
                </div>
                <div class="caixa-conteudo">
                    <p class="conteudo-descricao">@Html.DisplayFor(modelItem => item.Empresa.Nome)</p>
                    <p class="conteudo-descricao">@Html.DisplayFor(modelItem => item.NomeProjeto)</p>
                    <p class="conteudo-descricao">
                        @try
                        {
                            @Html.DisplayFor(modelItem => item.NomeLider)
                        }
                        catch
                        {
                            <span class="text-secondary">A preencher</span>
                        }
                    </p>
                    <p class="conteudo-descricao">@Html.DisplayFor(modelItem => item.FonteFomento)</p>
                    <p class="conteudo-descricao">@Html.DisplayFor(modelItem => item.status)</p>
                </div>
            </div>
        </div>
        <button id="btn-collapse" class="btn btn-outline-secondary container-fluid" type="button" data-toggle="collapse" data-target="#@item.Id" aria-expanded="false" aria-controls="collapseExample">
            Ver mais detalhes
        </button>
        <div class="collapse" id="@item.Id">
            <div class="card card-body" id="card-body">
                <div id="box-btn-actions">
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="IncluirEntrega" asp-route-id="@item.Id">Inserir Entregas</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
                </div>
            </div>
        </div>
    </div>
}
