@model IEnumerable<BaseDeProjetos.Models.Projeto>
@using BaseDeProjetos.Helpers
@{
    var usuarios = ViewData["Usuarios"] as List<Usuario>;
}

<style>
    .caixa-logo {
        max-width: 180px;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    #box-btn-actions {
        width: 100%;
        justify-content: center;
        gap: 10px;
    }
</style>

<script>
    function setupTippy(id) {
        try {
            if (!tippyDone.includes(id)) {
                console.log("Setting up tippy for: " + id);
                tippy(`#${id}`, { allowHTML: true, placement: 'left' });
                tippyDone.push(id);
            }
        } catch (error) {
            console.error(`Um erro ocorreu ao tentar setar o tippy... vamos tentar novamente. ${error}`);
            tippy(`#${id}`, { allowHTML: true, placement: 'left' });
        }
    }
</script>

@foreach (var projeto in Model)
{
    <div id="modalEditProjeto-@projeto.Id-container">
    </div>

    <div id="modalDeleteProjeto-@projeto.Id-container">
    </div>

    <div id="modalHistoryProjeto-@projeto.Id-container">
    </div>

    <div id="modalDetailsProjeto-@projeto.Id-container">
    </div>

    <div id="modalIncluirIndicadorProjeto-@projeto.Id-container">
    </div>

    <div id="modalDetalhesIndicadorProjeto-@projeto.Id-container">
    </div>
    
    <div id="modalIncluirCFFProjeto-@projeto.Id-container">
    </div>

    <div id="modalDetalhesCFFProjeto-@projeto.Id-container">
    </div>

    <tr>
        <td class="cell">
            <div class="d-flex gap-2 flex-column align-items-center">
                <div>
                    @*LOGO*@
                    @if (projeto.Empresa.Logo != null)
                    {
                        <img style="border: 2px solid #999; border-radius: 10px; background: white" loading="lazy" src="@projeto.Empresa.Logo" id="logoEmpresa" alt="Logo da Empresa" />
                    }
                    else
                    {
                        <nobr id="logo_alt">Sem Logo</nobr>
                    }
                </div>
                <div style="text-align:center;width:90px">
                    @*NOME EMPRESA*@
                    @projeto.Empresa.Nome @*FAVOR NAO EDITAR*@
                </div>
            </div>
        </td>

        <td class="cell">
            @projeto.NomeProjeto
        </td>
        <td class="cell">
            @if (projeto.Proponente != null)
            {
                <span onmouseover="setupTippy('cargoProponente-@(projeto.Id)')" data-tippy-content="@projeto.Proponente.Cargo?.Nome" id="cargoProponente-@projeto.Id" class="badge bg-success">@projeto.Proponente.UserName</span> @*Líder*@
            }
            else
            {
                <span class="badge bg-danger">Sem Proponente</span>
            }
        </td>
        <td class="cell">
            @if (projeto.Usuario != null)
            {
                <span onmouseover="setupTippy('cargoUsuario-@(projeto.Id)')" data-tippy-content="@projeto.Usuario.Cargo?.Nome" id="cargoUsuario-@projeto.Id" class="badge bg-success">@projeto.Usuario.UserName</span> @*Líder*@
            }
            else
            {
                <span class="badge bg-danger">Sem Líder</span>
            }
            @if (projeto.EquipeProjeto != null)
            {
                foreach (var relacao in projeto.EquipeProjeto)
                {
                    <span onmouseover="setupTippy('cargoMembro-@(relacao.Usuario?.Id)')" data-tippy-content="@relacao.Usuario.Cargo?.Nome" id="cargoMembro-@relacao.Usuario?.Id" class="badge bg-info">@relacao.Usuario?.UserName</span>
                }
            }
        </td>
        <td class="cell">
            @if (projeto.Status == StatusProjeto.EmExecucao) 
            {
                if (DateTime.Now > projeto.DataEncerramento)
                {
                    <span class="badge bg-danger" onmouseover="setupTippy('statusCargo-@(projeto.Id)')" data-tippy-content="Atrasado" id="statusCargo-@projeto.Id">@projeto.Status.GetDisplayName()</span>
                    <i class="text-danger bi bi-hourglass-bottom"></i>
                }
                else
                {
                    <span class="badge bg-success" onmouseover="setupTippy('statusCargo-@(projeto.Id)')" data-tippy-content="Dentro do Prazo" id="statusCargo-@projeto.Id">@projeto.Status.GetDisplayName()</span>
                    <i class="text-success bi bi-hourglass-split"></i>
                }
            } 
            else
            {
                <span class="badge bg-info">@projeto.Status.GetDisplayName()</span>
            }
        </td>
        <td class="cell">
            @if (projeto.ValorAporteRecursos != 0 && projeto.ValorAporteRecursos > 0)
            {
                <span> R$ @Helpers.FormatarValoresDashboards((decimal)projeto.ValorAporteRecursos)</span>
            }
            else
            {
                <span>A preencher</span>
            }
        </td>
        <td class="cell">
            <span>R$ @projeto.CustoHH.ToString("N")</span>
        </td>
        <td class="cell">
            @projeto.FonteFomento.GetDisplayName()
        </td>
        <td class="cell">
            <span>@projeto.DataInicio.ToString("dd/MM/yyyy")</span>
        </td>
        <td class="cell">
            <span>@projeto.DataEncerramento.ToString("dd/MM/yyyy")</span>
        </td>
        @if (projeto.SatisfacaoClienteParcial != null)
        {
            <td class="cell">
                <span>@(projeto.SatisfacaoClienteParcial?.ToString("N"))%</span>
            </td>
        }
        else
        {
            <td class="cell">
                <span>
                    Sem pesquisa realizada
                </span>
            </td>
        }

        @if (projeto.SatisfacaoClienteFinal != null)
        {
            <td class="cell">
                <span>@(projeto.SatisfacaoClienteFinal?.ToString("N"))%</span>
            </td>
        }
        else
        {
            <td class="cell">
                <span>
                    Sem pesquisa realizada
                </span>
            </td>
        }


        <td class="cell">
            <button type="button" data-bs-target="#modalDetalhes-@projeto.Id" id="button-@projeto.Id" data-bs-toggle="modal" class="btn-sm app-btn-primary" onmouseover="carregarModaisProjeto('@projeto.Id')">Detalhes</button>
        </td>
    </tr>
}