@model BaseDeProjetos.Models.Prospeccao
@using Microsoft.AspNetCore.Http
@using System.Globalization

@{
    ViewData["Title"] = "Edit";
    if (!(Context.Session.GetString("_Casa") is null))
    {
        ViewData["Area"] = Context.Session.GetString("_Casa");
    }
}

<form asp-action="Edit" asp-route-id="@Model.Id" method="post">
    <div class="modal fade" id="editarProspModal-@Model.Id-Toggle" aria-hidden="true" aria-labelledby="editarProspModal-@Model.Id-ToggleLabel"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editarProspModal-@Model.Id-ToggleLabel">Dados da Prospecção</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-2">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" readonly />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="Casa" class="col-form-label" style="font-weight: 600"></label>
                        <select asp-for="Casa" class="form-control" asp-items="Html.GetEnumSelectList<Instituto>().OrderBy(p=>p.Text)"></select>
                        <span asp-validation-for="Casa" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="NomeProspeccao" class="col-form-label" style="font-weight: 600"></label>
                        <input asp-for="NomeProspeccao" class="form-control" placeholder="Um nome amigável para a prospecção. Ex.: Proposta dos biossurfactantes" />
                        <span asp-validation-for="NomeProspeccao" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="Origem" class="col-form-label" style="font-weight: 600"></label>
                        <select asp-for="Origem" class="form-control" asp-items="Html.GetEnumSelectList<Origem>()"></select>
                        <span asp-validation-for="Origem" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="MembrosEquipe" class="col-form-label" style="font-weight: 600">Membros</label>
                        <input type="text" asp-for="MembrosEquipe" class="form-control d-none" id="membrosTextEdit" />
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                </svg>
                            </span>
                            <select id="campoSelectEdit" class="form-select" multiple="true" onclick="textToSelect('editarProspModal-@Model.Id-Toggle','membrosTextEdit','campoSelectEdit')"></select>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label asp-for="TipoContratacao" class="col-form-label" style="font-weight: 600"></label>
                        <select asp-for="TipoContratacao" class="form-control" asp-items="Html.GetEnumSelectList<TipoContratacao>().OrderBy(p=>p.Text)"></select>
                        <span asp-validation-for="TipoContratacao" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="LinhaPequisa" class="col-form-label" style="font-weight: 600"></label>
                        <select asp-for="LinhaPequisa" class="form-control" asp-items="Html.GetEnumSelectList<LinhaPesquisa>().OrderBy(p=>p.Text)"></select>
                        <span asp-validation-for="LinhaPequisa" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="PotenciaisParceiros" class="col-form-label" style="font-weight: 600"></label>
                        <input asp-for="PotenciaisParceiros" class="form-control"
                               placeholder="Uma lista de potenciais parceiros, separados por PONTO E VIRGULA. Ex.: Pepsico; Coca-cola" />
                        <span asp-validation-for="PotenciaisParceiros" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="CaminhoPasta" class="col-form-label" style="font-weight: 600"></label>
                        <input asp-for="CaminhoPasta" class="form-control" placeholder="Caminho da pasta no drive" />
                        <span asp-validation-for="CaminhoPasta" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label class="control-label"> Líder da Prospecção</label>
                        <select asp-for="Usuario.Id" class="form-control" asp-items='@ViewData["Equipe"] as SelectList'>
                            <option value="@Model.Usuario" selected disabled>@Model.Usuario.UserName</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn app-btn-primary" data-bs-target="#editarProspModal-@Model.Id-Toggle2" data-bs-toggle="modal" onclick="selectToText('campoSelectEdit', 'membrosTextEdit')">
                        Próximo
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editarProspModal-@Model.Id-Toggle2" aria-hidden="true" aria-labelledby="editarProspModal-@Model.Id-ToggleLabel2"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editarProspModal-@Model.Id-ToggleLabel2">Informações da Empresa</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-2" id="group">
                        <label asp-for="Empresa" class="col-form-label" style="font-weight: 600"></label>
                        <select asp-for="Empresa.Id" class="form-control" asp-items='@(ViewData["Empresas"] as SelectList).OrderBy(p=>p.Text)'>
                            <option value="-1">Selecione a empresa</option>
                        </select>
                        <span asp-validation-for="Empresa.Id" class="text-danger"></span>
                    </div>
                    <hr />
                    <h1 class="modal-title fs-5">Dados do Contato</h1>
                    <hr />
                    <div class="mb-2">
                        <label asp-for="Contato.Nome" class="col-form-label" style="font-weight: 600"></label>
                        <input asp-for="Contato.Nome" class="form-control" />
                        <span asp-validation-for="Contato.Nome" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="Contato.Cargo" class="col-form-label" style="font-weight: 600"></label>
                        <input asp-for="Contato.Cargo" class="form-control" />
                        <span asp-validation-for="Contato.Cargo" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="Contato.Telefone" class="col-form-label" style="font-weight: 600"></label>
                        <input asp-for="Contato.Telefone" class="form-control"
                               onkeypress="$(this).mask('(00) 0000-00009')" />
                        <span asp-validation-for="Contato.Telefone" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="Contato.Email" class="col-form-label" style="font-weight: 600"></label>
                        <input type="email" asp-for="Contato.Email" class="form-control" />
                        <span asp-validation-for="Contato.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn app-btn-primary" data-bs-target="#editarProspModal-@Model.Id-Toggle" data-bs-toggle="modal">
                        Anterior
                    </button>
                    <button type="button" class="btn app-btn-primary" data-bs-target="#editarProspModal-@Model.Id-Toggle3" data-bs-toggle="modal">
                        Próximo
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editarProspModal-@Model.Id-Toggle3" aria-hidden="true" aria-labelledby="editarProspModal-@Model.Id-ToggleLabel3"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="editarProspModal-@Model.Id-ToggleLabel3">Informações do Contato Inicial</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              @if (Model.Status.Any(p => p.Status == StatusProspeccao.ComProposta))
              {
                <div class="form-group">
                  <label asp-for="ValorProposta" class="col-form-label" style="font-weight: 600"></label>
                  <input asp-for="ValorProposta" type="number" step="0.01" class="form-control" value='@Model.ValorProposta.ToString("F2",CultureInfo.CreateSpecificCulture("en-US"))' />
                  <span asp-validation-for="ValorProposta" class="text-danger"></span>
                </div>
              } else {
                <div class="mb-2">
                    <label asp-for="ValorEstimado" class="col-form-label" style="font-weight: 600"></label>
                    <input asp-for="ValorEstimado" type="number" step="0.01" class="form-control" value='@Model.ValorEstimado.ToString("F2",CultureInfo.CreateSpecificCulture("en-US"))' />
                    <span asp-validation-for="ValorEstimado" class="text-danger"></span>
                </div>
              }
            </div>
            <div class="modal-footer">
              <button type="button" class="btn app-btn-primary" data-bs-target="#editarProspModal-@Model.Id-Toggle2"
                data-bs-toggle="modal">
                Anterior
              </button>
                        <input type="submit" value="Salvar" class="btn btn-submit app-btn-primary" />
            </div>
            <li class="select2-selection__choice d-none" title="NomeDefault" id="bloco_botao">
                <button type="button" class="select2-selection__choice__remove" tabindex="-1" title="Remove item" aria-label="Remove item">
                    <span aria-hidden="true">×</span>
                </button>
                <span class="select2-selection__choice__display">NomeDefault</span>
            </li>
          </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}