@using System.Globalization
@using BaseDeProjetos.Models
@using BaseDeProjetos.Helpers
@using BaseDeProjetos.Models.Enums
@using BaseDeProjetos.Models.ViewModels
@using System.Web
@model IEnumerable<ParticipacaoTotalViewModel>

@{
    ViewData["Title"] = "Participação";
    var cultura = new CultureInfo("pt-BR");

    Random random = new Random();

    var dataInicio = ViewData["dataInicio"] as string;
    var dataFim = ViewData["dataFim"] as string;

    Dictionary<string, decimal> valoresMaximos = ViewData["ValoresMaximos"] as Dictionary<string, decimal>;
    Dictionary<string, decimal> valoresMinimos = ViewData["ValoresMinimos"] as Dictionary<string, decimal>;
}

<link rel="stylesheet" href="~/css/participacao.css" />
<script>
    function zerarInputDataInicio(event) {
        let input = event.target;
        let dataInicio = input.value;

        let valorMinimo = 1; // date.time.now em js

        if (dataInicio < valorMinimo) {
            input.value = null;
            input.placeholder = "Sem filtro";
        }
    }

    function zerarInputAno(event) {
        let input = event.target;
        let anoSelecionado = input.value;

        let valorMaximo = new Date().getFullYear();

        if (anoSelecionado > valorMaximo) {
            input.value = null;
            input.placeholder = "Sem filtro";
        } else if (anoSelecionado == 1) {
            input.value = null;
            input.placeholder = "Sem filtro";
        } else if (anoSelecionado == -1) {
            input.value = new Date().getFullYear();
            input.placeholder = new Date().getFullYear().toString();
        }
    }

</script>

<partial name="Header" view-data="@ViewData" />
<script defer src="~/js/participacao/indicadores.js"></script>
<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="">
            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <div class="d-flex" style="justify-content: space-between">
                    <div class="d-flex flex-column">
                        <h1 class="app-page-title mb-0">Participação dos Pesquisadores</h1>
                    </div>

                    <form class="d-flex flex-row align-items-end gap-2" asp-controller="Participacao" asp-action="Index" method="get">
                        <div class="form-group">
                            <label for="dataInicio">Data Inicial:</label>
                            <input id="dataInicio" name="dataInicio" class="form-control" type="date" placeholder="@(string.IsNullOrEmpty(dataInicio) ? "Sem filtro" : dataInicio)" value="@(string.IsNullOrEmpty(dataInicio) ? null : dataInicio)" max="12" oninput="zerarInputMes(event)" />
                        </div>
                        
                        até
                        <div class="form-group">
                            <label for="dataFim">Data Final:</label>
                            <input id="dataFim" name="dataFim" class="form-control" type="date" placeholder="@(string.IsNullOrEmpty(dataFim) ? "Sem filtro" : dataFim)" value="@(string.IsNullOrEmpty(dataFim) ? null : dataFim)" max="12" oninput="zerarInputMes(event)" />
                        </div>
                        <button type="submit" class="btn app-btn-primary">Filtrar</button>
                    </form>
                </div>
            </div>
            <partial name="TabelaParticipacoes" />
        </div>
        <partial name="Footer" />
    </div>
</div>
