@using System.Globalization
@using BaseDeProjetos.Models
@using BaseDeProjetos.Helpers
@using BaseDeProjetos.Models.Enums
@using BaseDeProjetos.Models.ViewModels
@using System.Web
@model IEnumerable<ParticipacaoTotalViewModel>

@{
    ViewData["Title"] = "Participação";
    var cultura = new CultureInfo("pt-BR");

    Random random = new Random();

    var mesInicio = ViewData["mesInicio"] as string;
    var anoInicio = ViewData["anoInicio"] as string;
    var mesFim = ViewData["mesFim"] as string;
    var anoFim = ViewData["anoFim"] as string;

    Dictionary<string, decimal> valoresMaximos = ViewData["ValoresMaximos"] as Dictionary<string, decimal>;
    Dictionary<string, decimal> valoresMinimos = ViewData["ValoresMinimos"] as Dictionary<string, decimal>;
}

<link rel="stylesheet" href="~/css/participacao.css" />
<script>
    function zerarInputMes(event) {
        let input = event.target;
        let mesSelecionado = input.value;

        let valorMinimo = 1;

        if (mesSelecionado < valorMinimo) {
            input.value = null;
            input.placeholder = "Sem filtro";
        }
    }

    function zerarInputAno(event) {
        let input = event.target;
        let anoSelecionado = input.value;

        let valorMaximo = new Date().getFullYear();

        if (anoSelecionado > valorMaximo) {
            input.value = null;
            input.placeholder = "Sem filtro";
        } else if (anoSelecionado == 1) {
            input.value = null;
            input.placeholder = "Sem filtro";
        } else if (anoSelecionado == -1) {
            input.value = new Date().getFullYear();
            input.placeholder = new Date().getFullYear().toString();
        }
    }

</script>

<partial name="Header" view-data="@ViewData" />
<script defer src="~/js/participacao/indicadores.js"></script>
<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="">
            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <div class="d-flex" style="justify-content: space-between">
                    <div class="d-flex flex-column">
                        <h1 class="app-page-title mb-0">Participação dos Pesquisadores</h1>
                    </div>

                    <form class="d-flex flex-row align-items-end gap-2" asp-controller="Participacao" asp-action="Index" method="get">
                        <div class="form-group">
                            <label for="mesInicio">Mês Inicial:</label>
                            <input id="mesInicio" name="mesInicio" class="form-control" type="number" placeholder="@(string.IsNullOrEmpty(mesInicio) ? "Sem filtro" : mesInicio)" value="@(string.IsNullOrEmpty(mesInicio) ? null : mesInicio)" max="12" oninput="zerarInputMes(event)" />
                        </div>
                        <div class="form-group">
                            <label for="anoInicio">Ano Inicial:</label>
                            <input id="anoInicio" name="anoInicio" class="form-control" type="number" placeholder="@(string.IsNullOrEmpty(anoInicio) ? "Sem filtro" : anoInicio)" value="@(string.IsNullOrEmpty(anoInicio) ? null : anoInicio)" oninput="zerarInputAno(event)" />
                        </div>
                        até
                        <div class="form-group">
                            <label for="mesFim">Mês Final:</label>
                            <input id="mesFim" name="mesFim" class="form-control" type="number" placeholder="@(string.IsNullOrEmpty(mesFim) ? "Sem filtro" : mesFim)" value="@(string.IsNullOrEmpty(mesFim) ? null : mesFim)" max="12" oninput="zerarInputMes(event)" />
                        </div>
                        <div class="form-group">
                            <label for="ano">Ano Final:</label>
                            <input id="anoFim" name="anoFim" class="form-control" type="number" placeholder="@(string.IsNullOrEmpty(anoFim) ? "Sem filtro" : anoFim)" value="@(string.IsNullOrEmpty(anoFim) ? null : anoFim)" oninput="zerarInputAno(event)" />
                        </div>
                        <button type="submit" class="btn app-btn-primary">Filtrar</button>
                    </form>
                </div>
            </div>
            <partial name="TabelaParticipacoes" />
        </div>
        <partial name="Footer" />
    </div>
</div>
