@using System.Globalization
@using BaseDeProjetos.Models
@using BaseDeProjetos.Helpers
@using BaseDeProjetos.Models.Enums
@using BaseDeProjetos.Models.ViewModels
@using System.Web
@model IEnumerable<ParticipacaoTotalViewModel>

@{
    ViewData["Title"] = "Participação";
    var cultura = new CultureInfo("pt-BR");

    Random random = new Random();

    var mesInicio = ViewData["mesInicio"] as string;
    var anoInicio = ViewData["anoInicio"] as string;
    var mesFim = ViewData["mesFim"] as string;
    var anoFim = ViewData["anoFim"] as string;

    Dictionary<string, decimal> valoresMaximos = ViewData["ValoresMaximos"] as Dictionary<string, decimal>;
    Dictionary<string, decimal> valoresMinimos = ViewData["ValoresMinimos"] as Dictionary<string, decimal>;


}

<link rel="stylesheet" href="~/css/participacao.css" />
<script>
    function zerarInputMes(event) {
        let input = event.target;
        let mesSelecionado = input.value;

        let valorMinimo = 1;

        if (mesSelecionado < valorMinimo) {
            input.value = null;
            input.placeholder = "Sem filtro";
        }
    }

    function zerarInputAno(event) {
        let input = event.target;
        let anoSelecionado = input.value;

        let valorMaximo = new Date().getFullYear();

        if (anoSelecionado > valorMaximo) {
            input.value = null;
            input.placeholder = "Sem filtro";
        } else if (anoSelecionado == 1) {
            input.value = null;
            input.placeholder = "Sem filtro";
        } else if (anoSelecionado == -1) {
            input.value = new Date().getFullYear();
            input.placeholder = new Date().getFullYear().toString();
        }
    }

</script>

<partial name="Header" view-data="@ViewData" />
<script defer src="~/js/participacao/indicadores.js"></script>
<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="">
            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <div class="d-flex" style="justify-content: space-between">
                    <div class="d-flex flex-column">
                        <h1 class="app-page-title mb-0">Participação dos Pesquisadores</h1>
                    </div>

                    <form class="d-flex flex-row align-items-end gap-2" asp-controller="Participacao" asp-action="Index" method="get">
                        <div class="form-group">
                            <label for="mesInicio">Mês Inicial:</label>
                            <input id="mesInicio" name="mesInicio" class="form-control" type="number" placeholder="@(string.IsNullOrEmpty(mesInicio) ? "Sem filtro" : mesInicio)" value="@(string.IsNullOrEmpty(mesInicio) ? null : mesInicio)" max="12" oninput="zerarInputMes(event)" />
                        </div>
                        <div class="form-group">
                            <label for="anoInicio">Ano Inicial:</label>
                            <input id="anoInicio" name="anoInicio" class="form-control" type="number" placeholder="@(string.IsNullOrEmpty(anoInicio) ? "Sem filtro" : anoInicio)" value="@(string.IsNullOrEmpty(anoInicio) ? null : anoInicio)" oninput="zerarInputAno(event)" />
                        </div>
                        até
                        <div class="form-group">
                            <label for="mesFim">Mês Final:</label>
                            <input id="mesFim" name="mesFim" class="form-control" type="number" placeholder="@(string.IsNullOrEmpty(mesFim) ? "Sem filtro" : mesFim)" value="@(string.IsNullOrEmpty(mesFim) ? null : mesFim)" max="12" oninput="zerarInputMes(event)" />
                        </div>
                        <div class="form-group">
                            <label for="ano">Ano Final:</label>
                            <input id="anoFim" name="anoFim" class="form-control" type="number" placeholder="@(string.IsNullOrEmpty(anoFim) ? "Sem filtro" : anoFim)" value="@(string.IsNullOrEmpty(anoFim) ? null : anoFim)" oninput="zerarInputAno(event)" />
                        </div>
                        <button type="submit" class="btn app-btn-primary">Filtrar</button>
                    </form>
                </div>
            </div>

            <div class="tab-pane fade show active" id="valores" role="tabpanel" aria-labelledby="valores-tab">
                <div class="d-flex flex-wrap gap-2 justify-content-start">
                    <div class="dropdown">
                        <button class="btn app-btn-primary dropdown-toggle" type="button" id="dropdownParticipacaoFinanceiros" data-bs-toggle="dropdown" aria-expanded="false">
                            Indicadores Financeiros
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownParticipacaoFinanceiros">
                            <li><a class="dropdown-item" data-bs-target="#collapseIndicador" data-bs-toggle="collapse" href="#" onclick='puxarIndicador("ValorTotalProspeccoes", "Valor Total das Prospecções")'>Valor Total das Prospecções</a></li>
                            <li><a class="dropdown-item" data-bs-target="#collapseIndicador" data-bs-toggle="collapse" href="#" onclick='puxarIndicador("ValorMedioProspeccoes", "Valor Médio das Prospecções")'>Valor Médio das Prospecções</a></li>
                            <li><a class="dropdown-item" data-bs-target="#collapseIndicador" data-bs-toggle="collapse" href="#">Valor Total das Prospecções em Proposta</a></li>
                            <li><a class="dropdown-item" data-bs-target="#collapseIndicador" data-bs-toggle="collapse" href="#">Valor Médio das Prospecções em Proposta</a></li>
                            <li><a class="dropdown-item" data-bs-target="#collapseIndicador" data-bs-toggle="collapse" href="#">Valor Total das Prospecções Convertidas</a></li>
                            <li><a class="dropdown-item" data-bs-target="#collapseIndicador" data-bs-toggle="collapse" href="#">Valor Médio das Prospecções Convertidas</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn app-btn-primary dropdown-toggle" type="button" id="dropdownParticipacaoContribuicao" data-bs-toggle="dropdown" aria-expanded="false">
                            Indicadores de Contribuição
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownParticipacaoContribuicao">
                            <li><a class="dropdown-item" data-bs-target="#collapseIndicador" data-bs-toggle="collapse" href="#">Quantidade de Prospecções</a></li>
                            <li><a class="dropdown-item" data-bs-target="#collapseIndicador" data-bs-toggle="collapse" href="#">Quantidade de Prospecções (Líder)</a></li>
                            <li><a class="dropdown-item" data-bs-target="#collapseIndicador" data-bs-toggle="collapse" href="#">Quantidade de Prospecções (Membro)</a></li>
                            <li><a class="dropdown-item" data-bs-target="#collapseIndicador" data-bs-toggle="collapse" href="#">Taxa de Conversão em Proposta</a></li>
                            <li><a class="dropdown-item" data-bs-target="#collapseIndicador" data-bs-toggle="collapse" href="#">Taxa de Conversão em Projetos</a></li>
                            <li><a class="dropdown-item" data-bs-target="#collapseIndicador" data-bs-toggle="collapse" href="#">Quantidade de Projetos</a></li>
                            <li><a class="dropdown-item" data-bs-target="#collapseIndicador" data-bs-toggle="collapse" href="#">Quantidade de Prospecções em Proposta</a></li>
                            <li><a class="dropdown-item" data-bs-target="#collapseIndicador" data-bs-toggle="collapse" href="#">Quantidade de Prospecções Convertidas</a></li>
                            <li><a class="dropdown-item" data-bs-target="#collapseIndicador" data-bs-toggle="collapse" href="#">Assertividade na Precificação</a></li>
                            <li><a class="dropdown-item" data-bs-target="#collapseIndicador" data-bs-toggle="collapse" href="#">Fator de Contribuição Financeira</a></li>
                            <li><a class="dropdown-item" data-bs-target="#collapseIndicador" data-bs-toggle="collapse">Média dos Fatores</a></li>
                        </ul>
                    </div>

                </div>
                <div class="collapse" id="collapseIndicador">
                    <h4 class="app-card-title" id="tituloIndicador">Indicador: PLACEHOLDER</h4>
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div class="table-responsive">
                                <table class="table app-table-hover mb-0 text-left">
                                    <thead>
                                        <tr>
                                            <th class="cell">Pesquisador</th>
                                            <th class="cell">Valor</th>
                                            <th class="cell">Rank</th>
                                            <th class="cell">Detalhes</th>
                                        </tr>
                                    </thead>
                                    <tbody id="corpoTabela">
                                        <!-- Preencher os dados aqui-->
                                    </tbody>
                                </table>
                            </div><!--//table-responsive-->

                        </div><!--//app-card-body-->
                    </div>
                </div>
            </div>
        </div>
        <partial name="Footer" />
    </div>
</div>
