@using System.Globalization;
@using BaseDeProjetos.Models;
@model IEnumerable<ParticipacaoTotalViewModel>

@{
    ViewData["Title"] = "Participação";
    var cultura = new CultureInfo("pt-BR");
}

<style>
    .ribbon {
        width: 60px;
        height: 90px;
        position: absolute;
    }

        .ribbon span {
            position: absolute;
            display: block;
            width: 80px;
            padding: 5px 0;
            box-shadow: 0 5px 10px rgba(0,0,0,.1);
            font: 700 .7em sans-serif;
            text-shadow: 0 1px 1px rgba(0,0,0,.2);
            text-transform: uppercase;
            text-align: center;
        }

    /* top right*/
    .ribbon-top-right {
        top: -1.0em;
        right: -1.5em;
    }

        .ribbon-top-right span {
            left: -25px;
            top: 30px;
            transform: rotate(45deg);
        }

    .ribbon-red span {
        color: white;
        background-color: #aa0000;
    }

    .ribbon-blue span {
        color: white;
        background-color: #0088ff;
    }

    .ribbon-yellow span {
        color: black;
        background-color: #FFC90E;
    }

    .ribbon-green span {
        color: white;
        background-color: #22B14C;
    }

    .ribbon-green-yellow span {
        color: gold;
        background-color: #22B14C;
    }

    .ribbon-orange span {
        color: white;
        background-color: orangered;
    }
</style>

<script>
    function zerarInputMes(event) {
        let input = event.target;
        let mesSelecionado = input.value;

        let valorMinimo = 1;

        if (mesSelecionado < valorMinimo) {
            input.value = null;
            input.placeholder = "Sem filtro";
        }
    }

    function zerarInputAno(event) {
        let input = event.target;
        let anoSelecionado = input.value;

        let valorMaximo = 2023;

        if (anoSelecionado > valorMaximo) {
            input.value = null;
            input.placeholder = "Sem filtro";
        } else if (anoSelecionado == 1) {
            input.value = null;
            input.placeholder = "Sem filtro";
        } else if (anoSelecionado == -1) {
            input.value = 2023;
            input.placeholder = "2023";
        }
    }
</script>

<partial name="Header" view-data="@ViewData" />
<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <div class="d-flex" style="justify-content: space-between">
                    <div class="d-flex flex-column">
                        <h1 class="app-page-title mb-0">Participação dos Pesquisadores</h1>
                        @if (!string.IsNullOrEmpty(ViewData["ano"] as string) || !string.IsNullOrEmpty(ViewData["mes"] as string))
                        {
                            if (string.IsNullOrEmpty(ViewData["mes"] as string))
                            {
                                <h3 class="app-page-title text-muted mb-0">Filtro: @(ViewData["ano"] as string)</h3>
                            }
                            else
                            {
                                <h3 class="app-page-title text-muted mb-0">Filtro: @(ViewData["ano"] as string)/@(ViewData["mes"] as string)</h3>
                            }
                            
                        }
                    </div>
                    
                    <form class="d-flex flex-row align-items-end gap-2" asp-controller="Participacao" asp-action="Index" method="get">
                        <div class="form-group">
                            <label for="mes">Mês:</label>
                            <input id="mes" name="mes" class="form-control" type="number" placeholder="@DateTime.Now.Month" value="@DateTime.Now.Month" max="12" oninput="zerarInputMes(event)" />
                        </div>
                        <div class="form-group">
                            <label for="ano">Ano:</label>
                            <input id="ano" name="ano" class="form-control" type="number" placeholder="@DateTime.Now.Year" value="@DateTime.Now.Year" oninput="zerarInputAno(event)" />
                        </div>
                        <button type="submit" class="btn app-btn-primary">Filtrar</button>
                    </form>
                </div>
            </div>

            <div class="tab-pane fade show active" id="valores" role="tabpanel" aria-labelledby="valores-tab">
                <div class="app-card app-card-orders-table shadow-sm mb-5">
                    <div class="app-card-body">
                        <div class="table-responsive">
                            <table class="table mb-0 text-left">
                                <thead>
                                    <tr>
                                        <th class="cell">Membro</th>
                                        <th class="cell">Valor Total das Prospecções</th>
                                        <th class="cell">Valor Médio das Prospecções</th>
                                        <th class="cell">Valor Total das Propostas</th>
                                        <th class="cell">Valor Médio das Propostas</th>
                                        <th class="cell">Total de Prospecções</th>
                                        <th class="cell">Prospecções Em Proposta</th>
                                        <th class="cell">Prospecções Convertidas</th>
                                        <th class="cell">Taxa de Propostas</th>
                                        <th class="cell">Taxa de Convertidas</th>
                                        <th class="cell">Rank</th>
                                        <th class="cell">Detalhes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var participacaoTotal in @Model)
                                    {
                                        <tr>
                                            <div class="modal fade" id="ModalDetalhesParticipacaoTotal-@participacaoTotal.Id" tabindex="-1" aria-labelledby="ModalDetalhesParticipacaoTotal-@participacaoTotal.Id-Label"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered modal-xl">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="ModalDetalhesParticipacaoTotal-@participacaoTotal.Id-Label">Detalhes das Participações do Pesquisador</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body d-flex flex-column gap-1" style="background: #f5f6fe;">
                                                            <h5>Lista de Prospecções</h5>
                                                            @{
                                                                var participacoes = participacaoTotal.Participacoes;

                                                                participacoes.Sort((p1, p2) => p1.Convertida.CompareTo(p2.Convertida));
                                                                participacoes.Sort((p1, p2) => decimal.Compare(p1.ValorNominal, p2.ValorNominal));

                                                                <div class="row g-4">
                                                                    @foreach (var participacaoUnitaria in participacoes)
                                                                    {
                                                                        @await Html.PartialAsync("ListaParticipacoesUnitarias", participacaoUnitaria, ViewData)
                                                                    }
                                                                </div>
                                                            }
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a class="btn btn-outline-primary" data-bs-dismiss="modal" aria-label="Close" role="button">
                                                                Fechar
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <td class="cell">
                                                @participacaoTotal.Lider
                                            </td>
                                            <td class="cell">
                                                R$ @participacaoTotal.ValorTotalProspeccoes.ToString("N", cultura) (@participacaoTotal.RankPorIndicador["RankValorTotalProspeccoes"].ToString("N", cultura))
                                            </td>
                                            <td class="cell">
                                                R$ @participacaoTotal.ValorMedioProspeccoes.ToString("N", cultura) (@participacaoTotal.RankPorIndicador["RankValorMedioProspeccoes"].ToString("N", cultura))
                                            </td>
                                            <td class="cell">
                                                R$ @participacaoTotal.ValorTotalProspeccoesComProposta.ToString("N", cultura) (@participacaoTotal.RankPorIndicador["RankValorTotalProspeccoesComProposta"].ToString("N", cultura))
                                            </td>
                                            <td class="cell">
                                                R$ @participacaoTotal.ValorMedioProspeccoesComProposta.ToString("N", cultura) (@participacaoTotal.RankPorIndicador["RankValorMedioProspeccoesComProposta"].ToString("N", cultura))
                                            </td>
                                            <td class="cell">
                                                @participacaoTotal.QuantidadeProspeccoes (@participacaoTotal.RankPorIndicador["RankQuantidadeProspeccoes"].ToString("N", cultura))
                                            </td>
                                            <td class="cell">
                                                @participacaoTotal.QuantidadeProspeccoesComProposta (@participacaoTotal.RankPorIndicador["RankQuantidadeProspeccoesComProposta"].ToString("N", cultura))
                                            </td>
                                            <td class="cell">
                                                @participacaoTotal.QuantidadeProspeccoesProjetizadas (@participacaoTotal.RankPorIndicador["RankQuantidadeProspeccoesProjetizadas"].ToString("N", cultura))
                                            </td>
                                            <td class="cell">
                                                @participacaoTotal.TaxaConversaoProposta.ToString("N", cultura)%
                                            </td>
                                            <td class="cell">
                                                @participacaoTotal.TaxaConversaoProjeto.ToString("N", cultura)%
                                            </td>
                                            <td class="cell">
                                                @participacaoTotal.Rank.ToString("N", cultura)
                                            </td>
                                            <td class="cell">
                                                <button type="button" data-bs-target="#ModalDetalhesParticipacaoTotal-@participacaoTotal.Id" data-bs-toggle="modal" class="btn-sm app-btn-primary">
                                                    Detalhes
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="Footer" />
</div>
