@model IEnumerable<BaseDeProjetos.Models.Editais>

@foreach (var edital in Model)
{
    <div id="modalEditProjeto-@edital.Id-container">
    </div>

    <div id="modalDeleteProjeto-@edital.Id-container">
    </div>

    <div id="modalDetailsProjeto-@edital.Id-container">
    </div>

    <tr>       
        <td class="cell">@edital.Name</td>
        <td class="cell">@edital.Descricao</td>
        <td class="cell">@edital.Local</td>
        <td class="cell">@edital.StatusEdital</td>
        <td class="cell">@edital.AgenciaFomento</td>
        <td class="cell">@edital.PrazoSubmissao</td>
        <td class="cell">@edital.ValorEdital</td>
        <td class="cell">@edital.DataResultado</td>
        <td class="cell"><button type="button" data-bs-target="#modalAcoes-@edital.Id" id="button-@edital.Id" data-bs-toggle="modal" class="btn-sm app-btn-primary" @*onmouseover="carregarModaisProjeto('@edital.Id')"*@>Ações</button></td>
    </tr>
}