@model BaseDeProjetos.Models.Empresa

@{
    ViewData["Title"] = "Editar";
}

<form asp-action="Edit" asp-route-id="@Model.Id">
    <input type="hidden" asp-for="Id" />
    <div class="modal fade" id="EditEmpresaModal-@Model.Id" aria-hidden="true"
         aria-labelledby="EditEmpresaModal-@Model.Id-Label" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="EditEmpresaModal-@Model.Id-Label">
                        Editar Empresa
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CNPJ" class="control-label"></label>(Apenas números)
                        <div class="d-flex gap-2 flex-row">
                            <input onload="validarCNPJ('@Model.Id')" asp-for="CNPJ" id="valor_cnpj-@Model.Id" class="form-control" maxlength="14" required />
                            <button class="btn app-btn-primary" onclick="validarCNPJ('@Model.Id')" type="button">Buscar</button>
                        </div>
                    </div>
                    <hr />
                    <h6 style="display: none;" id="TipoEmpresaStatus-@Model.Id">Tipo:</h6>
                    <h6 style="display: none;" id="SituacaoEmpresaStatus-@Model.Id">Situação:</h6>

                    @if (Model.Industrial)
                    {
                    <div style="display: none; align-items: baseline;">
                        <h6 id="BoolCnaeIndustrial-@Model.Id">CNAE Industrial:</h6>
                        <i id="checkCNAE-@Model.Id" class="fa" style="display:none; color:rgb(255, 255, 255); margin-left:1%"></i>
                        <input asp-for="Industrial" id="BoolCnaeIndustrial-@Model.Id" value="@Model.Industrial" style="display: none;" readonly />
                    </div>
                    }
                    
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" id="NomeEmpresaCadastro-@Model.Id" class="form-control" value="@Model.Nome" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="NomeFantasia" class="control-label">Nome Fantasia</label>
                        <input asp-for="NomeFantasia" id="NomeFantasiaEmpresa-@Model.Id" class="form-control" value="@Model.NomeFantasia" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Estado" class="control-label"></label>
                        <input id="EstadoEmpresaCadastro-@Model.Id" class="form-control" value="@Model.Estado.GetDisplayName()" readonly /> <!--VISUAL APENAS-->
                        <input asp-for="Estado" id="EstadoEmpresaCadastroINT-@Model.Id" value="@Model.Estado" style="display: none;" readonly />
                    </div>
                    <hr />
                    <div class="form-group">
                        <label asp-for="Segmento" class="control-label"></label>
                        <select asp-for="Segmento" class="form-control" asp-items="Html.GetEnumSelectList<SegmentoEmpresa>().OrderBy(p=>p.Text)" value="@Model.Segmento"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Logo" class="control-label"></label>
                        <input type="file" class="form-control" id="logo_imagem-@Model.Id" onchange="Base64('@(Model.Id)')" />
                        <input asp-for="Logo" id="img_b64-@Model.Id" class="form-control" style="display: none;" value="@Model.Logo" onchange="MostrarImagem('@Model.Id')">
                    </div>
                    <img id="img_preview-@Model.Id" src="@Model.Logo" width="300" style="margin-top:5px;">
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal" class="btn app-btn-secondary">Voltar para Lista</button>
                    <input type="submit" value="Salvar" class="btn app-btn-primary" data-bs-target="#EditEmpresaModal-@Model.Id" data-bs-toggle="modal">
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
