@model BaseDeProjetos.Models.IndicadoresFinanceiros

@{
    ViewData["Title"] = "Indicadores";
}

<partial name="Header" view-data="@ViewData" />
<div style="padding-left: 25em; padding-right: 10em; padding-top: 2em">
    <h3>Você tem certeza que quer deletar esse indicador?</h3>
    <h4>IndicadoresFinanceiros</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Receita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Receita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Despesa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Despesa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Investimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Investimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QualiSeguranca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QualiSeguranca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Casa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Casa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdPesquisadores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdPesquisadores)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
