@model IEnumerable<BaseDeProjetos.Models.IndicadoresFinanceiros>

@{
    ViewData["Title"] = "Indicadores";
}

<div class="container">
    <a asp-action="Create" class="btn btn-primary m-4">Inserir Dados Financeiros</a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Receita)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Despesa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Investimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Casa)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Receita)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Despesa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Investimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Casa)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detalhes</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

            