@model IEnumerable<BaseDeProjetos.Models.IndicadoresFinanceiros>

@{
    ViewData["Title"] = "Indicadores";

    Dictionary<string, int> QuantidadeDeProspeccaoPorPotencialParceiro = ViewBag.QuantidadeDeProspeccaoPorPotencialParceiro;

    Dictionary<string, int> QuantidadeDeProspeccoesPorEmpresa = ViewBag.QuantidadeDeProspeccoesPorEmpresa;
    Dictionary<string, string> ValorSomaProspeccoesPorEmpresa = ViewBag.ValorSomaDeProspeccoesPorEmpresa;
    Dictionary<string, int> QuantidadeProspeccaoPorEstado = ViewBag.QuantidadeProspeccaoPorEstado;

    Dictionary<string, int> QuantidadeDeProspeccoesPorPesquisador = ViewBag.QuantidadeDeProspeccoesPorPesquisador;
    Dictionary<string, string> ValorSomaProspeccoesPorPesquisador = ViewBag.ValorSomaProspeccoesPorPesquisador;

    Dictionary<string, int> QuantidadeDeProspeccoesPorTipoContratacao = ViewBag.QuantidadeDeProspeccoesPorTipoContratacao;
    Dictionary<string, string> ValorSomaProspeccoesPorTipoContratacao = ViewBag.ValorSomaProspeccoesPorTipoContratacao;

    Dictionary<string, int> QuantidadeDeProspeccoesPorLinhaDePesquisa = ViewBag.QuantidadeDeProspeccoesPorLinhaDePesquisa;
    Dictionary<string, string> ValorSomaProspeccoesPorLinhaDePesquisa = ViewBag.ValorSomaProspeccoesPorLinhaDePesquisa;

    Dictionary<string, int> QuantidadeDeProspeccoesPorCasa = ViewBag.QuantidadeDeProspeccoesPorCasa;
    Dictionary<string, string> ValorSomaProspeccoesPorCasa = ViewBag.ValorSomaProspeccoesPorCasa;
}
<style>
    .content-main {
        width: 80vw;
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
    }

    h1 {
        margin-left: 20%;
    }


</style>

<partial name="Header" view-data="@ViewData" />



<div class="container" style="margin-left:20%;">
    <div class="content-main">
        <div class="w-100">
            <h3>
                Indicadores ISI
                <br />
                <small class="text-body-secondary">Visualize números relevantes dos institutos!</small>
            </h3>
        </div>

        <div class="card p-2">
            <div class="card-block">
                <h4 class="card-title">Casa</h4>
                <h6 class="card-subtitle text-muted">Quantidade e Valores</h6>
                <p class="card-text p-y-1">
                    <div style="max-width: 320px;">
                        <br />
                        Clique para visualizar a quantidade de prospecções por cada <b>CASA</b> na tabela e os valores acumulados em R$ no gráfico ao lado
                    </div>
                </p>
                <a href="#" class="btn btn-success">Visualizar</a>
            </div>
        </div>

        <div class="card p-2">
            <div class="card-block">
                <h4 class="card-title">Empresa</h4>
                <h6 class="card-subtitle text-muted">Quantidade e Valores</h6>
                <p class="card-text p-y-1">
                    <div style="max-width: 320px;">
                        <br />
                        Clique para visualizar a quantidade de prospecções por cada <b>EMPRESA</b> na tabela e os valores acumulados em R$ no gráfico ao lado
                    </div>
                </p>
                <a href="#" class="btn btn-success mb-0">Visualizar</a>
            </div>
        </div>

        <div class="card p-2">
            <div class="card-block">
                <h4 class="card-title">Linha de Pesquisa</h4>
                <h6 class="card-subtitle text-muted">Quantidade e Valores</h6>
                <p class="card-text p-y-1">
                    <div style="max-width: 320px;">
                        <br />
                        Clique para visualizar a quantidade de prospecções por cada <b>LINHA DE PESQUISA</b> na tabela e os valores acumulados em R$ no gráfico ao lado
                    </div>
                </p>
                <a href="#" class="btn btn-success">Visualizar</a>
            </div>
        </div>

        <div class="card p-2">
            <div class="card-block">
                <h4 class="card-title">Pesquisador</h4>
                <h6 class="card-subtitle text-muted">Quantidade e Valores</h6>
                <p class="card-text p-y-1">
                    <div style="max-width: 320px;">
                        <br />
                        Clique para visualizar a quantidade de prospecções por cada <b>PESQUISADOR</b> na tabela e os valores acumulados em R$ no gráfico ao lado
                    </div>
                </p>
                <a href="#" class="btn btn-success">Visualizar</a>
            </div>
        </div>

        <div class="card p-2">
            <div class="card-block">
                <h4 class="card-title">Potenciais Parceiros</h4>
                <h6 class="card-subtitle text-muted">Quantidade e Valores</h6>
                <p class="card-text p-y-1">
                    <div style="max-width: 320px;">
                        <br />
                        Clique para visualizar a quantidade de prospecções por cada <b>POTENCIAIS PARCEIROS</b> na tabela e os valores acumulados em R$ no gráfico ao lado
                    </div>
                </p>
                <a href="#" class="btn btn-success">Visualizar</a>
            </div>
        </div>

        <div class="card p-2">
            <div class="card-block">
                <h4 class="card-title">Tipo Contratação</h4>
                <h6 class="card-subtitle text-muted">Quantidade e Valores</h6>
                <p class="card-text p-y-1">
                    <div style="max-width: 320px;">
                        <br />
                        Clique para visualizar a quantidade de prospecções por cada <b>TIPO CONTRATAÇÃO</b> na tabela e os valores acumulados em R$ no gráfico ao lado
                    </div>
                </p>
                <a href="#" class="btn btn-success">Visualizar</a>
            </div>
        </div>
    </div>

    <br />

    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-success table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Quantidade</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in QuantidadeDeProspeccoesPorEmpresa)
                        {
                            <tr>
                                <td>@item.Key</td>
                                <td>@item.Value</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-success table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Valor</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in ValorSomaProspeccoesPorEmpresa)
                        {
                            <tr>
                                <td>@item.Key</td>
                                <td>@item.Value</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<partial name="Footer" />
