@model IEnumerable<BaseDeProjetos.Models.Empresa>
@using System.Collections

@{
    ViewData["Title"] = "Empresas";
    List<Pessoa> contatos = ViewBag.Contatos as List<Pessoa>;
    List<Prospeccao> prosps = ViewBag.Prospeccoes as List<Prospeccao>;
    List<Prospeccao> prospsPlanejadas = ViewBag.ProspeccoesPlanejadas as List<Prospeccao>;
    List<Prospeccao> prospsAtivas = ViewBag.ProspeccoesAtivas as List<Prospeccao>;
}
<style>
    .efeito-hover:hover{
        background-color: gray;
        transition: 500ms ease-in-out;
        border-radius: 10px;
        outline: none;
        border: none;
        color: white;
    }

    .empresa {
        border-radius: 10px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        margin: 0 20px 20px 0;
        overflow: hidden;
        width: 100%;
        border: 0.5px solid black;
    }

        .empresa h6 {
            opacity: 0.6;
            margin: 0;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .empresa h2 {
            letter-spacing: 1px;
            margin: 10px 0
        }

    .empresa-preview {
        background-color: #fff;
        color: #2A265F;
        min-width: 200px;
        max-width: 200px;
        max-height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #logoEmpresa {
        width: 100%;
        height: 100%;
        max-width: 180px;
        object-fit: contain;
        padding: 20px;
    }

    .empresa-preview a {
        color: #fff;
        display: inline-block;
        font-size: 12px;
        opacity: 0.6;
        margin-top: 30px;
        text-decoration: none;
    }

    .empresa-info {
        padding: 30px;
        position: relative;
        width: 100%;
    }

    .dados-container {
        position: absolute;
        top: 30px;
        right: 30px;
        text-align: right;
        width: 150px;
    }

    .dados {
        background-color: #ddd;
        border-radius: 3px;
        height: 5px;
        width: 100%;
    }

    .dados::after {
       border-radius: 3px;
       background-color: #2A265F;
       content: '';
       position: absolute;
       top: 0;
       left: 0;
       height: 5px;
       width: 66%;
    }

    .dados-text {
        font-size: 10px;
        opacity: 0.6;
        letter-spacing: 1px;
    }

    .btn-empresa {
        background-color: #0d6efd;
        border: none;
        border-radius: 5px;
        color: white;
        text-decoration: none;
        font-size: 14px;
        padding: 10px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Lista de Empresas</h1>
            <div>
            <div>
                <div>
                    <div class="row g-3">
                        <div class="col-8">
                            <form asp-controller="Empresas" asp-action="Index" method="get">
                                <input class="input-group" name="ano" value="Todos" id="inputLiderOuEmpresa" style="display: none; padding: 0px; margin: 0px;"/>                         
                                <div class="input-group mb-3">
                                    <input class="form-control" type="text" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Digite o nome da Empresa"/>
                                    <button type="submit" class="btn btn-primary">Procurar</button>
                                    <a asp-action="Index" class="btn btn-primary" style="margin-left: 15px;">Lista Completa</a>
                                </div>
                            </form>
                        </div>
                        <div class="col-4">                            
                            <a asp-action="Create" style="text-decoration:none;" class="btn btn-primary">Adicionar Empresa</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <nav class="navbar navbar-light bg-light">
                    <div class="container-fluid justify-content-end">
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <hr />


    <div class="row">

        @foreach (var item in Model)
        {
            <div class="empresa-container col-6">
                <div class="empresa">
                    <div class="empresa-preview">
                        @if (item.Logo != null)
                        {
                            <img style="background-color:white" id="logoEmpresa" src="@item.Logo" alt="Logo da Empresa" />
                        }
                        else
                        {
                            <h2 id="logo_alt">Sem Logo</h2>
                        }
                    </div>
                    <div class="empresa-info">

                        <div class="dados-container">
                        </div>

                        <p><strong>Nome Empresa:</strong> @item.Nome</p>
                        <p><strong>Prospeccoes Totais: </strong>@prosps.Where(P => P.Empresa.Id == @item.Id).Count()</p>
                        <p><strong>CNPJ:</strong> @item.CNPJ</p>
                        <p><strong>Setor:</strong> @item.Segmento</p>
                        <button type="button" class="btn-empresa efeito-hover" data-toggle="collapse" data-target="#e_@item.Id">Ações</button>
                        <button type="button" class="btn-empresa efeito-hover" data-toggle="collapse" data-target="#ce_@item.Id">Contatos</button>
                        <a asp-controller="FunilDeVendas" asp-action="Planejar" asp-route-id="@item.Id">
                            <button type="button" class="btn-empresa efeito-hover" data-target="#ce_@item.Id">Planejar</button>
                        </a>
                            <button type="button" class="btn-empresa efeito-hover" data-toggle="collapse" data-target="#pe_@item.Id">Prospecções</button>

                        <div id="e_@item.Id" class="collapse">
                            <h6>Ações</h6>
                            <div>
                                <a asp-action="Edit" asp-route-id="@item.Id"><button class="btn-empresa efeito-hover">Editar</button></a>
                                <a asp-action="Details" asp-route-id="@item.Id"><button class="btn-empresa efeito-hover">Ver Detalhes</button></a>
                                <a asp-action="Delete" asp-route-id="@item.Id"><button class="btn-empresa efeito-hover">Deletar</button></a>
                            </div>
                            <br />
                        </div>

                        <div id="ce_@item.Id" class="collapse">
                            <br />
                            <h6>Contatos Registrados</h6>

                            @if (contatos != null)
                            {
                                <small>
                                    <table>
                                        <tr>
                                            <th> Nome</th>
                                            <th> E-mail</th>
                                            <th> Telefone</th>
                                        </tr>

                                        @foreach (Pessoa contato in contatos.Where(c => c.empresa != null).Where(c2 => c2.empresa.Id == item.Id))
                                        {
                                            <tr>
                                                <td>@contato.Nome</td>
                                                <td>@contato.Cargo</td>
                                                <td>@contato.Email</td>
                                                <td>@contato.Telefone</td>
                                            </tr>
                                        }
                                    </table>
                                </small>
                            }
                            else
                            {
                                <p>Sem contatos registrados</p>
                            }
                            <br />

                                
                        </div>
                            <div id="pe_@item.Id" class="collapse">
                                <br />
                                <h6>Prospecções da empresa:</h6>

                                Planejadas:
                                @if (prospsPlanejadas.Where(P => P.Empresa.Id == @item.Id).Count() > 0)
                                {                                
                                    <small>
                                        <table>
                                            <tr>
                                                <th>Id</th>
                                                <th>Líder</th>
                                            </tr>

                                            @foreach (Prospeccao pro in prospsPlanejadas)
                                            {
                                                <tr>
                                                    <td>@pro.Id</td>
                                                    <td>@pro.Usuario</td>
                                                </tr>
                                            }
                                        </table>
                                    </small>
                                }
                                else
                                {
                                    <p>Não há prospecções planejadas para esta empresa</p>
                                }
                                <br/>
                                Ativas:
                                @if (prospsAtivas.Where(P => P.Empresa.Id == @item.Id).Count() > 0)
                                {
                                    <small>
                                        <table>                                            
                                            <tr>
                                                <th>Id</th>
                                                <th>Líder</th>
                                            </tr>

                                            @foreach (Prospeccao pro in prospsAtivas)
                                            {
                                                <tr>
                                                    <td>@pro.Id</td>
                                                    <td>@pro.Usuario</td>
                                                </tr>
                                            }
                                        </table>
                                    </small>
                                }
                                else
                                {
                                    <p>Não há prospecções ativas para esta empresa</p>
                                }
                            </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>