@model IEnumerable<BaseDeProjetos.Models.Empresa>
@using System.Collections
<style>
    .empresa {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        max-width: 100%;
        margin: 20px;
        overflow: hidden;
        width: 100%;
    }

        .empresa h6 {
            opacity: 0.6;
            margin: 0;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .empresa h2 {
            letter-spacing: 1px;
            margin: 10px 0;
        }

    .empresa-preview {
        background-color: #2A265F;
        color: #fff;
        max-width: 250px;
        width: 200px;
        height: 200px;
        min-height: 200px;
        min-width: 200px;
    }

    #logoEmpresa {
        object-fit: cover;
        position: center;
        width: 100%;
        height: 100%;
        max-width: 200px;
        max-width: 200px;
        min-height: 200px;
        min-width: 200px;
    }

    .empresa-preview a {
        color: #fff;
        display: inline-block;
        font-size: 12px;
        opacity: 0.6;
        margin-top: 30px;
        text-decoration: none;
    }

    .empresa-info {
        padding: 30px;
        position: relative;
        width: 100%;
    }

    .dados-container {
        position: absolute;
        top: 30px;
        right: 30px;
        text-align: right;
        width: 150px;
    }

    .dados {
        background-color: #ddd;
        border-radius: 3px;
        height: 5px;
        width: 100%;
    }

        .dados::after {
            border-radius: 3px;
            background-color: #2A265F;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 5px;
            width: 66%;
        }

    .dados-text {
        font-size: 10px;
        opacity: 0.6;
        letter-spacing: 1px;
    }

    .btn-empresa {
        background-color: #2A265F;
        border: none;
        border-radius: 5px;
        color: white;
        text-decoration: none;
        font-size: 14px;
        padding: 5px;
    }

    #logo_alt {
        text-align: center;
        padding-top: 45px;
    }
</style>
@{ ViewData["Title"] = "Empresas";
                List<Pessoa> contatos = ViewBag.Contatos as List<Pessoa>; }

<h1>Lista de Empresas</h1>

<p style="text-align: right">
    <a asp-action="Create">Adicionar Empresa</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
<div class="empresa-container col-6">
    <div class="empresa">
        <div class="empresa-preview">
            @if (item.Logo != null)
            {
<img style="background-color:white" id="logoEmpresa" src="@item.Logo" alt="Logo da Empresa" /> }
else
{
<h2 id="logo_alt">Logo da Empresa</h2>}

        </div>
        <div class="empresa-info">
            <div class="dados-container">
            </div>
            <p><strong>Nome Empresa:</strong> @item.Nome</p>
            <p><strong>CNPJ:</strong> @item.CNPJ</p>
            <p><strong>Setor:</strong> @item.Segmento</p>
            <button type="button" class="btn-empresa" data-toggle="collapse" data-target="#e_@item.Id">Ver ações</button>
            <button type="button" class="btn-empresa" data-toggle="collapse" data-target="#ce_@item.Id">Ver contatos</button>

            <div id="e_@item.Id" class="collapse">
                <hr />
                <h6>Ações</h6>
                <small>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Ver Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </small>
                <br />
            </div>
            <div id="ce_@item.Id" class="collapse">
                <hr />
                <h6>Contatos Registrados</h6>
                @if (contatos != null)
                {
                    <small>
                        <table>
                            <tr>
                                <th> Nome</th>
                                <th> E-mail</th>
                                <th> Telefone</th>
                            </tr>

                            @foreach (Pessoa contato in contatos.Where(c => c.empresa != null).Where(c2 => c2.empresa.Id == item.Id))
                            {
                                <tr>
                                    <td>@contato.Nome</td>
                                    <td>@contato.Email</td>
                                    <td>@contato.Telefone</td>
                                </tr>
                            }

                        </table>
                    </small>
                }
                else
                {
                    <p>Sem contatos registrados</p>
                }
                <br />
            </div>
        </div>


    </div>
</div>}
</div>