@model IEnumerable<BaseDeProjetos.Models.Empresa>
@using System.Globalization
@{
    ViewData["Title"] = "Empresas";
    List<Pessoa> contatos = ViewBag.Contatos as List<Pessoa>;
    List<Prospeccao> prospeccoes = ViewBag.Prospeccoes as List<Prospeccao>;
    List<Prospeccao> prospsPlanejadas = ViewBag.ProspeccoesPlanejadas as List<Prospeccao>;
    List<Prospeccao> prospsAtivas = ViewBag.ProspeccoesAtivas as List<Prospeccao>;
}

<script>
    var prospeccoesDetalhes = [];
    var empresasCarregadas = [];

    function carregarModalProspeccao(idProspeccao, tipo) {
        if (!prospeccoesDetalhes.includes(idProspeccao)) {
            if (tipo) {
                fetch(`/FunildeVendas/RetornarModal?idProsp=${idProspeccao}&tipo=${tipo}`)
                    .then(response => response.text())
                    .then(result => {
                        document.querySelector(`#modal${tipo}Prosp-${idProspeccao}-container`).innerHTML = result;
                    });
            }
        }
    }

    function carregarModalDetalhesProspeccao(idProspeccao) {
        // Verifica se o modal da prospeccao ja foi carregada para que não se carregue-o duas vezes sem necessidade
        let buttonName = "#button-" + idProspeccao
        console.log(buttonName)
        let buttonDetalhes = document.querySelector(buttonName)        

        if (!prospeccoesDetalhes.includes(idProspeccao)) {
          buttonDetalhes.disabled = true;
          buttonDetalhes.innerHTML = '<div class="spinner-border spinner-border-sm text-light" role="status"><span class="visually-hidden">Loading...</span></div>';
          fetch(`/FunildeVendas/RetornarModal?idProsp=${idProspeccao}&tipo=Details`)
            .then(response => response.text())
            .then(result => {
              document.querySelector(`#modalDetalhesProsp-${idProspeccao}-container`).innerHTML = result;
                    buttonDetalhes.innerHTML = 'Detalhes';
              buttonDetalhes.disabled = false;
              buttonDetalhes.removeAttribute("style");
            });
        }
    }

    function carregarModaisProspeccao(idProspeccao) {
        // O nome precisa bater com o nome da view, no sentido que, o sufixo será "ProspViewComponent". Em outras palavras, está acoplado.

        modaisDisponiveis = ["Edit", "Delete", "History", "CreateFollowup"];
        modaisDisponiveis.forEach((tipo) => {
            carregarModalProspeccao(idProspeccao, tipo)
        })
        carregarModalDetalhesProspeccao(idProspeccao);
        prospeccoesDetalhes.push(idProspeccao);
    }

    function carregarModalEmpresa(idEmpresa, tipo) {
        console.log(idEmpresa)
        if (!empresasCarregadas.includes(idEmpresa)) {
            if (tipo) {
                fetch(`/Empresas/RetornarModal?idEmpresa=${idEmpresa}&tipo=${tipo}`)
                    .then(response => response.text())
                    .then(result => {
                        document.querySelector(`#modal${tipo}Empresa-${idEmpresa}-container`).innerHTML = result;
                    });
            }
        }
    }

    function carregarModaisEmpresa(idEmpresa) {
        console.log(idEmpresa)
        modaisDisponiveis = ["Edit", "Delete"];
        modaisDisponiveis.forEach((tipo) => {
            carregarModalEmpresa(idEmpresa, tipo)
        })
        empresasCarregadas.push(idEmpresa);
    }
    
    function ChecarCNPJ() {
        document.getElementById("valor_cnpj").value = document.getElementById("valor_cnpj").value.replace(/[^0-9]/g, '');
        $("#StatusCNPJ").html("Checando...");
        $.post('@Url.Action("SeExisteCnpj", "Empresas")', { cnpj: $("#valor_cnpj").val() },
            function (data) {
                if (data == 0) {
                    $("#StatusCNPJ").html('');
                    $("#valor_cnpj").css("border-color", "");
                    validarCNPJ();
                } else {
                    $("#StatusCNPJ").html('<font color="Red">CNPJ já cadastrado.</font>');
                    $("#valor_cnpj").css("border-color", "Red");
                }
            }
        );
    }

</script>
<partial name="Header" view-data="@ViewData" />
<div class="app-wrapper">
	<div class="app-content pt-3 p-md-3 p-lg-4">
		<div class="container-xl">
			<div class="row g-3 mb-4 align-items-center justify-content-between">
				<div class="col-auto">
					<h1 class="app-page-title mb-0">Empresas</h1>
				</div>
				<div class="col-auto">
					<div class="page-utilities">
						<div class="row g-2 justify-content-start justify-content-md-end align-items-center">
							<div class="col-auto">
								<form class="table-search-form row gx-1 align-items-center">
									<div class="col-auto">
										<input type="text" id="search-orders" name="SearchString" value='@ViewData["CurrentFilter"]' class="form-control search-orders" placeholder="Buscar Empresa..." autocomplete="off">
									</div>
									<div class="col-auto">
										<button type="submit" class="btn app-btn-primary">Pesquisar</button>
									</div>
									<div class="col-auto">
										<button type="submit" class="btn app-btn-primary">Lista Completa</button>
									</div>
								</form>
							</div>
							<div class="col-auto">
                                @await Component.InvokeAsync("ModalCreateEmpresa")
                                <button type="button" class="btn app-btn-primary" data-bs-toggle="modal" data-bs-target="#CreateEmpresaModalToggle">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill"
										 viewBox="0 0 16 16">
										<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
									</svg> Adicionar Empresa
								</button>
								@*@await Component.InvokeAsync("ModalCreateProsp")*@
							</div>
						</div>
					</div>
				</div>
			</div>
            @foreach (var empresa in Model)
            {
                <div id="modalDeleteEmpresa-@empresa.Id-container">

                </div>
                
                <div id="modalEditEmpresa-@empresa.Id-container">

                </div>

                <div class="app-card app-card-notification shadow-sm mb-4">
                    <div class="app-card-header px-4 py-3">
                        <div class="row g-3 align-items-center">
                            <div class="col-12 col-lg-auto text-center text-lg-start">
                                @if (empresa.Logo != null)
                                {
                                    <img loading="lazy" style="background-color:white; object-fit:contain; width: 100px; height: 100px" id="logoEmpresa" src="@empresa.Logo" alt="Logo da Empresa" />
                                }
                                else
                                {
                                    <div id="logo_alt" style="width: 100px; height: 100px">Sem Logo</div>
                                }
                            </div>
                            <div class="col-12 col-lg-auto text-center text-lg-start">
                                @*<div class="notification-type mb-2"><span class="badge bg-info">Project</span></div>*@
                                <h4 class="notification-title mb-1">@empresa.Nome</h4>

                                <ul class="notification-meta list-inline mb-0">
                                    <li class="list-inline-item">
                                        @{
                                            if (empresa.CNPJ == "" || empresa.CNPJ == null || empresa.CNPJ == "0" || empresa.CNPJ == "00000000000000")
                                            {
                                                <nobr>CNPJ: Sem CNPJ Cadastrado</nobr>
                                            } else
                                            {
                                                <nobr>CNPJ: @empresa.CNPJ</nobr>
                                            }
                                        }                                        
                                    </li>
                                    <li class="list-inline-item">|</li>
                                    <li class="list-inline-item">Setor: @empresa.Segmento</li>
                                    <li class="list-inline-item">|</li>
                                    <li class="list-inline-item">Id: @empresa.Id</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="app-card-body p-4">
                        <div class="notification-content">
                            Prospecções Totais: @prospeccoes.Where(P => P.Empresa.Id == @empresa.Id).Count()
                        </div>
                    </div>
                    <div class="accordion accordion-flush" id="accordionEmpresa-@empresa.Id">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading-@empresa.Id-one">
                                <button class="action-link app-card-footer accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-@empresa.Id-one" aria-expanded="false" aria-controls="flush-collapse-@empresa.Id-one">
                                Ações
                                </button>
                            </h2>
                            <div id="flush-collapse-@empresa.Id-one" class="accordion-collapse collapse" aria-labelledby="flush-heading-@empresa.Id-one" data-bs-parent="#accordionEmpresa-@empresa.Id">
                                <div class="accordion-body">
                                    <div>
                                        <button type="button" id="button-@empresa.Id" class="btn app-btn-primary" data-bs-target="#EditEmpresaModal-@empresa.Id-Toggle" data-bs-toggle="modal" class="btn app-btn-primary" onmouseover="carregarModaisEmpresa('@empresa.Id')">   
                                        Editar
                                        </button>
                                        <a type="button" class="btn app-btn-primary" asp-controller="FunilDeVendas" asp-action="Planejar" asp-route-id="@empresa.Id">
                                            Planejar
                                        </a>
                                        @*<a asp-action="Details" asp-route-id="@empresa.Id">
                                            <button class="btn app-btn-primary">
                                                Ver
                                                Detalhes
                                            </button>
                                        </a>*@
                                        <button type="button" id="button-@empresa.Id" data-bs-target="#deletarEmpresaModal-@empresa.Id-Toggle"
                                        data-bs-toggle="modal" class="btn app-btn-primary" onmouseover="carregarModaisEmpresa('@empresa.Id')">Deletar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading-@empresa.Id-two">
                                <button class="action-link app-card-footer accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-@empresa.Id-two" aria-expanded="false" aria-controls="flush-collapse-@empresa.Id-two">
                                    Contatos
                                </button>
                            </h2>
                            <div id="flush-collapse-@empresa.Id-two" class="accordion-collapse collapse" aria-labelledby="flush-heading-@empresa.Id-two" data-bs-parent="accordionEmpresa-@empresa.Id">
                                <div class="accordion-body">
                                    <h6>Contatos Registrados:</h6>
                                    @if (contatos.Count() != 0)
                                    {
                                        int count = 1;
                                        @foreach (Pessoa contato in contatos.Where(c => c.empresa != null).Where(c2 => c2.empresa.Id == empresa.Id))
                                        {
                                            if (contato.Nome != null && contato.Email != null && contato.Telefone != null && contato.Cargo != null)
                                            {
                                                <div class="mb-2">Contato @count:</div>
                                                    <ul class="list-group">                                                    
                                                    @if (contato.Nome != null)
                                                    {
                                                        <li class="list-group-item">Nome: @contato.Nome</li>
                                                    }
                                                    @if (contato.Email != null)
                                                    {
                                                        <li class="list-group-item">Email: @contato.Email</li>
                                                    }
                                                    @if (contato.Telefone != null)
                                                    {
                                                        <li class="list-group-item">Telefone: @contato.Telefone</li>
                                                    }
                                                    @if (contato.Cargo != null)
                                                    {
                                                        <li class="list-group-item">Cargo: @contato.Cargo</li>
                                                    }
                                                    </ul>                                                
                                                <hr />
                                                count++;
                                            }                                            
                                        }                                        
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-heading-@empresa.Id-three">
                                <button class="action-link app-card-footer accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-@empresa.Id-three" aria-expanded="false" aria-controls="flush-collapse-@empresa.Id-three">
                                    Prospecções
                                </button>
                            </h2>
                            <div id="flush-collapse-@empresa.Id-three" class="accordion-collapse collapse" aria-labelledby="flush-heading-@empresa.Id-three" data-bs-parent="accordionEmpresa-@empresa.Id">
                                <div class="accordion-body">
                                    <h6>Prospecções Ativas:</h6>
                                    @if (prospsAtivas.Where(P => P.Empresa.Id == @empresa.Id).Count() > 0)
                                    {                                        
                                        <table class="table table-striped">
                                            <tr>
                                                <th>Nome</th>
                                                <th>Data do Último Status</th>
                                                <th>Líder</th>
                                                <th>Detalhes</th>
                                            </tr>

                                            @foreach (Prospeccao prospeccao in prospsAtivas.Where(P => P.Empresa.Id == @empresa.Id))
                                            {
                                                <div id="modalEditProsp-@prospeccao.Id-container">
                                                </div>
                                                <div id="modalDeleteProsp-@prospeccao.Id-container">
                                                </div>
                                                <div id="modalHistoryProsp-@prospeccao.Id-container">
                                                </div>
                                                <div id="modalCreateFollowupProsp-@prospeccao.Id-container">
                                                </div>
                                                <div id="modalEditFollowupProsp-@prospeccao.Id-container">
                                                </div>
                                                <div id="modalDetalhesProsp-@prospeccao.Id-container">
                                                </div>

                                                <tr>
                                                    <td>
                                                        @if (prospeccao.NomeProspeccao != null)
                                                        {
                                                            <span style="text-overflow: ellipsis;">@prospeccao.NomeProspeccao</span>
                                                        } 
                                                        else
                                                        {
                                                            <span style="text-overflow: ellipsis;">Prospecção sem Nome</span>
                                                        }
                                                    </td>
                                                    <td>@prospeccao.Status.OrderBy(p => p.Data).LastOrDefault().Data.ToString("dd/MM/yyyy", CultureInfo.CreateSpecificCulture("pt-BR"))</td>
                                                    <td>@prospeccao.Usuario</td>
                                                    <td><button type="button" id="button-@prospeccao.Id"
                                                    data-bs-target="#modalDetalhes-@prospeccao.Id" data-bs-toggle="modal"
                                                    class="btn-sm app-btn-primary"
                                                    onmouseover="carregarModaisProspeccao('@prospeccao.Id')">Detalhes</button></td>
                                                </tr>
                                            }
                                        </table>
                                    }
                                    else
                                    {
                                        <p>Não há prospecções ativas para esta empresa</p>
                                    }
                                    <br>
                                    <h6>Prospecções Planejadas:</h6>
                                    @if (prospsPlanejadas.Where(P => P.Empresa.Id == @empresa.Id).Count() > 0)
                                    {
                                        <table class="table table-striped">
                                            <tr>
                                                <th>Nome</th>
                                                <th>Data do Último Status</th>
                                                <th>Líder</th>
                                                <th>Detalhes</th>
                                            </tr>

                                            @foreach (Prospeccao prospeccao in prospsPlanejadas.Where(P => P.Empresa.Id == @empresa.Id))
                                            {
                                                <div id="modalEditProsp-@prospeccao.Id-container">
                                                </div>
                                                <div id="modalDeleteProsp-@prospeccao.Id-container">
                                                </div>
                                                <div id="modalHistoryProsp-@prospeccao.Id-container">
                                                </div>
                                                <div id="modalCreateFollowupProsp-@prospeccao.Id-container">
                                                </div>
                                                <div id="modalEditFollowupProsp-@prospeccao.Id-container">
                                                </div>
                                                <div id="modalDetalhesProsp-@prospeccao.Id-container">
                                                </div>
                                                <tr>
                                                    <td>
                                                        @if (prospeccao.NomeProspeccao != null)
                                                        {
                                                            <span style="text-overflow: ellipsis;">@prospeccao.NomeProspeccao</span>
                                                        } 
                                                        else
                                                        {
                                                            <span style="text-overflow: ellipsis;">Prospecção sem Nome</span>
                                                        }
                                                    </td>                                                    
                                                    <td>@prospeccao.Status.OrderBy(f => f.Data).LastOrDefault().Data.ToString("dd/MM/yyyy", CultureInfo.CreateSpecificCulture("pt-BR"))</td>
                                                    <td>@prospeccao.Usuario</td>
                                                    <td><button type="button" id="button-@prospeccao.Id"
                                                    data-bs-target="#modalDetalhes-@prospeccao.Id" data-bs-toggle="modal"
                                                    class="btn-sm app-btn-primary"
                                                    onmouseover="carregarModaisProspeccao('@prospeccao.Id','@prospeccao.NomeProspeccao')">Detalhes</button></td>
                                                </tr>
                                            }
                                        </table>
                                    }
                                    else
                                    {
                                        <p>Não há prospecções planejadas para esta empresa</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            }
		</div>
	</div>
    <partial name="Footer" />
</div>