@model BaseDeProjetos.Models.Maquina

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Maquina</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentificacaoDaMaquina)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentificacaoDaMaquina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManutencaoAnoAnterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManutencaoAnoAnterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorManutenCaoAnoAnterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorManutenCaoAnoAnterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OcupacaoMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OcupacaoMax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OcupacaoAtual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OcupacaoAtual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoBase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoBase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustoHoraMaquina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustoHoraMaquina)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
