@model BaseDeProjetos.Models.Producao

@{
    ViewData["Title"] = "Deletar";
    var idProducao = Model.Id;
}

<div class="modal fade" id="modalGestaoConhecimento-@idProducao-DeleteToggle" aria-hidden="true"
	aria-labelledby="modalGestaoConhecimento-@idProducao-DeleteToggleLabel" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modalGestaoConhecimento-@idProducao-DeleteToggleLabel">Deletar Produção
				</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">													
				<dl class="row">
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Casa)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Casa)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Grupo)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Grupo)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Titulo)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Titulo)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Descricao)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Descricao)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Autores)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Autores)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Data)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Data)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Local)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Local)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.DOI)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.DOI)
                    </dd>
                </dl>
			</div>
            <div class="modal-footer">
                <a asp-action="Index" class="btn app-btn-secondary">Voltar para Lista</a>
                <input type="submit" value="Deletar" class="btn btn-danger" data-bs-target="#modalGestaoConhecimento-@idProducao-DeleteToggle" data-bs-toggle="modal">
            </div>
		</div>
	</div>
</div>
