@model BaseDeProjetos.Models.Producao

@{
    ViewData["Title"] = "Detalhes";
}

<partial name="Header" view-data="@ViewData" />
<div style="padding-left: 25em; padding-right: 10em; padding-top: 2em">

    <h3>@Html.DisplayFor(model => model.Titulo)</h3>
    <dl class="row">
        <img class="col-md-4" src="@Html.DisplayFor(model => model.Imagem)" alt="imagem">
        <div class="col-md-6">
            <br>
            <dt>
                @Html.DisplayNameFor(model => model.Grupo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Grupo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Casa)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Casa)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Autores)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Autores)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.StatusPub)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StatusPub)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Data)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Data.Month)/@Html.DisplayFor(model => model.Data.Year)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Local)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Local)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DOI)
            </dt>
            <dd>
                <a href="@Html.DisplayFor(model => model.DOI)">@Html.DisplayFor(model => model.DOI)</a>            
            </dd>
            <div id='campos-patente' style='display:none'>
                <dt>
                    @Html.DisplayNameFor(model => model.Projeto)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Projeto)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Empresa)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Empresa)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Responsavel)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Responsavel)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.NumPatente)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.NumPatente)
                </dd>
            </div>
        </div>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar para Lista</a>
</div>
