@model BaseDeProjetos.Models.Producao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Producao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDaRealizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDaRealizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RealizadoEm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RealizadoEm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.publico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.publico)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
