@model BaseDeProjetos.Models.Producao

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>
<hr />
<div>
    <h3>@Html.DisplayFor(model => model.Titulo)</h3>
    <dl class="row">
        <img class="col-md-4" src="@Html.DisplayFor(model => model.Imagem)" alt="imagem">
        <div class="col-md-6">
            <br>
            <dt>
                @Html.DisplayNameFor(model => model.Grupo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Grupo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Autores)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Autores)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Data)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Data.Month)/@Html.DisplayFor(model => model.Data.Year)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Local)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Local)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DOI)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DOI)            
            </dd>
        </div>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar para Lista</a>
</div>
