@model BaseDeProjetos.Models.Projeto
@using BaseDeProjetos.Helpers;
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Adicionar Projeto";
    var nivelUsuario = ViewData["NivelUsuario"];
    var idUsuarioAtivo = ViewData["IdUsuario"];
    if (!(Context.Session.GetString("_Casa") is null))
    {
        ViewData["Area"] = Context.Session.GetString("_Casa");
    }
}
<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="modalCreateProjeto" aria-hidden="true" aria-labelledby="modalCreateProjetoLabel"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalCreateProjeto">Dados gerais do projeto</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input asp-for="UsuarioId" type="hidden" value="@idUsuarioAtivo" readonly />
                    <div class="form-group">
                        <label asp-for="Id" class="control-label"></label>
                        @{
                            var unique_id = $"proj_{DateTime.Now.Ticks}";
                        }
                        <input asp-for="Id" class="form-control" value="@unique_id" readonly />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ProponenteId" class="control-label">Proponente</label>
                        <select asp-for="ProponenteId" class="form-control">
                            <option value="">Selecione o Proponente:</option>
                            @foreach (var proponente in ViewData["Usuarios"] as List<UsuarioProjetoDTO>)
                            {
                                <option value="@proponente.Id">@proponente.UserName</option>
                            }
                        </select>
                        <span asp-validation-for="ProponenteId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Casa" class="control-label"></label>
                        @if (!(Context.Session.GetString("_Casa") is null))
                        {
                            <select asp-for="Casa" class="form-control">
                                @{
                                    var enum_v = (int)Enum.Parse(typeof(Instituto), Context.Session.GetString("_Casa"), true);
                                }
                                <option value="@enum_v" selected="selected">@Context.Session.GetString("_Casa")</option>
                            </select>
                        }
                        else
                        {
                            <select asp-for="Casa" class="form-control"
                                    asp-items="Html.GetEnumSelectList<Instituto>()"></select>
                        }
                        <span asp-validation-for="Casa" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="NomeProjeto" class="control-label"></label>
                        <input asp-for="NomeProjeto" class="form-control" id="nomeProjeto" />
                        <span asp-validation-for="NomeProjeto" class="text-danger"></span>
                    </div>


                    <div class="mb-2">
                        <label name="MembrosSelect" class="col-form-label" style="font-weight: 600">Membros</label>
                        <div style="margin-left:3%;display:none" class="spinner-border" role="status" id="loadingOpcoesSelectPessoas">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <input name="MembrosSelect" class="form-control d-none" id="inputTextPessoas" type="text" />
                        <button class="btn app-btn-primary" type="button" style="width: 100%;" id="botaoToggleCaixaRequestPessoas" onclick="gerarOpcoesSelect('Pessoas', 'modalCreateProjeto')">Buscar</button>
                        <div class="input-group flex-nowrap" id="caixaPesquisaPessoas" style="display:none;">
                            <select id="campoSelectPessoas" class="form-select" multiple="true"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="AreaPesquisa" class="control-label"></label>
                        <select asp-for="AreaPesquisa" class="form-control"
                                asp-items="Html.GetEnumSelectList<LinhaPesquisa>()"></select>
                        <span asp-validation-for="AreaPesquisa" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Inovacao" class="control-label"></label>
                        <select asp-for="Inovacao" class="form-control"
                                asp-items="Html.GetEnumSelectList<TipoInovacao>()"></select>
                        <span asp-validation-for="Inovacao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DataInicio" class="control-label"></label>
                        <input type="date" asp-for="DataInicio" class="form-control" />
                        <span asp-validation-for="DataInicio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DataEncerramento" class="control-label"></label>
                        <input type="date" asp-for="DataEncerramento" class="form-control" />
                        <span asp-validation-for="DataEncerramento" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DuracaoProjetoEmMeses" class="control-label"></label>
                        <input asp-for="DuracaoProjetoEmMeses" min="0" class="form-control" />
                        <span asp-validation-for="DuracaoProjetoEmMeses" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <select asp-for="Status" class="form-control"
                                asp-items="Html.GetEnumSelectList<StatusProjeto>()"></select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                </div>
                <input style="display:none" type="checkbox" disabled class="changeCheck" value="Pessoas" id="checkPessoas-@Model.Id">
                <div class="modal-footer">
                    <button type="button" class="btn app-btn-primary" data-bs-target="#modalCreateProjeto2"
                            data-bs-toggle="modal" onclick="selectToText()">
                        Próximo
                    </button>
                    @*<input type="submit" value="Concluir" class="btn app-btn-primary">*@
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalCreateProjeto2" aria-hidden="true" aria-labelledby="modalCreateProjetoLabel2"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalCreateProjeto2">Dados contábeis do projeto</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Estado" class="control-label"></label>
                        <select asp-for="Estado" class="form-control"
                                asp-items="Html.GetEnumSelectList<Estado>()"></select>
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SatisfacaoClienteParcial" class="control-label">Satisfação do Cliente (Parcial)</label>
                        <input class="form-control" type="number" step="0.1" min="0" max="100" asp-for="SatisfacaoClienteParcial" placeholder="100%" value="100" />
                    </div>
                    <div class="form-group">
                        <label asp-for="SatisfacaoClienteFinal" class="control-label">Satisfação do Cliente (Final)</label>
                        <input class="form-control" type="number" step="0.1" min="0" max="100" asp-for="SatisfacaoClienteFinal" placeholder="100%" value="100"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="FonteFomento" class="control-label"></label>
                        <select asp-for="FonteFomento" class="form-control"
                                asp-items="Html.GetEnumSelectList<TipoContratacao>()"></select>
                        <span asp-validation-for="FonteFomento" class="text-danger"></span>
                    </div>
                    <!-- Remover assim que passarmos a calcular o custo de forma automática -->
                    <div class="form-group">
                        <label asp-for="CustoHM" class="control-label"></label> (R$)
                        <input asp-for="CustoHM" class="form-control" placeholder="3,00" />
                        <span asp-validation-for="CustoHM" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ValorTotalProjeto" class="control-label"></label> (R$)
                        <input asp-for="ValorTotalProjeto" class="form-control" placeholder="3,00" />
                        <span asp-validation-for="ValorTotalProjeto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ValorAporteRecursos" class="control-label"></label> (R$)
                        <input asp-for="ValorAporteRecursos" class="form-control" placeholder="3,00" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Empresa" class="control-label"></label>
                        <select asp-for="Empresa.Id" class="form-control"
                                asp-items='@(ViewData["Empresas"] as SelectList).OrderBy(p=>p.Text)'>
                            <option>Selecione a empresa</option>
                        </select>
                        <span asp-validation-for="Empresa.Id" class="text-danger"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn app-btn-primary" data-bs-target="#modalCreateProjeto"
                            data-bs-toggle="modal">
                        Anterior
                    </button>
                    <!-- Apenas PMO, Dev ou Supervisor podem manipular essas informações -->
                    @if (nivelUsuario.ToString() == "PMO" || nivelUsuario.ToString() == "Dev" || nivelUsuario.ToString()
                    == "Supervisor")
                    {
                        <button type="button" class="btn app-btn-primary" data-bs-target="#modalCreateProjeto3"
                                data-bs-toggle="modal" onclick="repopularnomeprojeto()">
                            Próximo
                        </button>
                    }
                    else
                    {
                        <input type="submit" value="Concluir" class="btn app-btn-primary">
                    }
                </div>
            </div>
        </div>
    </div>
    @if (nivelUsuario.ToString() == "PMO" || nivelUsuario.ToString() == "Dev" || nivelUsuario.ToString() ==
    "Supervisor")
    {
        <div class="modal fade" id="modalCreateProjeto3" aria-hidden="true" aria-labelledby="modalCreateProjetoLabel3"
             tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalCreateProjeto3">Marque o que se aplica:</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label asp-for="NomeProjeto" class="control-label"></label>
                            <input class="form-control" id="repopularNomeProjeto" readonly />
                            <span asp-validation-for="NomeProjeto" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Indicadores[0].Id" class="control-label"></label>
                            @{
                                var unique_id_indicadores = $"proj_ind_{Guid.NewGuid()}";
                            }
                            <input asp-for="Indicadores[0].Id" class="form-control" value="@unique_id_indicadores"
                                   readonly />
                            <span asp-validation-for="Indicadores[0].Id" class="text-danger"></span>
                        </div>
                        <hr />
                        <h5>Checklist:</h5>
                        <div class="form-check">
                            <input asp-for="Indicadores[0].Bolsista" class="form-check-input" type="checkbox"
                                   id="checkBolsista" />
                            <label asp-for="Indicadores[0].Bolsista" class="form-check-label" for="checkBolsista"></label>
                        </div>
                        <div class="form-check">
                            <input asp-for="Indicadores[0].ComprasMaterial" class="form-check-input" type="checkbox"
                                   id="checkComprasMaterial" />
                            <label asp-for="Indicadores[0].ComprasMaterial" class="form-check-label"
                                   for="checkComprasMaterial"></label>
                        </div>
                        <div class="form-check">
                            <input asp-for="Indicadores[0].ComprasServico" class="form-check-input" type="checkbox"
                                   id="checkComprasServico" />
                            <label asp-for="Indicadores[0].ComprasServico" class="form-check-label"
                                   for="checkComprasServico"></label>
                        </div>
                        <div class="form-check">
                            <input asp-for="Indicadores[0].PrestacaoContas" class="form-check-input" type="checkbox"
                                   id="checkPrestacaoContas" />
                            <label asp-for="Indicadores[0].PrestacaoContas" class="form-check-label"
                                   for="checkPrestacaoContas"></label>
                        </div>
                        <div class="form-check">
                            <input asp-for="Indicadores[0].Regramento" class="form-check-input" type="checkbox"
                                   id="checkRegramento" />
                            <label asp-for="Indicadores[0].Regramento" class="form-check-label"
                                   for="checkRegramento"></label>
                        </div>
                        <div class="form-check">
                            <input asp-for="Indicadores[0].Relatorios" class="form-check-input" type="checkbox"
                                   id="checkRelatorios" />
                            <label asp-for="Indicadores[0].Relatorios" class="form-check-label"
                                   for="checkRelatorios"></label>
                        </div>
                        <div class="form-check">
                            <input asp-for="Indicadores[0].Repasse" class="form-check-input" type="checkbox"
                                   id="checkRepasse" />
                            <label asp-for="Indicadores[0].Repasse" class="form-check-label" for="checkRepasse"></label>
                        </div>
                        <div class="form-check">
                            <input asp-for="Indicadores[0].SatisfacaoMetadeProjeto" class="form-check-input" type="checkbox"
                                   id="checkSatisfacaoMetadeProjeto" />
                            <label asp-for="Indicadores[0].SatisfacaoMetadeProjeto" class="form-check-label"
                                   for="checkSatisfacaoMetadeProjeto"></label>
                        </div>
                        <div class="form-check">
                            <input asp-for="Indicadores[0].SatisfacaoFimProjeto" class="form-check-input" type="checkbox"
                                   id="checkSatisfacaoFimProjeto" />
                            <label asp-for="Indicadores[0].SatisfacaoFimProjeto" class="form-check-label"
                                   for="checkSatisfacaoFimProjeto"></label>
                        </div>
                    </div>
                    <input style="display:none" type="checkbox" disabled class="changeCheck-@Model.Id" value="Pessoas"
                           id="checkPessoas">
                    <div class="modal-footer">
                        <button type="button" class="btn app-btn-primary" data-bs-target="#modalCreateProjeto2"
                                data-bs-toggle="modal">
                            Anterior
                        </button>
                        <input type="submit" value="Concluir" class="btn app-btn-primary">
                    </div>
                </div>
            </div>
        </div>
    }
</form>