@model BaseDeProjetos.Models.Projeto
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Adicionar Projeto";
    var nivelUsuario = ViewData["NivelUsuario"];
    if (!(Context.Session.GetString("_Casa") is null))
    {
        ViewData["Area"] = Context.Session.GetString("_Casa");
    }
}
<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="modalCreateProjeto" aria-hidden="true" aria-labelledby="modalCreateProjetoLabel"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalCreateProjeto">Dados gerais do projeto</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Id" class="control-label"></label>
                        @{
                            var unique_id = $"proj_{DateTime.Now.Ticks}";
                        }
                        <input asp-for="Id" class="form-control" value="@unique_id" readonly />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Casa" class="control-label"></label>
                        @if (!(Context.Session.GetString("_Casa") is null))
                        {
                            <select asp-for="Casa" class="form-control">
                                @{
                                    var enum_v = (int)Enum.Parse(typeof(Instituto), Context.Session.GetString("_Casa"), true);
                                }
                                <option value="@enum_v" selected="selected">@Context.Session.GetString("_Casa")</option>
                            </select>
                        }
                        else
                        {
                            <select asp-for="Casa" class="form-control"
                                    asp-items="Html.GetEnumSelectList<Instituto>()"></select>
                        }
                        <span asp-validation-for="Casa" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="NomeProjeto" class="control-label"></label>
                        <input asp-for="NomeProjeto" class="form-control" id="nomeProjeto" />
                        <span asp-validation-for="NomeProjeto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MembrosEquipe" class="control-label p-2"></label>
                        <button type="button" class="btn app-btn-primary" data-bs-toggle="modal"
                                data-bs-target="#modalMembrosEquipe">
                            Abrir
                        </button>
                        <input asp-for="MembrosEquipe" class="form-control d-none" />
                        <span asp-validation-for="MembrosEquipe" class="text-danger"></span>
                        <div id="membrosSelecionados" class="form-control" style="padding:2rem;"></div>
                    </div>
                    <div class="form-group">
                        <label asp-for="AreaPesquisa" class="control-label"></label>
                        <select asp-for="AreaPesquisa" class="form-control"
                                asp-items="Html.GetEnumSelectList<LinhaPesquisa>()"></select>
                        <span asp-validation-for="AreaPesquisa" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Inovacao" class="control-label"></label>
                        <select asp-for="Inovacao" class="form-control"
                                asp-items="Html.GetEnumSelectList<TipoInovacao>()"></select>
                        <span asp-validation-for="Inovacao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DataInicio" class="control-label"></label>
                        <input type="date" asp-for="DataInicio" class="form-control" />
                        <span asp-validation-for="DataInicio" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DataEncerramento" class="control-label"></label>
                        <input type="date" asp-for="DataEncerramento" class="form-control" />
                        <span asp-validation-for="DataEncerramento" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DuracaoProjetoEmMeses" class="control-label"></label>
                        <input asp-for="DuracaoProjetoEmMeses" min="0" class="form-control" />
                        <span asp-validation-for="DuracaoProjetoEmMeses" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <select asp-for="Status" class="form-control"
                                asp-items="Html.GetEnumSelectList<StatusProjeto>()"></select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn app-btn-primary" data-bs-target="#modalCreateProjeto2"
                        data-bs-toggle="modal">Próximo</button>
                    @*<input type="submit" value="Concluir" class="btn app-btn-primary">*@
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalCreateProjeto2" aria-hidden="true" aria-labelledby="modalCreateProjetoLabel2"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalCreateProjeto2">Dados contábeis do projeto</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Estado" class="control-label"></label>
                        <select asp-for="Estado" class="form-control"
                                asp-items="Html.GetEnumSelectList<Estado>()"></select>
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FonteFomento" class="control-label"></label>
                        <select asp-for="FonteFomento" class="form-control"
                                asp-items="Html.GetEnumSelectList<TipoContratacao>()"></select>
                        <span asp-validation-for="FonteFomento" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ValorTotalProjeto" class="control-label"></label> (R$)
                        <input asp-for="ValorTotalProjeto" class="form-control" placeholder="3,00" />
                        <span asp-validation-for="ValorTotalProjeto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ValorAporteRecursos" class="control-label"></label> (R$)
                        <input asp-for="ValorAporteRecursos" class="form-control" placeholder="3,00" />
                        <span asp-validation-for="ValorAporteRecursos" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Empresa" class="control-label"></label>
                        <select asp-for="Empresa.Id" class="form-control"
                                asp-items='@(ViewData["Empresas"] as SelectList).OrderBy(p=>p.Text)'>
                            <option>Selecione a empresa</option>
                        </select>
                        <span asp-validation-for="Empresa.Id" class="text-danger"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn app-btn-primary" data-bs-target="#modalCreateProjeto"
                        data-bs-toggle="modal">Anterior</button>
                    <!-- Apenas PMO, Dev ou Supervisor podem manipular essas informações -->
                    @if (nivelUsuario.ToString() == "PMO" || nivelUsuario.ToString() == "Dev" || nivelUsuario.ToString() == "Supervisor")
                    {
                        <button type="button" class="btn app-btn-primary" data-bs-target="#modalCreateProjeto3"
                                data-bs-toggle="modal" onclick="repopularnomeprojeto()">
                            Próximo
                        </button>
                    }
                    else
                    {
                        <input type="submit" value="Concluir" class="btn app-btn-primary">
                    }
                </div>
            </div>
        </div>
    </div>
    @if (nivelUsuario.ToString() == "PMO" || nivelUsuario.ToString() == "Dev" || nivelUsuario.ToString() == "Supervisor")
    {
    <div class="modal fade" id="modalCreateProjeto3" aria-hidden="true" aria-labelledby="modalCreateProjetoLabel3"
        tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalCreateProjeto3">Quais indicadores estão válidos?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label asp-for="NomeProjeto" class="control-label"></label>
                            <input class="form-control" id="repopularNomeProjeto" readonly />
                            <span asp-validation-for="NomeProjeto" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Indicador.IdProjeto" class="control-label"></label>
                            <input asp-for="Indicador.IdProjeto" class="form-control" value="@unique_id" readonly />
                            <span asp-validation-for="Indicador.IdProjeto" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Indicador.Id" class="control-label"></label>
                            @{
                                var unique_id_indicadores = $"proj_ind_{Guid.NewGuid()}";
                            }
                            <input asp-for="Indicador.Id" class="form-control" value="@unique_id_indicadores" readonly />
                        <span asp-validation-for="Indicador.Id" class="text-danger"></span>
                        </div>
                        <hr />
                        <h5>Indicadores:</h5>
                        <div class="form-check">
                            <input asp-for="Indicador.Bolsista" class="form-check-input" type="checkbox" id="checkBolsista"/>
                            <label asp-for="Indicador.Bolsista" class="form-check-label" for="checkBolsista"></label>
                        </div>
                        <div class="form-check">
                            <input asp-for="Indicador.ComprasMaterial" class="form-check-input" type="checkbox" id="checkComprasMaterial" />
                            <label asp-for="Indicador.ComprasMaterial" class="form-check-label" for="checkComprasMaterial"></label>
                        </div>
                        <div class="form-check">
                            <input asp-for="Indicador.ComprasServico" class="form-check-input" type="checkbox" id="checkComprasServico" />
                            <label asp-for="Indicador.ComprasServico" class="form-check-label" for="checkComprasServico"></label>
                        </div>
                        <div class="form-check">
                            <input asp-for="Indicador.PrestacaoContas" class="form-check-input" type="checkbox" id="checkPrestacaoContas" />
                            <label asp-for="Indicador.PrestacaoContas" class="form-check-label" for="checkPrestacaoContas"></label>
                        </div>
                        <div class="form-check">
                            <input asp-for="Indicador.Regramento" class="form-check-input" type="checkbox" id="checkRegramento" />
                            <label asp-for="Indicador.Regramento" class="form-check-label" for="checkRegramento"></label>
                        </div>
                        <div class="form-check">
                            <input asp-for="Indicador.Relatorios" class="form-check-input" type="checkbox" id="checkRelatorios" />
                            <label asp-for="Indicador.Relatorios" class="form-check-label" for="checkRelatorios"></label>
                        </div>
                        <div class="form-check">
                            <input asp-for="Indicador.Repasse" class="form-check-input" type="checkbox" id="checkRepasse" />
                            <label asp-for="Indicador.Repasse" class="form-check-label" for="checkRepasse"></label>
                        </div>
                        <div class="form-check">
                            <input asp-for="Indicador.SatisfacaoMetadeProjeto" class="form-check-input" type="checkbox" id="checkSatisfacaoMetadeProjeto" />
                            <label asp-for="Indicador.SatisfacaoMetadeProjeto" class="form-check-label" for="checkSatisfacaoMetadeProjeto"></label>
                        </div>
                        <div class="form-check">
                            <input asp-for="Indicador.SatisfacaoFimProjeto" class="form-check-input" type="checkbox" id="checkSatisfacaoFimProjeto" />
                            <label asp-for="Indicador.SatisfacaoFimProjeto" class="form-check-label" for="checkSatisfacaoFimProjeto"></label>
                        </div>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn app-btn-primary" data-bs-target="#modalCreateProjeto2"
                            data-bs-toggle="modal">
                        Anterior
                    </button>
                    <input type="submit" value="Concluir" class="btn app-btn-primary">
                </div>
            </div>
        </div>
    </div>
    }

    <div class="modal fade" id="modalMembrosEquipe" tabindex="-1" aria-labelledby="modalMembrosEquipeLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalMembrosEquipeLabel">Inserir Membros da Equipe</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            onclick="criarListaDeUsuarios.enviarMembrosParaInput()">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body d-flex justify-content-between gap-2">
                    <div style="width:45%;">
                        <span>Membros do Projeto</span>
                        <div id="membrosDoProjeto" ondrop="dnd.drop(event)" ondragover="dnd.allowDrop(event)"
                             class="border border-secondary rounded" style="width:100%;min-height:150px;padding:10px;">
                        </div>
                    </div>
                    <div style="width:45%;">
                        <span>Membros Disponíveis</span>
                        <div id="membrosDisponiveis" ondrop="dnd.drop(event)" ondragover="dnd.allowDrop(event)"
                             class="border border-secondary rounded"
                             style="width:100%;height:150px;padding:10px;overflow-y:auto;">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn app-btn-primary"
                        onclick="criarListaDeUsuarios.exibirMembrosSelecionados()">Adicionar</button>
                </div>
            </div>
        </div>
    </div>


</form>

<script>
    let dnd = new DragAndDrop();
    let criarListaDeUsuarios = new ObterListaDeUsuariosJson();
    criarListaDeUsuarios.enviarMembrosParaInput();
    criarListaDeUsuarios.exibirMembrosSelecionados();    
</script>