@model BaseDeProjetos.Models.StatusCurva

<partial name="Header" view-data="@ViewData" />

<div class="container">
    <div class="app-wrapper">
        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">
                <h3>Você deseja realmente deletar esse item?</h3>
                <div>
                    <h4>StatusCurva</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ProjetoId)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ProjetoId)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Data)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Data)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Fisico)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Fisico)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Financeiro)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Financeiro)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        <a asp-action="Index">Voltar para listagem</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="Footer" />
