@model BaseDeProjetos.Models.Prospeccao
@using BaseDeProjetos.Helpers
@using System.Globalization

<div class="modal fade" id="modalDetalhes-@Model.Id" tabindex="-1" aria-labelledby="modalDetalhes-@Model.Id-Label"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalDetalhes-@Model.Id-Label">Detalhes da Prospecção</h1>
                <ul class="notification-meta list-inline mb-0">
                    <li class="list-inline-item">
                        <nobr>Id: @Model.Id</nobr>
                    </li>
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column gap-1">
                <h1 class="app-card-title">Empresa:</h1>
                <span>@Model.Empresa.Nome</span>
                <br>
                <h1 class="app-card-title">Líder</h1>
                @if (Model.Usuario != null)
                {
                    <span>@Model.Usuario.UserName</span>
                }
                else
                {
                    <span>Sem Líder</span>
                }
                <br>
                <h1 class="app-card-title">Nome:</h1>
                <span>@Model.NomeProspeccao</span>
                <br>
                <h1 class="app-card-title">Origem:</h1>
                <span>@Model.Origem.GetDisplayName()</span>
                <br>
                <h1 class="app-card-title">Tipo de Contratação:</h1>
                <span>@Model.TipoContratacao.GetDisplayName()</span>
                <br>
                <h1 class="app-card-title">Status:</h1>
                <span>@Model.Status.OrderBy(followup => followup.Data).Last().Status.GetDisplayName()</span>
                <br>
                <h1 class="app-card-title">Valor Estimado:</h1>
                <nobr>
                    @if (Model.ValorEstimado != 0)
                    {
                        <span>R$ @Helpers.FormatarValoresDashboards((decimal)Model.ValorEstimado)</span>
                    }
                    else
                    {
                        <span>Valor não informado</span>
                    }
                </nobr>
                <br>
                <h1 class="app-card-title">Valor Proposta:</h1>
                <nobr>
                    @if (Model.ValorProposta != 0)
                    {
                        <span>R$ @Helpers.FormatarValoresDashboards((decimal)Model.ValorProposta)</span>
                    }
                    else
                    {
                        <span>Valor não informado</span>
                    }
                </nobr>
                <hr>
                <h1 class="app-card-title">Último Status:</h1>
                <span>@Model.Status.OrderBy(p => p.Data).Last().Anotacoes</span>
                <br>
                <p>Data: @Model.Status.OrderBy(p => p.Data).Last().Data.ToString("dd/MM/yyyy",
                    CultureInfo.CreateSpecificCulture("pt-BR"))</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-outline-primary" data-bs-toggle="modal" href="#editarProspModal-@Model.Id-Toggle"
                    role="button">
                    Editar
                </a>
                <a class="btn btn-outline-primary" data-bs-toggle="modal" href="#historyProspModal-@Model.Id-Toggle"
                    role="button">
                    Histórico
                </a>
                <a class="btn btn-outline-primary" data-bs-toggle="modal"
                    href="#CreateFollowupProspModal-@Model.Id-Toggle" role="button">
                    Incluir Status
                </a>
                <a class="btn btn-outline-primary" data-bs-toggle="modal" href="#deletarProspModal-@Model.Id-Toggle"
                    role="button">
                    Deletar
                </a>

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}